/* line 6, ../../../sass/app/common/slider.scss */
.sequence {
  background-color: #0e0e0e;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  position: relative;
  clear: both;
  z-index: 1;
}
/* line 15, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas li > * {
  top: 0px;
  position: absolute;
}
/* line 21, ../../../sass/app/common/slider.scss */
.sequence .sequence-next,
.sequence .sequence-prev {
  top: 0em;
  display: none;
  pointer-events: all;
  z-index: 3;
}
/* line 29, ../../../sass/app/common/slider.scss */
.sequence .sequence-next,
.sequence .sequence-prev {
  height: 100%;
  width: 20%;
  position: absolute;
}
/* line 34, ../../../sass/app/common/slider.scss */
.sequence .sequence-next img,
.sequence .sequence-prev img {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0.5;
  color: white;
  font-weight: bold;
  padding: 0px;
  position: absolute;
  z-index: 1000;
  height: 35px;
}
/* line 46, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:hover,
.sequence .sequence-prev:hover {
  cursor: pointer;
}
/* line 49, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:hover img,
.sequence .sequence-prev:hover img {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1;
}
/* line 59, ../../../sass/app/common/slider.scss */
.sequence .sequence-prev:hover,
.sequence .sequence-next:hover {
  cursor: pointer;
  background-color: rgba(78, 78, 78, 0.25);
}
/* line 65, ../../../sass/app/common/slider.scss */
.sequence .sequence-prev {
  left: 0px;
}
/* line 68, ../../../sass/app/common/slider.scss */
.sequence .sequence-prev img {
  left: 1%;
  content: url("/images/chevron-white-left-large.png");
}
/* line 74, ../../../sass/app/common/slider.scss */
.sequence .sequence-next {
  right: 0px;
}
/* line 77, ../../../sass/app/common/slider.scss */
.sequence .sequence-next img {
  right: 1%;
  content: url("/images/chevron-white-right-large.png");
}
/* line 83, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas {
  height: 100%;
  width: 100%;
  list-style-type: none;
}
/* line 89, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li {
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
/* line 96, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 100%;
  cursor: pointer;
}
/* line 105, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo h2.title {
  width: 100%;
  height: 40px;
  font-size: 1.8em;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.3em;
  color: #f3f3f3;
  position: absolute;
  left: 0;
}
/* line 117, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo img {
  min-height: 100%;
  min-width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
/* line 127, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-in, .sequence .sequence-canvas > li.animate-out {
  pointer-events: all;
}
/* line 130, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-in .photo, .sequence .sequence-canvas > li.animate-out .photo {
  -webkit-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  left: 0;
}
/* line 138, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-out .photo {
  left: -100%;
}

/* line 148, ../../../sass/app/common/slider.scss */
.activity-highlight .sequence {
  height: 250px;
}
/* line 152, ../../../sass/app/common/slider.scss */
.activity-highlight .sequence .sequence-next img,
.activity-highlight .sequence .sequence-prev img {
  top: 107.5px;
}
/* line 156, ../../../sass/app/common/slider.scss */
.activity-highlight .sequence li .photo {
  background-size: contain;
}
/* line 161, ../../../sass/app/common/slider.scss */
.activity-highlight.large {
  margin: 0em;
}
/* line 164, ../../../sass/app/common/slider.scss */
.activity-highlight.large .sequence {
  height: 320px;
}
@media only screen and (min-width: 48em) {
  /* line 164, ../../../sass/app/common/slider.scss */
  .activity-highlight.large .sequence {
    height: 400px;
  }
}
/* line 172, ../../../sass/app/common/slider.scss */
.activity-highlight.large .sequence .sequence-next img,
.activity-highlight.large .sequence .sequence-prev img {
  top: 48%;
}

/* line 179, ../../../sass/app/common/slider.scss */
.feed-item .sequence {
  height: 250px;
  margin-left: 0em;
  margin-right: 0em;
}
/* line 184, ../../../sass/app/common/slider.scss */
.feed-item .sequence.expanded {
  height: 400px;
}
/* line 189, ../../../sass/app/common/slider.scss */
.feed-item .sequence .sequence-next img,
.feed-item .sequence .sequence-prev img {
  top: 48%;
}
/* line 193, ../../../sass/app/common/slider.scss */
.feed-item .sequence li .photo {
  background-size: cover;
}

/* line 198, ../../../sass/app/common/slider.scss */
.sequence.fullscreen {
  height: 100% !important;
  width: 100% !important;
}
/* line 203, ../../../sass/app/common/slider.scss */
.sequence.fullscreen .sequence-next img,
.sequence.fullscreen .sequence-prev img {
  top: 50%;
  opacity: 0.2;
  height: 70px;
}
/* line 209, ../../../sass/app/common/slider.scss */
.sequence.fullscreen li .photo {
  background-size: contain;
}
