@keyframes preload {
  /* line 7, ../../../sass/app/common/slider.scss */
  0% {
    opacity: 1;
  }

  /* line 8, ../../../sass/app/common/slider.scss */
  50% {
    opacity: 0;
  }

  /* line 9, ../../../sass/app/common/slider.scss */
  100% {
    opacity: 1;
  }
}

/* line 12, ../../../sass/app/common/slider.scss */
.sequence {
  background-color: #0e0e0e;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  position: relative;
  clear: both;
  z-index: 1;
}
/* line 21, ../../../sass/app/common/slider.scss */
.sequence.sequence-preloader {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
}
/* line 27, ../../../sass/app/common/slider.scss */
.sequence.sequence-preloader .preloading .circle {
  fill: #ff9442;
  display: inline-block;
  height: 12px;
  position: relative;
  top: -50%;
  width: 12px;
  animation: preload 1s infinite;
}
/* line 37, ../../../sass/app/common/slider.scss */
.sequence.sequence-preloader .preloading .circle:nth-child(2) {
  animation-delay: .15s;
}
/* line 41, ../../../sass/app/common/slider.scss */
.sequence.sequence-preloader .preloading .circle:nth-child(3) {
  animation-delay: .3s;
}
/* line 46, ../../../sass/app/common/slider.scss */
.sequence .preloading {
  display: block;
  height: 12px;
  margin: 0 auto;
  top: 50%;
  margin-top: -6px;
  position: relative;
  width: 48px;
}
/* line 56, ../../../sass/app/common/slider.scss */
.sequence .preloading-complete {
  opacity: 0;
  visibility: hidden;
  transition-duration: 1s;
}
/* line 62, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas li > * {
  top: 0px;
  position: absolute;
}
/* line 68, ../../../sass/app/common/slider.scss */
.sequence .sequence-next,
.sequence .sequence-prev {
  top: 0em;
  display: none;
  pointer-events: all;
  z-index: 3;
}
/* line 76, ../../../sass/app/common/slider.scss */
.sequence .sequence-next,
.sequence .sequence-prev {
  height: 100%;
  width: 20%;
  position: absolute;
}
/* line 82, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:before,
.sequence .sequence-prev:before {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  background-size: 35px 35px;
  content: "";
  background-repeat: no-repeat;
}
/* line 97, ../../../sass/app/common/slider.scss */
.sequence .sequence-prev {
  left: 0px;
}
/* line 100, ../../../sass/app/common/slider.scss */
.sequence .sequence-prev:before {
  left: 1%;
  background-image: url("/images/chevron-white-left-large.png");
}
/* line 106, ../../../sass/app/common/slider.scss */
.sequence .sequence-next {
  right: 0px;
}
/* line 109, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:before {
  right: 1%;
  background-image: url("/images/chevron-white-right-large.png");
}
/* line 117, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:hover,
.sequence .sequence-prev:hover {
  cursor: pointer;
}
/* line 120, ../../../sass/app/common/slider.scss */
.sequence .sequence-next:hover:before,
.sequence .sequence-prev:hover:before {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 1;
}
/* line 128, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas {
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}
/* line 135, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li {
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
/* line 142, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 100%;
  cursor: pointer;
}
/* line 155, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo .details {
  left: 0px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 2px;
  padding-bottom: 4px;
  bottom: 0em;
  position: absolute;
  bottom: 0em;
  z-index: 6;
  width: 100%;
  padding-top: 0.46875rem;
}
/* line 169, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo h2.title, .sequence .sequence-canvas > li .photo h3.description {
  width: 100%;
  color: white;
  font-weight: 300;
  margin-bottom: 0.46875rem;
}
/* line 176, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo h2.title {
  font-size: 1.1rem;
}
/* line 180, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo h3.description {
  font-size: 0.8rem;
  color: #e6e6e6;
}
/* line 185, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li .photo img {
  min-height: 100%;
  min-width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
/* line 195, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-in, .sequence .sequence-canvas > li.animate-out {
  pointer-events: all;
}
/* line 198, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-in .photo, .sequence .sequence-canvas > li.animate-out .photo {
  -webkit-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  left: 0;
}
/* line 205, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-in .details, .sequence .sequence-canvas > li.animate-out .details {
  -webkit-transition: bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 211, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-out .photo {
  left: -100%;
}
/* line 215, ../../../sass/app/common/slider.scss */
.sequence .sequence-canvas > li.animate-out .details {
  bottom: -100%;
}

/* line 226, ../../../sass/app/common/slider.scss */
.activity-highlight .sequence {
  height: 250px;
}
/* line 229, ../../../sass/app/common/slider.scss */
.activity-highlight .sequence li .photo {
  background-size: contain;
}
/* line 234, ../../../sass/app/common/slider.scss */
.activity-highlight.large {
  margin: 0em;
}
/* line 237, ../../../sass/app/common/slider.scss */
.activity-highlight.large .sequence {
  height: 320px;
}
@media only screen and (min-width: 48em) {
  /* line 237, ../../../sass/app/common/slider.scss */
  .activity-highlight.large .sequence {
    height: 400px;
  }
}

/* line 247, ../../../sass/app/common/slider.scss */
.feed-item .sequence {
  height: 250px;
  margin-left: 0em;
  margin-right: 0em;
}
/* line 252, ../../../sass/app/common/slider.scss */
.feed-item .sequence.expanded {
  height: 400px;
}
/* line 256, ../../../sass/app/common/slider.scss */
.feed-item .sequence li .photo {
  background-size: cover;
}

/* line 261, ../../../sass/app/common/slider.scss */
.sequence.fullscreen {
  height: 100% !important;
  width: 100% !important;
}
/* line 266, ../../../sass/app/common/slider.scss */
.sequence.fullscreen .sequence-next:before,
.sequence.fullscreen .sequence-prev:before {
  top: 50%;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  margin-top: -35px;
}
/* line 274, ../../../sass/app/common/slider.scss */
.sequence.fullscreen li .photo {
  background-size: contain;
}
