.activity cite:before { 
    content: "\2014 \0020";
    color: gray; 
}

.short blockquote {
    border-left: none;
}

.short {
    border-left: 1px solid #dddddd;
    margin-bottom: 10px;
}

.short .action.new-comment {
    height: 30px;
    margin-top: -3px !important;
}

.short .row .columns {
    padding-left: 32px;
    line-height: 33px;
}

.short blockquote {
    margin-bottom: 0px;
}

.short a.short-comments {
    font-size: 1em;
}

@media only screen and (min-width: 48em) {
  .short a.short-comments,
  .short span.short-comments {
    font-size: 0.9em;
  }
}

.activities-map {
    text-align: right;
}

.activities-map img {
    margin: 20px 0 10px 0;
}

.activity-map {
    float: right;
    min-width: 120px;
    min-height: 120px;
}

.feed li,
.groups li {
    cursor: pointer;
}

.feed li:hover,
.groups li:hover {
    color: green;
}

.feed li p {
    display: inline;
    position: relative;
    top: -4px;
    margin-left: 8px;
}

.feed li i {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    font-size: 18px;
    overflow: hidden;
    line-height: 1.5;
}

.activity .edit {
    
}

.comment-form .comment {
    /*height: 100px;*/
}
