.text-length {
  text-align: center;
  padding: 0;
}

.text-length span {
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}

.columns.action {
  margin-top: -2px !important;
}

.columns.action a {
  font-size: 0.95em;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: #2ba6cb;
}

.columns.action a.disabled {
  color: rgba(43, 166, 203, 0.3);
}

.columns.action a span {
  position: absolute;
  right: 0;
  display: block;
  width: 14px;
  height: 0;
  margin-right: 15px;
  -webkit-box-shadow: 0 12px 0 1px #2ba6cb, 0 17px 0 1px #2ba6cb, 0 22px 0 1px #2ba6cb;
  box-shadow: 0 12px 0 1px #2ba6cb, 0 17px 0 1px #2ba6cb, 0 22px 0 1px #2ba6cb;
}

.columns.action a.disabled span {
  -webkit-box-shadow: 0 12px 0 1px rgba(43, 166, 203, 0.3), 0 17px 0 1px rgba(43, 166, 203, 0.3), 0 22px 0 1px rgba(43, 166, 203, 0.3);
  box-shadow: 0 12px 0 1px rgba(43, 166, 203, 0.3), 0 17px 0 1px rgba(43, 166, 203, 0.3), 0 22px 0 1px rgba(43, 166, 203, 0.3);
}

.columns.new-short {
  text-indent: -74px;
}

.columns.new-comment a {
  text-indent: -110px;
}

@media only screen and (min-width: 48em) {
  .columns.action a {
    font-size: 0.9em;
  }
  
  .columns.action {
    margin-top: 5px !important;
    /*padding-top: 5px;*/
  }

  .columns.new-short {
    text-indent: -70px;
  }

  .columns.new-comment a {
    text-indent: -105px;
  }
}

