.text-length {
  text-align: center;
  padding: 0;
}

.text-length span {
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}

.action {
  margin-top: -5px !important;
}

.action a {
  font-size: 0.95em;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: #008000;
}

.action a.disabled {
  opacity: 0.3;
}

.action a span {
  position: absolute;
  right: 0;
  display: block;
  width: 14px;
  height: 0;
  margin-right: 15px;
}

.action.new-short a {
  text-indent: -35px;
}

.action.new-comment a {
  text-indent: -73px;
}

.action.new-comment span:before,
.action.new-short span:before {
  content: "+";
  font-size: 1.6em;
  font-weight: bold;
  padding-right: 3px;
  top: 3px;
  position: relative;
}

@media only screen and (min-width: 48em) {
  .action a {
    font-size: 0.9em;
  }
  
  .action {
    margin-top: 4px !important;
  }

  .action.new-short a {
    text-indent: -28px;
  }

  .action.new-comment a {
    text-indent: -65px;
  }
}

.activity {
  border-left: 1px solid red;
  margin-bottom: 10px;
  border-left: 1px solid #dddddd;
}

.activity .action {
  margin-top: -25px !important;
  height: 30px;
}

.activity blockquote {
  margin-bottom: 0px;
}