.fixed {
    border-bottom: 3px solid green;
}

.login-services {
}

.login-services a {
    line-height: 40px !important;
}

.login-services p {
    display: inline;
    position: relative;
    top: -5px;
    margin-left: 8px;
    font-size: 0.7em;
}

.login-services i {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    font-size: 18px;
    overflow: hidden;
    line-height: 43px;
    font-style: normal;
}