.text-length {
  text-align: center;
  padding: 5px 0;
}

.new-short {
  padding-top: 5px;
}

.new-short a {
  font-size: 0.9em;
  text-indent: -38px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: black;
}

.new-short a.disabled {
  color: rgba(0,0,0,0.3);
}

.new-short a span {
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 0;
  margin-right: 8px;
  -webkit-box-shadow: 0 12px 0 1px black, 0 17px 0 1px black, 0 22px 0 1px black;
  box-shadow: 0 12px 0 1px black, 0 17px 0 1px black, 0 22px 0 1px black;
}

.new-short a.disabled span {
  -webkit-box-shadow: 0 12px 0 1px rgba(0,0,0,0.3), 0 17px 0 1px rgba(0,0,0,0.3), 0 22px 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 12px 0 1px rgba(0,0,0,0.3), 0 17px 0 1px rgba(0,0,0,0.3), 0 22px 0 1px rgba(0,0,0,0.3);
}