<template name="ifEqual">
  {{#if isEqual value1 value2}}
    {{> UI.contentBlock}}
  {{else}}
    {{> UI.elseBlock}}
  {{/if}}
</template>

<template name="datePicker">
  <div class="row">
    <div class="large-3 columns">
      <div class="row collapse day-picker">
        <div class="large-6 small-3 columns">
          <span class="prefix">Day</span>
        </div>
        <div class="large-6 small-9 columns">
          <select>
            {{#each days}}
              {{#ifEqual value1=../day value2=this}}
                <option selected value={{this}}>{{this}}</option>
              {{else}}
                <option value={{this}}>{{this}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <div class="row collapse month-picker">
        <div class="large-3 small-3 columns">
          <span class="prefix">Month</span>
        </div>
        <div class="large-9 small-9 columns">
          <select>
            {{#each months}}
              {{#ifEqual value1=../month value2=this.value}}
                <option selected value={{this.value}}>{{this.label}}</option>
              {{else}}
                <option value={{this.value}}>{{this.label}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="row collapse year-picker">
        <div class="large-3 small-3 columns">
          <span class="prefix">Year</span>
        </div>
        <div class="large-9 small-9 columns">
          <select>
            {{#each years}}
              {{#ifEqual value1=../year value2=this}}
                <option selected value={{this}}>{{this}}</option>
              {{else}}
                <option value={{this}}>{{this}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
</template>