<template name="ifEqual">
  {{#if isEqual value1 value2}}
    {{> content}}
  {{else}}
    {{> elseContent}}
  {{/if}}
</template>

<template name="datePicker">
  {{#with this}}
  <div class="row">
    <div class="large-3 columns">
      <div class="row collapse day-picker">
        <div class="large-6 small-3 columns">
          <span class="prefix">Day</span>
        </div>
        <div class="large-6 small-9 columns">
          <select>
            {{#each days}}
              {{#ifEqual value1=../selectedDay value2=this}}
                <option selected>{{this}}</option>
              {{else}}
                <option>{{this}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <div class="row collapse month-picker">
        <div class="large-3 small-3 columns">
          <span class="prefix">Month</span>
        </div>
        <div class="large-9 small-9 columns">
          <select>
            {{#each months}}
              {{#ifEqual value1=../selectedMonth value2=this}}
                <option selected>{{this}}</option>
              {{else}}
                <option>{{this}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="row collapse year-picker">
        <div class="large-3 small-3 columns">
          <span class="prefix">Year</span>
        </div>
        <div class="large-9 small-9 columns">
          <select>
            {{#each years}}
              {{#ifEqual value1=../selectedYear value2=this}}
                <option value="{{this}}" selected>{{this}}</option>
              {{else}}
                <option value="{{this}}">{{this}}</option>
              {{/ifEqual}}
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>