body {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/4.jpg");
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

/*.top-bar ul > li a:not(.button) {
    height: 44px;
    line-height: 44px;
}*/

.no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.branding {
    /*font-family: 'Tinos', serif;*/
    font-size: 1.4em !important;
    font-weight: normal !important;
}

a.main-home span {
    font-size: 0.5em;
    opacity: 0.3;
}

.normal {
    padding-bottom: 15px;
    background: #fff; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5); 
}

.input-subtext {
    margin-top: -10px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 0px;
    color: #9f9f9f;
    font-size: 0.8em;
    min-height: 1px;
}

#login-buttons a, .accounts-dialog a {
    text-decoration: none;
}

.actions {
    display: block;
    line-height: 32px;
    padding-top: 16px;
}

.details {
    margin-top: -18px;
}

.footer {
    height: 32px;
}

.small {
    font-size: 0.5em;
}

.header {
    padding-bottom: 0px;
}

.header .actions {
    padding-top: 16px;
    float: right;
}

.sub-header .actions {
    padding-top: 8px;
}

.actions a {
    float: right;
}

.actions i:hover {
    color: green;
    cursor: pointer;
}