@import "../../settings";
@import "compass/css3/border-radius";

.map-zoom-controls {
  z-index: 0;
  position: absolute;
  // height: 25px;
  width: 25px;
  background-color: transparent;
  right: 0.6em !important;
  top: $standard-margin !important;
  margin-top: emCalc(45px) + $standard-margin;

  .zoom-in, .zoom-out {
    @include border-radius($standard-corner-radius);

    width: 25px;
    height: 25px;
    height: 100%;
    cursor: pointer;
    background: $standard-map-control-bg;
    color: $primary-color;
    font-weight: 100;

    &:hover {
      background-color: #e2e2e2;
    }

    &:before {
      font-size: 2.5em;
      margin-left: 5px;
      line-height: 24px;
    }
  }

  .zoom-in {
    float: left;
    margin-bottom: $standard-padding;

    &:before {
      content: "+";
    }
  }

  .zoom-out {
    float: right;
    // border-left: 1px solid black;

    &:before {
      content: "–";
      margin-left: 3px;
    }
  }
}

.map-secondary-actions {
  position: relative;
  text-align: center;
  // margin-top: -$standard-control-height - 0.5em;
  pointer-events: none;
  float: left;
  padding-left: $standard-padding;

  .load-more {
    @include border-radius($standard-corner-radius);

    font-size: 0.9em;
    background: $standard-map-control-bg;
    pointer-events: all;
    margin: 0 auto;
    height: 25px;
    margin-bottom: 0.5em;
    padding: 0 $standard-padding;

    a {
      line-height: 25px;
      padding: 0px;
      display: inline;
    }

    &.disabled {
      pointer-events: none;

      a {
        color: gray;
      }
    }
  }
}

.map-marker {
  $marker-corner-radius: 22em;
  $marker-image-width: 70px;
  $marker-image-small-width: 50px;
  $marker-short-color: $primary-color; //lighten(gray, 30%);
  $marker-story-color: $notice-color; //darken(gray, 10%);
  $marker-border-width: 2px;

  margin-top: -18px;
  pointer-events: none;

  &.panning {
    opacity: 0.2;
  }

  .tick {
    position: absolute;
    left: 0;
    bottom: -8px;
    margin-left: -10px;
    width: 0;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-style: solid;
    border-top-width: 10px; 
  }

  .inner {
    position: relative;
    left: -50%;
    right: -50%;
    font-size: 1px;
    line-height: 1px;
    cursor: pointer;
    overflow: hidden;
    pointer-events: all;
    border-style: solid;
    border-width: $marker-border-width;

    @include border-radius($marker-image-small-width / 2);

    width: $marker-image-small-width; 
    height: $marker-image-small-width;

    @media only screen and (min-width: 48em) {
      @include border-radius($marker-image-width / 2);

      width: $marker-image-width; 
      height: $marker-image-width;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0%;
      left: 0%;

      pointer-events: none;
      background-color: #C0C0C0;
    }

    &:hover {
      // border-width: $marker-border-width*2;

      img {
        width: 110%;
        height: 110%;
        left: -5%;
        top: -5%;
      }
    }
  }

  &.short {
    .tick { border-top-color: $marker-short-color; }
    .inner { border-color: $marker-short-color; }
  }

  &.story {
    .tick { border-top-color: $marker-story-color; }
    .inner { border-color: $marker-story-color; }
  }
}

.map.panning .map-marker {
  opacity: 0.2;
}