@import "../../components";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.map-controls {
  z-index: 0;
  position: absolute;
  // height: 25px;
  width: 60px;
  background-color: transparent;
  right: 0.6em !important;
  bottom: $standard-margin;
  margin-bottom: 15px;
  margin-left: 1px; // little fix to line up with country controls

  .zoom-in, .zoom-out, .map-type-toggle {
    @include border-radius($standard-corner-radius);
    @include map-box-shadow();

    width: 25px;
    height: 25px;
    cursor: pointer;
    background: $standard-map-control-bg;
    color: $primary-color;
    font-weight: 100;

    &:hover {
      color: darken($primary-color, 25%);
    }

    &:before {
      font-size: 2.5em;
      margin-left: 5px;
      line-height: 24px;
    }
  }

  .map-type-toggle {
    margin-top: 25px + 8px;
    font-size: 0.8em;
    width: 60px;
    height: 60px;
    background-size: cover;
    border: 1px solid $standard-map-control-bg;
  }

  .zoom-in {
    float: right;
    margin-bottom: $standard-padding;

    &:before {
      content: "+";
    }
  }

  .zoom-out {
    float: left;
    // border-left: 1px solid black;

    &:before {
      content: "–";
      margin-left: 3px;
      line-height: 25px;
    }
  }
}

.map-marker {
  $marker-corner-radius: 22em;
  $marker-image-width: 70px;
  $marker-image-small-width: 50px;
  $marker-short-color: $primary-color; //lighten(gray, 30%);
  $marker-story-color: $notice-color; //darken(gray, 10%);
  $marker-border-width: 2px;
  $marker-tick-height: 10px;

  pointer-events: none;
  // margin-top: -$marker-image-small-width/2;
  z-index: 1;

  @media only screen and (min-width: 48em) {
    // margin-top: -$marker-image-width/2;
  }

  &.panning {
    opacity: 0.2;
  }

  .tick {
    position: absolute;
    left: 0;
    bottom: -$marker-tick-height + 2px;
    margin-left: -$marker-tick-height;
    width: 0;
    height: $marker-tick-height;
    border-left: $marker-tick-height solid transparent;
    border-right: $marker-tick-height solid transparent;
    border-top-style: solid;
    border-top-width: $marker-tick-height; 
  }

  .inner {
    position: relative;
    left: -50%;
    right: -50%;
    font-size: 1px;
    line-height: 1px;
    cursor: pointer;
    overflow: hidden;
    pointer-events: all;
    border-style: solid;
    border-width: $marker-border-width;

    @include border-radius($marker-image-small-width / 2);

    width: $marker-image-small-width; 
    height: $marker-image-small-width;

    @media only screen and (min-width: 48em) {
      @include border-radius($marker-image-width / 2);

      width: $marker-image-width; 
      height: $marker-image-width;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0%;
      left: 0%;

      pointer-events: none;
      background-color: #C0C0C0;
    }

    &:hover {
      // border-width: $marker-border-width*2;

      img {
        width: 110%;
        height: 110%;
        left: -5%;
        top: -5%;
      }
    }
  }

  &.selected {
    $large-marker-scale-factor: 1.2;
    
    z-index: 2;
    // margin-top: -$marker-image-small-width*$large-marker-scale-factor/2 - $marker-tick-height;
    
    @media only screen and (min-width: 48em) {
      // margin-top: -$marker-image-width*$large-marker-scale-factor/2 - $marker-tick-height;
    }
    
    .inner {
      @include border-radius($marker-image-small-width);
      
      width: $marker-image-small-width*$large-marker-scale-factor; 
      height: $marker-image-small-width*$large-marker-scale-factor;

      @media only screen and (min-width: 48em) {
        @include border-radius($marker-image-width);

        width: $marker-image-width*$large-marker-scale-factor;
        height: $marker-image-width*$large-marker-scale-factor;
      }
    }
  }

  &.short {
    .tick { border-top-color: $marker-short-color; }
    .inner { border-color: $marker-short-color; }
  }

  &.story {
    .tick { border-top-color: $marker-story-color; }
    .inner { border-color: $marker-story-color; }
  }
}

.map.panning .map-marker {
  opacity: 0.2;
}