<template name="shortyEditor">
  <div class="short-form single-item">
    <div class="form-content">
      {{> shortForm activity}}
    </div>
  </div>
</template>

<template name="mapActivityContent">
  <div class="inner">
    <div class="activity">
      {{> itemContent}}
    </div>
  </div>
</template>

<template name="itemContent">
  <div class="info-section {{infoSectionCls}}" style="background-image: url({{mapUrl}})">
    <div class="picture">
      <img src="{{profilePicture owner}}">
    </div>
    <div class="details">
      <div class="owner">{{userName owner}}</div>
      <div class="date">{{date created}} {{basicLocation this}}</div>
    </div>
  </div>
  {{#if canRemove}}
    <div class="actions">
      <a href="#" class="remove action"></a>
    </div>
  {{/if}}
  <div class="content">
    {{#if isStory}}
      <h5><a href="{{activityLink}}" class="title">{{title}} {{#unless published}}<span class="warning"> (Unpublished)</span>{{/unless}}</a></h5>
      <p>{{textPreview}}</p>
      <a href="{{activityLink}}" class="title more">Continue reading</a>
    {{else}}
      {{> htmlText}}
    {{/if}}
  </div>
  {{> imageSlider}}
</template>

<template name="shortForm">
{{#with activity}}
  <form class="{{formCls}}">
    {{#if _id}}<input type="hidden" id="_id" value="{{_id}}">{{/if}}
    <div class="text-section">
      <div class="input-field">
        <textarea type="text" id="text" placeholder="Write a shorty..." ></textarea>
      </div>
      <div class="add-story">
        <span>Or, <a href="/{{group.slug}}/new" class="new-story">a Story</a></span>
      </div>
    </div>

    <div class="location-section">
      <div class="small-12 large-12 columns">
        <label>Photo Tags</label>
        <input type="text" id="picasa-tags" value="{{picasaTags}}" placeholder="bangkok,food...">
        
        <label>Location Search <a href="#" class="show-advanced-location">advanced</a></label>
        <input type="text" id="location" value="{{location}}" placeholder="Enter a location...">
        <div class="location-coords input-subtext"></div>
        <fieldset class="location-fields">
          <legend>Location Fields (Advanced)</legend>
          <input type="hidden" id="lat" value="{{lat}}">
          <input type="hidden" id="lng" value="{{lng}}">
          <label>City</label>
          <input type="text" id="city" value="{{city}}">
          <label>Region</label>
          <input type="text" id="region" value="{{region}}">
          <label>Country</label>
          <input type="text" id="country" value="{{country}}">
        </fieldset>
      </div>
    </div>
    <div class="action-section">
      <div class="small-12 large-12 columns">
        {{#if _id}}
          <a href="#" class="small button success update">Update</a>
        {{else}}
          <a href="#" class="disabled small button success post">Post</a>
        {{/if}}
        <a href="#" class="small secondary cancel">Cancel</a>
        <span class="text-length">250</span>
      </div>
    </div>
  </form>
{{/with}}
</template>