<template name="shortyEditor">
  <div class="short-form single-item">
    {{#if error}}
      <div class="alert-box alert">{{error}}</div>
    {{/if}}
    <div class="form-content">
      {{> shortForm activity}}
    </div>
  </div>
</template>

<template name="mapActivityContent">
  <div class="inner">
    <div class="activity">
        {{> itemContent}}
    </div>
  </div>
</template>

<template name="itemContent">
  <div class="info-section {{infoSectionCls}}" style="background-image: url({{mapUrl}})">
    <div class="container">
      <div class="picture">
        <img src="{{profilePicture owner}}">
      </div>
      <div class="details">
        <div class="owner">{{userName owner}}</div>
        <div class="date">{{date created}} {{basicLocation this}}</div>
      </div>
    </div>
  </div>
  <div class="fixed actions">
    {{#if canEdit}}
      <a href="#" class="edit left action"></a>
    {{/if}}
    {{#if canRemove}}
      <a href="#" class="remove action"></a>
    {{/if}}
  </div>
  <div class="content">
    {{#if isStory}}
      <h5><a href="{{activityLink}}" class="title">{{title}} {{#if showUnpublished}}<span class="warning"> U</span>{{/if}}</a></h5>
      <p>{{textPreview}}</p>
      <a href="{{activityLink}}" class="title more">Continue reading</a>
    {{else}}
      {{> htmlText}}
    {{/if}}
  </div>
  {{> imageSlider}}
</template>

<template name="shortForm">
{{#with activity}}
  <form class="expanded">
    {{#if _id}}<input type="hidden" id="_id" value="{{_id}}">{{/if}}
    <div class="text-section">
      <div class="input-field">
        <textarea type="text" id="text" placeholder="Write a shorty..." >{{text}}</textarea>
      </div>
      <div class="add-story">
        <span>Or, <a href="/{{group.slug}}/new" class="new-story">a Story</a></span>
      </div>
    </div>

    <div class="location-section">
      <div class="small-12 large-12 columns">
        <label>Photo Tags</label>
        <input type="text" id="picasa-tags" value="{{picasaTags}}" placeholder="bangkok,food...">
        {{> searchableLocation activity=this}}
      </div>
    </div>
    <div class="action-section">
      <div class="small-12 large-12 columns">
        {{#if _id}}
          <a href="#" class="tiny button success update">Update</a>
        {{else}}
          <a href="#" class="disabled tiny button success post">Post</a>
        {{/if}}
        <a href="#" class="tiny secondary cancel">Cancel</a>
        <span class="text-length">250</span>
      </div>
    </div>
  </form>
{{/with}}
</template>