<template name="shortContent">
  <div class="top-section">
    <div class="picture">
      <img src="{{profilePicture owner}}">
    </div>
    <div class="details">
      <div class="owner">{{userName owner}}</div>
      <div class="date">{{date created}} {{basicLocation}}</div>
    </div>
  </div>
  {{#if canRemove}}
    <div class="actions">
      <a href="#" class="remove action"></a>
    </div>
  {{/if}}
  <div class="content">
    {{#markdown}}{{text}}{{/markdown}}
  </div>
</template>

<template name="shortForm">
  <form>
    <div class="text-section">
      <div class="input-field">
        <textarea type="text" id="text" value="" placeholder="Write a shorty..." />
      </div>
      <div class="add-story">
        <span>Or, <a href="#" class="new-story">a Story</a></span>
      </div>
    </div>
    <div class="location-section">
      <div class="small-12 large-12 columns">
        <label>Location Search <a href="#" class="show-advanced-location">advanced</a></label>
        <input type="text" id="location" value="" placeholder="Enter a location...">
        <div class="location-coords input-subtext"></div>

        <fieldset class="location-fields">
          <legend>Location Fields (Advanced)</legend>
          <input type="hidden" id="lat" value="">
          <input type="hidden" id="lng" value="">
          <label>City</label>
          <input type="text" id="city" value="">
          <label>Region</label>
          <input type="text" id="region" value="">
          <label>Country</label>
          <input type="text" id="country" value="">
        </div>
      </div>
    </div>
    <div class="action-section">
      <div class="small-12 large-12 columns">
        <a href="#" class="disabled small button success post">Post</a>
        <a href="#" class="small button secondary cancel">Cancel</a>
        <span class="text-length">250</span>
      </div>
    </div>
  </form>
</template>