@import "../settings";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "foundation/components/type";
@import "foundation/components/grid";

@mixin up-down($height: 24px, $expanded: false, $arrow-color: false, $side: 'before') {
  $size:      $height/2 + 2 $height/2 + 2;
  $content:   '\00a0\00a0';
  $position:  0px ($height/2)/4;
  $direction: 'right';

  @if $expanded { $direction: 'down' }

  @if $side == 'before' {
    &:before {
      @include svg-arrow($direction: $direction, $color: $arrow-color);

      background-repeat: no-repeat;
      background-size: $size;
      background-position: $position;
      padding-left: $height/3;
      content: $content;
      height: $height;
    }
  }
  @else {
    &:after {
      @include svg-arrow($direction: $direction, $color: $arrow-color);

      background-repeat: no-repeat;
      background-size: $size;
      background-position: $position;
      padding-right: $height/3;
      content: $content;
      height: $height;
    }
  }
}

@mixin svg-arrow($direction: 'down', $color: false) {
  @if $color { $color: '_' + $color; }
  @else { $color: '' }

  background-image: url('/images/' + $direction + $color + '.svg');
}

@mixin keyframe($name) {
  @keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }
  }

  @-moz-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }
  }

  @-webkit-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  }

  @-ms-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  }

  @-o-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  } 
}

@mixin animation($name) {
  animation-duration: 0.001s;
  -o-animation-duration: 0.001s;
  -ms-animation-duration: 0.001s;
  -moz-animation-duration: 0.001s;
  -webkit-animation-duration: 0.001s;

  animation-name: $name;
  -o-animation-name: $name;
  -ms-animation-name: $name;        
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
}

@mixin multi-column($columns-large: 2, $columns-small: 1, $column-gap: 0.5em) {
  display: block;

  -moz-column-count: $columns-small;
  -moz-column-gap: $column-gap;
  -webkit-column-count: $columns-small;
  -webkit-column-gap: $column-gap;
  column-count: $columns-small;
  column-gap: $column-gap;

  @media only screen and (min-width: 48em) {  
    -moz-column-count: $columns-large;
    -moz-column-gap: $column-gap;
    -webkit-column-count: $columns-large;
    -webkit-column-gap: $column-gap;
    column-count: $columns-large;
    column-gap: $column-gap;
  }
}

@mixin more-button() {
  @include grid-row(nest);

  margin-left: 0em;
  margin-right: 0em;

  & > .content {
    @include grid-column(12);
    
    margin-top: 10px;
    text-align: center;
  }
}

@mixin standard-form-panel() {
  padding: emCalc(15px);
  background-color: $standard-panel-bg;
}

@mixin standard-padding() {
  padding-left: 0.4em;
  padding-right: 0.4em;

  @media only screen and (min-width: 48em) {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
}

@mixin standard-bar-background($color: $primary-color, $clear: false, $shadow: true) {
  background-color: $color;
  @if $clear { clear: both; }
}

@mixin standard-panel-color() {
  background-color: $standard-panel-bg;
}

@mixin standard-corners($position: "all") {
  @include border-radius($standard-border-size);
}

@mixin standard-bar() {
  border-top: 2px solid $primary-color;
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  cursor: pointer;
}

@mixin entry-with-profile($picture-width: 4em, $fixed-details: true) {
  @include grid-row(nest);
  $info-section-margin: 0.5em;
  $info-section-padding: 0.3em;
  $info-section-height: $picture-width;

  padding: $info-section-padding 0;
  margin: $info-section-margin 0 0 0;

  .info-section {
    @include grid-column(12);

    @if $fixed-details { height: $info-section-height !important; }
    font-size: 1em;
    color: black;
    margin-bottom: 0.5em;
    padding: 0.5em;

    .picture {
      float: left;
      width: $picture-width - 0.4em !important;
      height: $picture-width - 0.2em !important;

      img {
        @include border-radius($standard-border-size);
          
        margin-top: 8px;
      }
    }

    .details {
      @if $fixed-details { height: $picture-width !important; }
    
      margin-left: $picture-width + 0.2em;
      padding-top: 0.78em;

      .owner {
        line-height: 1em;
      }

      .date {
        font-size: 0.9em;
        color: #999999;
        line-height: 1.7em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }    
  }

  .actions {
    height: $info-section-height !important;
    margin-top: -$info-section-padding;
    font-size: 1em;
    color: black;
    z-index: 102;
    position: absolute;
    right: 0em;
    display: none;

    a.action {
      width: 2em;
      height: 2em;
      font-weight: bold;
      display: inline-block;

      &.remove {
        padding-left: 0.7em;
        padding-top: 0.5em;
        background-color: $warning-color;

        &:before {
          content: "X";
          color: lighten($warning-color, 50%);
        }
      }
    }
  }

  .content {
    @include grid-column(12);

    padding: 1em 0.5em;

    h5 {
      line-height: 1.4em;
      margin-bottom: 0.5em;
    }

    p:last-of-type {
      margin-bottom: 0em;
    }
  }
}

@mixin item-by-user() {
  @include grid-row(nest);
  @include panel();

  $story-radius: 1px;
  margin: 0 $ribbon-wrapper-strip;
  padding: $standard-corner-radius;
  position: relative;
  margin-bottom: $standard-margin;

  @media only screen and (min-width: 48em) {
    margin: 0em;
    margin-bottom: $standard-margin;

    &:last-of-type {
      // feedInserted is used as event for Packery
      // => only used for wider screen sizes hence media query
      @include animation(feedInserted);

      margin-bottom: 0em;
    }
  }

  .ribbon-wrapper {
    margin-top: $standard-margin;
  }

  & > .inner {
    @include grid-column(12, $collapse: true);
  
    margin-bottom: 0em;

    .activity {
      @include grid-row(nest);
      @include entry-with-profile(3.3em);
      @include standard-panel-color();

      z-index: 90;
      padding: 0em;
      margin: 0em;

      & > .content {
        @include grid-column(12);
        
        padding: 0em 0.5em;

        a.more {
          line-height: 2.2em;

          &:after {
            content: "\00a0→";
          }
        }
      }

      &.story {
        .ribbon-wrapper {
          border-right: $ribbon-wrapper-strip solid darken($warning-color, 10%);
          margin-right: -$ribbon-wrapper-strip;
        }

        .actions {
          right: 3.3em;
        }
      }

      .actions {
        margin-top: 0em;
      }

    }

    .item-actions {
      @include grid-row(nest);
      @include standard-bar();

      margin: 0 !important;
      cursor: default;
      font-size: 0.8em;
      line-height: 3em;

      .show-comments {
        @include grid-column(7);
      }

      .main-actions {
        @include grid-column(5);     
      }

      a.comments {
        @include up-down(24px);

        font-size: 1em;
      }

      .action {
        margin-top: -3px;

        ul {
          list-style: none;
          display: inline;
          width: auto;
          float: right;

          li {
            float: left;
            padding-left: 5px;
          }

          & > .separator {
            width: 2px;
            height: 24px;
            margin: 8px 1px 0 1px;
            border-right: 1px solid $primary-color;

            &:before {
            }
          }
        }

        a {
          font-size: 0.95em;
          height: 34px;
          padding: 0;
          color: $primary-color;

          &.disabled {
            opacity: 0.3;
          }
        }

        &.new-comment {
          float: right;
          margin-right: 5px;
        }
        
        &.new-comment span:before,
        a.new-short:before,
        a.new-story:before {
          content: "+";
          font-size: 1.6em;
          font-weight: bold;
          padding-right: 1px;
          top: 3px;
          position: relative;
        }
      }

      @media only screen and (min-width: 48em) {
        .action a {
          font-size: 0.9em;
        }
      }

      @media only screen and (min-width: 48em) {
        font-size: 0.9em;
      }
    }

    .short-comments {
      @include grid-row(nest);

      margin: 0em;


      & > .inner {
        @include grid-column(12);

        overflow: hidden;
        height: 0px;
        background-color: #FFF;
        border: 1px solid #f3f3f3;
        border-top: none;
        padding: 0em;
        
        .comment {
          padding: 0.5em;

          &:last-of-type {  
            border-bottom: 2px solid $warning-color;
          }
        }
      }
    }

    .comments-notice {
      $comment-notice-height: emCalc(30px);
      $comment-notice-margin-top: emCalc(27px);
      $comment-notice-font-size: 0.9em;

      @include grid-row(nest);

      position: absolute;
      width: 100%;
      padding: 0em;
      margin-left: emCalc(0px);
      margin-right: emCalc(0px);
      margin-top: -$comment-notice-margin-top;

      .inner {
        @include grid-column(12);
        // @include up-down(24px, true);

        display: none;
        font-size: $comment-notice-font-size;
        line-height: $comment-notice-height;
        height: $comment-notice-height;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
      }
    }

    .feed-comment-form {
      @include grid-row(nest);
      
      overflow: hidden;
      height: 0px;
      margin: 0em;
      background-color: #FFF;

      & > .inner {
        @include grid-column(12);
        @include border-bottom-left-radius($story-radius);
        @include border-bottom-right-radius($story-radius);

        padding: 0em;

        .comment-form {

          & > .inner {
            padding-left: $standard-padding;
            padding-right: $standard-padding;
          }
        }
      }
    }
  }

  &.expanded {
    .item-actions {
      a.comments {
        @include up-down(24px, $expanded: true);
      }
    }

    .comments-notice .inner {
      @include up-down(24px, $expanded: true, $arrow-color: 'white');
      @include up-down(24px, $expanded: true, $arrow-color: 'white', $side: 'right');

      display: inherit;
      cursor: pointer;
    }

    .short-comments .inner {
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      max-height: 250px;

      @media only screen and (min-width: 48em) {
        max-height: 450px;
      }
    }

    .feed-comment-form {
      height: 100%;
    }
  }
}

@mixin arrow($size: 10px) {
  margin: 5px;
  height: 0;
  width: 0;    
  display: inline-block;
  zoom: 1;

  &.right {
      border-left: $size solid white;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;    
  }

  &.left {
      border-right: $size solid white;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;    
  }

  &.down {
      border-top: $size solid white;
      border-left: $size solid transparent;
      border-right: $size solid transparent;    
  }

  &.up {
      border-bottom: $size solid white;
      border-left: $size solid transparent;
      border-right: $size solid transparent;    
  }
}