@import "../settings";
@import "foundation/functions";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "foundation/components/type";
@import "foundation/components/grid";

@mixin map-box-shadow() {
  @include single-box-shadow(rgba(0,0,0,0.3));
}

@mixin arrow($height: 24px, $arrow-color: false, $side: 'before', $direction: 'right') {
  $size:      $height/2 + 2 $height/2 + 2;
  $content:   '\00a0\00a0';
  $position:  0px ($height/2)/4;

  @if $side == 'before' {
    &:before {
      @include png-arrow($direction: $direction, $color: $arrow-color);

      background-repeat: no-repeat;
      background-size: $size;
      background-position: $position;
      padding-left: $height/3;
      content: $content;
      height: $height;
    }
  }
  @else {
    &:after {
      @include png-arrow($direction: $direction, $color: $arrow-color);

      background-repeat: no-repeat;
      background-size: $size;
      background-position: $position;
      padding-right: $height/3;
      content: $content;
      height: $height;
    }
  }
}

@mixin standard-item() {
  @include item-by-user();
}

@mixin single-item() {
  @include item-by-user($dark-details: true);
  @include border-top-radius(0em);

  margin-top: 1px;
  margin-bottom: 0em;

  & > .inner .activity {
    margin-top: emCalc(-70px);
    background-color: transparent;
    pointer-events: none; // div overlaps map so disable events here so that map drag / click works
  }

  & > .inner .activity .info-section {
    height: emCalc(70px);

    .actions {
      pointer-events: all; // disabled events on parent but need them working for actions
    }
  }

  & > .inner .activity {

    & > .content {
      padding: 0.5em;
      pointer-events: all;

      @media only screen and (min-width: 48em) {
        padding: 1em;
      }

      blockquote {
        margin-bottom: 0em;
        padding: 0.25em 0.9em 0.25em 0.9em;

        @media only screen and (min-width: 48em) {
          padding: 0.5em 1em 0.5em 1em;
        }
      }

      .text {
        &.intro p {
          font-style: italic;
        }

        ul {
          margin-left: 20px;
        }
      }
    }
  }
}

@mixin png-arrow($direction: 'down', $color: false) {
  @if $color { $color: '_' + $color; }
  @else { $color: '' }

  background-image: url('/images/' + $direction + $color + '.png');
}

@mixin keyframe($name) {
  @keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }
  }

  @-moz-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }
  }

  @-webkit-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  }

  @-ms-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  }

  @-o-keyframes $name {  
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }  
  } 
}

@mixin animation($name) {
  animation-duration: 0.001s;
  -o-animation-duration: 0.001s;
  -ms-animation-duration: 0.001s;
  -moz-animation-duration: 0.001s;
  -webkit-animation-duration: 0.001s;

  animation-name: $name;
  -o-animation-name: $name;
  -ms-animation-name: $name;        
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
}

@mixin multi-column($columns-large: 2, $columns-small: 1, $column-gap: 0.5em) {
  display: block;

  -moz-column-count: $columns-small;
  -moz-column-gap: $column-gap;
  -webkit-column-count: $columns-small;
  -webkit-column-gap: $column-gap;
  column-count: $columns-small;
  column-gap: $column-gap;

  @media only screen and (min-width: 48em) {  
    -moz-column-count: $columns-large;
    -moz-column-gap: $column-gap;
    -webkit-column-count: $columns-large;
    -webkit-column-gap: $column-gap;
    column-count: $columns-large;
    column-gap: $column-gap;
  }
}

@mixin more-button() {
  @include grid-row(nest);

  margin-left: 0em;
  margin-right: 0em;

  & > .content {
    @include grid-column(12);
    
    margin-top: 10px;
    text-align: center;
  }
}

@mixin standard-form-panel() {
  padding: emCalc(15px);
  background-color: $standard-panel-bg;
}

@mixin standard-padding() {
  padding-left: 0.4em;
  padding-right: 0.4em;

  @media only screen and (min-width: 48em) {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
}

@mixin standard-bar-background($color: $primary-color, $clear: false, $shadow: true) {
  background-color: $color;
  @if $clear { clear: both; }
}

@mixin standard-panel-color() {
  background-color: $standard-panel-bg;
}

@mixin standard-corners($position: "all") {
  @include border-radius($standard-corner-radius);
}

@mixin standard-bar() {
  border-top: 2px solid $primary-color;
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  cursor: pointer;
}

@mixin entry-with-profile($picture-width: 4em, $fixed-details: true, $dark-details: false) {
  @include grid-row(nest);
  $info-section-margin: 0.5em;
  $info-section-padding: 0.3em;
  $info-section-height: $picture-width;
  $dark-details-bg: rgba(0, 0, 0, 0.7);

  // padding: $info-section-padding 0;
  margin: $info-section-margin;

  .actions {
    height: $info-section-height;
    margin-top: -$info-section-padding;
    right: 0em;
    // top: $info-section-margin;
    font-size: 1em;
    color: black;
    z-index: 102;
    position: absolute;
    display: none;

    &.show {
      display: block;
    }

    a.action {
      width: 2em;
      height: 1.8em;
      font-weight: bold;
      display: inline-block;
      pointer-events: all;

      &.edit {
        width: 3.3em;       
      }

      &.remove {
        padding-left: 0.7em;
        padding-top: 0.4em;
        background-color: $warning-color;

        &:before {
          content: "X";
          color: lighten($warning-color, 25%);
          font-weight: 100;
          padding-left: 1px;
        }

        &.ready {
          background-color: darken($warning-color, 25%);
    
          &:before {
            color: lighten($warning-color, 75%);
          }
        }
      }

      &.edit {
        padding-left: 0.7em;
        padding-top: 0.4em;
        background: $dark-details-bg;

        &:before {
          content: "Edit";
          font-weight: 100;
          color: #fff;
        }
      }
    }
  }

  .info-section {
    @include grid-column(12);

    @if $fixed-details { height: $info-section-height; }
    font-size: 1em;
    color: black;
    padding-left: $info-section-margin;
    padding-right: $info-section-margin;
    pointer-events: none;

    .picture {
      position: absolute;
      width: $info-section-height;
      height: $info-section-height;
      top: $info-section-margin;
      left: $info-section-margin;

      img {
        @include border-radius($picture-width/2);
      }
    }

    .details {
      @if $fixed-details { height: $picture-width; }
    
      position: absolute;
      padding: 0.5em 0.8em;
      top: $info-section-margin;
      left: $info-section-height + $info-section-margin;

      .owner {
        line-height: 1em;
      }

      .date {
        font-size: 0.9em;
        color: #999999;
        line-height: 1.7em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    @if $dark-details {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      // background-color: $topbar-bg;
      height: 140px;
      color: white;

      .picture {
        position: absolute;
        top: inherit;
        left: $info-section-margin;
        bottom: $info-section-margin;
        width: $info-section-height;
        height: $info-section-height;
        z-index: 2;

        img {
          height: 100%;
          width: 100%;
          margin-top: 0em;
          @include border-radius($info-section-height/2);
        }
      }

      .actions {
        top: inherit;
        bottom: 0.5em;
        line-height: 1em;

        @media only screen and (min-width: 48em) {
          // right: $info-section-margin;
        }
      }

      .details {
        position: absolute;
        padding: 0.5em 0.8em;
        margin-left: 0em;
        top: inherit;
        bottom: $info-section-margin;
        left: 2em;
        background-color: $dark-details-bg;
        padding-left: 2.5em;
        z-index: 1;

        @media only screen and (min-width: 48em) {
          // right: $info-section-margin;
        }

        .date {
          color: #D8D8D8;
        }
      }
    }

    &.map {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: rgba(0, 0, 0, 0.4);
      height: 140px;
      color: white;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .picture,
      .details {
        // margin-top: emCalc(140px) - $picture-width;
      }

      .picture {
        position: absolute;
        top: inherit;
        left: $info-section-margin;
        bottom: $info-section-margin;
        width: $info-section-height;
        height: $info-section-height;
        z-index: 2;

        img {
          height: 100%;
          width: 100%;
          margin-top: 0em;
          @include border-radius($info-section-height/2);
        }
      }

      .details {
        position: absolute;
        padding: 0.5em 0.8em;
        margin-left: 0em;
        top: inherit;
        bottom: $info-section-margin;
        left: 2em;
        background-color: $dark-details-bg;
        padding-left: 2.5em;
        z-index: 1;

        .date {
          color: #D8D8D8;
        }
      }
    }

    &.large {
      height: 180px;
    }

    &.small {
      padding: 0.5em 0em;
      margin-bottom: 0em;

      .picture {
        position: absolute;
        width: 1.9em;
        height: 1.9em;
      }

      .details {
        position: absolute;
        margin-left: 2.4em;
        font-family: $header-font-family;

        .date, .owner {
          float: left;
          line-height: 1.4em;
          font-size: emCalc(16px);
        }

        .owner {
          font-weight: 400;
        }

        .date:before {
          content: "-";
          padding: 0.3em;
        }
      }
    }
  }

  .content {
    @include grid-column(12);

    padding: $standard-padding*2;

    h5 {
      line-height: 1.4em;
      margin-bottom: 0.5em;
    }

    p:last-of-type {
      margin-bottom: 0em;
    }
  }
}

@mixin item-by-user($dark-details: false) {
  @include grid-row(nest);
  @include panel();
  @include border-radius($standard-corner-radius);

  $story-radius: 1px;
  margin: 0 $ribbon-wrapper-strip;
  padding: 0em;
  position: relative;
  margin-bottom: $standard-small-margin * 2;
  border: none;

  @media only screen and (min-width: 48em) {
    margin: 0em;
    margin-bottom: $standard-margin * 2;

    &:last-of-type {
      @include animation(feedInserted);

      margin-bottom: 0em;
    }
  }

  .ribbon-wrapper {
    margin-top: $standard-margin;
    z-index: 2;
  }

  & > .inner {
    @include grid-column(12, $collapse: true);
  
    margin-bottom: 0em;

    .activity {

      @include entry-with-profile(3.3em, $dark-details: $dark-details);
      @include standard-panel-color();

      z-index: 90;
      margin: 0em;

      & > .content a.more {
        line-height: 2.2em;
        font-style: italic;
        font-size: 0.9em;

        &:after {
          content: "\00a0→";
        }
      }

      .actions {
        margin-top: 0em;
      }

    }

    .item-actions {
      @include grid-row(nest);
      @include standard-bar();

      margin: 0 !important;
      cursor: default;
      font-size: 0.8em;
      line-height: 3em;

      .show-comments {
        @include grid-column(7);
      }

      .main-actions {
        @include grid-column(5);     
      }

      a.comments {
        @include arrow(24px);

        font-size: 1em;
      }

      .action {
        margin-top: -3px;

        ul {
          list-style: none;
          display: inline;
          width: auto;
          float: right;

          li {
            float: left;
            padding-left: 5px;
          }

          & > .separator {
            width: 2px;
            height: 24px;
            margin: 8px 1px 0 1px;
            border-right: 1px solid $primary-color;

            &:before {
            }
          }
        }

        a {
          font-size: 0.95em;
          height: 34px;
          padding: 0;
          color: $primary-color;

          &.disabled {
            opacity: 0.3;
          }
        }

        &.new-comment {
          float: right;
          margin-right: 5px;
        }
        
        &.new-comment span:before,
        a.new-short:before,
        a.new-story:before {
          content: "+";
          font-size: 1.6em;
          font-weight: bold;
          padding-right: 1px;
          top: 3px;
          position: relative;
        }
      }

      @media only screen and (min-width: 48em) {
        .action a {
          font-size: 0.9em;
        }
      }

      @media only screen and (min-width: 48em) {
        font-size: 0.9em;
      }
    }

    .short-comments {
      @include grid-row(nest);

      margin: 0em;
      
      & > .inner {
        @include grid-column(12);

        overflow: hidden;
        height: 0px;
        background-color: #FFF;
        // border: 1px solid #f3f3f3;
        border-top: none;
        padding: 0em;
        
        .comment {
          padding: 0.5em;

          &:last-of-type {  
            border-bottom: 2px solid $warning-color;
          }
        }
      }
    }

    .comments-notice {
      $comment-notice-height: emCalc(30px);
      $comment-notice-margin-top: emCalc(27px);
      $comment-notice-font-size: 0.9em;

      @include grid-row(nest);

      position: absolute;
      width: 100%;
      padding: 0em;
      margin-left: emCalc(0px);
      margin-right: emCalc(0px);
      margin-top: -$comment-notice-margin-top;

      .inner {
        @include grid-column(12);

        display: none;
        font-size: $comment-notice-font-size;
        line-height: $comment-notice-height;
        height: $comment-notice-height;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
      }
    }

    .comment-form {
      overflow: hidden;
      height: 0px;
      margin: 0em;
      background-color: #FFF;
    }
  }

  &.expanded {
    .item-actions {
      a.comments {
        @include arrow(24px, $direction: 'down');
      }
    }

    .comments-notice .inner {
      @include arrow(24px, $direction: 'down', $arrow-color: 'white');
      @include arrow(24px, $direction: 'down', $arrow-color: 'white', $side: 'right');

      display: inherit;
      cursor: pointer;
    }

    .short-comments .inner {
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      max-height: 250px;

      @media only screen and (min-width: 48em) {
        max-height: 450px;
      }
    }

    .comment-form {
      height: 100%;
    }
  }
}