//
// Foundation Variables
//

@import "foundation/components/global";

$base-font-size: 100% !default;
$em-base: 16px !default;

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

//// Underplan Standard Variables

$body-bg-color:             #2C2C2C;
$standard-border-size:      3px;
$standard-corner-radius:    3px;
$standard-panel-bg:         darken(#fff, 0%);
$standard-map-control-bg:   rgba($standard-panel-bg, 0.9);
$standard-border-color:     darken($standard-panel-bg, 40%);
$standard-padding:          0.5em;
$standard-margin:           emCalc(15px);
$standard-small-margin:		  emCalc(15px);
$photo-feed-height-large:   400px;
$photo-feed-height-small:   340px;
$map-height-large:          400px;
$map-height-medium:         300px;
$map-height-small:          200px;
$home-map-height-large:     260px;
$home-map-height-small:     260px;
$top-extra-columns-large:   12;
$feed-columns-large:        12;
$ribbon-wrapper-strip:      emCalc(4px);
$footer-height:             30px;
$common-dark-color:			    #111;

//// Gallery Stuff
$slider-bg:                 $common-dark-color;
$slider-height-small:		    200px;
$slider-height-medium: 		  240px;
$slider-height-large: 		  420px;

$standard-control-height:   emCalc(25px);

//// Foundation Global
$row-width:                 emCalc(720px);
$header-font-family:        'Raleway', sans-serif;
$base-line-height:          150% !default;
$topbar-bg:                 rgba($common-dark-color, 0.4);
$secondary-navbar-bg:		    rgba(lighten($topbar-bg, 15%), 0.8);
$label-font-color:          lighten(#000, 30%);
$body-font-family:          'Open Sans', Arial, sans-serif;
$body-font-weight: 			    300;
$paragraph-font-weight:     300;
$primary-color:             #008000;
$notice-color:              #1F4100;
$warning-color:             #E84C3D;
$panel-bg:                  $standard-panel-bg;
$panel-border-color:        $standard-border-color;                  
$global-radius:             $standard-corner-radius;