//
// Foundation Variables
//

@import "foundation/components/global";

$base-font-size: 100% !default;
$em-base: 16px !default;

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

//// Underplan Standard Variables

$standard-border-size:      1px;
$standard-corner-radius:    0px;
$standard-panel-bg:         darken(#fff, 2%);
$standard-border-color:     darken($standard-panel-bg, 40%);
$standard-padding:          0.5em;
$standard-margin:           emCalc(15px);
$photo-feed-height-large:   400px;
$photo-feed-height-small:   260px;
$map-height-large:          320px;
$map-height-small:          180px;
$feed-extra-columns-large:  12;
$feed-columns-large:        12;
$ribbon-wrapper-strip:      emCalc(4px);
$footer-height:             34px;

//// Foundation Global
$row-width:                 emCalc(780px);
$header-font-family:        'Open Sans', Arial, sans-serif;
$base-line-height:          150% !default;
$topbar-bg:                 #111;
$label-font-color:          lighten(#000, 30%);
$body-font-family:          'Open Sans', Arial, sans-serif;
$primary-color:             #008000;
$notice-color:              #1F4100;
$warning-color:             #E84C3D;
$panel-bg:                  $standard-panel-bg;
$panel-border-color:        $standard-border-color;                  
$global-radius:             $standard-corner-radius;