//
// Foundation Variables
//

@import "foundation/functions";

$base-font-size: 100% !default;
$em-base: 16px !default;
$rem-base: 16px;

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

//// Underplan Standard Variables

$body-bg-color:             #4E4E4E;
$standard-border-size:      3px;
$standard-corner-radius:    0px;
$standard-panel-bg:         darken(#fff, 0%);
$standard-map-control-bg:   rgba($standard-panel-bg, 0.9);
$standard-border-color:     darken($standard-panel-bg, 40%);
$standard-padding:          rem-calc(15);
$standard-margin:           rem-calc(15);
$standard-margin-small:		  rem-calc(8);
$photo-feed-height-large:   400px;
$photo-feed-height-small:   340px;
$map-height-large:          400px;
$map-height-medium:         320px;
$map-height-small:          240px;
$home-map-height-large:     260px;
$home-map-height-small:     260px;
$top-extra-columns-large:   12;
$feed-columns-large:        12;
$ribbon-wrapper-strip:      emCalc(4px);
$footer-height:             30px;
$common-dark-color:			    darken($body-bg-color, 25%);
$dark-details-bg:           rgba($common-dark-color, 0.7);

$info-section-scale:        0.85;

//// Map Handle
$handle-bg-color:           lighten($body-bg-color, 20%);
$handle-trim-color:         lighten($handle-bg-color, 30%);
$handle-height:             14px;
$handle-offset:             1px;
$handle-hover-offset:       5px;

//// Gallery Stuff
$slider-bg:                 $common-dark-color;
$slider-height-small:       250px;
$slider-height-medium:      320px;
$slider-height-large:       400px;

$standard-control-height:   emCalc(25px);

//// Group Controls
$group-controls-width:      140px;
$group-controls-height:     25px;

//// Foundation Global
$block-grid-default-spacing:rem-calc(5);
$column-gutter:             rem-calc(30);
$topbar-height:             45px;
$row-width:                 emCalc(720px);
$header-font-family:        raleway, sans-serif;
$base-line-height:          150% !default;
$topbar-bg:                 rgba($common-dark-color, 0.4);
$secondary-navbar-bg:       rgba(lighten($topbar-bg, 15%), 0.8);
$label-font-color:          lighten(#000, 30%);
$body-font-family:          open-sans, Arial, sans-serif;
$body-font-weight:          200 !default;
$paragraph-font-weight:     200 !default;
$primary-color:             darken(#87BB66, 10%);
$secondary-color:           #6B8BBC;
$success-color:             #87BB66;
$notice-color:              #DFD468; //#1F4100;
$warning-color:             #CC5F5C; //#E84C3D;
$panel-bg:                  $standard-panel-bg;
$panel-border-color:        $standard-border-color;                  
$global-radius:             $standard-corner-radius;