@import "settings";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: url("/images/bg.jpg");
}

hr {
  margin: 10px 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h2 {
  margin-bottom: 0.2em;
}

h2, a {
  span.warning {
    font-size: 0.7em;
    color: $alert-color;
  }
}

.row.main-content {
  border-bottom: 3px solid green;
  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 20px auto -80px; /* the bottom margin is the negative value of the footer's height */
  margin-top: 0px;
  box-shadow: none;

  &.normal {
    padding-top: 5px;
    margin-top: 0px;
  }

  & > .columns {
    // padding-left: 5px;
    // padding-right: 5px;
    // margin-left: 0px;
    // margin-right: 0px;
    // padding: 5px 10px 0px 10px;
  }

  &.dashboard {
    background: url("/images/sun3.jpg") 0 0 no-repeat;
    background-color: black;
  }
}

@media only screen and (min-width: 48em) {
  .row.main-content {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);

    & > .columns {
      // padding: 10px;
    }
  }
}

footer, .push {
    height: 80px; /* .push must be the same height as .footer */
    margin: 0px;
    padding: 0px;
}

footer.dashboard {
  font-color: white;
  
  .row:first-of-type {
    border-top: 2px solid #2b2b2b;
  }

  p {
    color: #fff;
  }
}

footer p,
footer a {
    margin-top: 10px;
}

.no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bordered {
    border: 1px solid rgb(231, 228, 228);
    padding: 2px;
}

.normal {
    padding-bottom: 15px;
    background: #fff; 
    background: rgba(255, 255, 255, 1); 
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5); 
}

.input-subtext {
    margin-top: -10px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 0px;
    color: #9f9f9f;
    font-size: 0.8em;
    min-height: 1px;
}

.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
  
  a {
    float: right;
  }

  i:hover {
    color: green;
    cursor: pointer;
  }
}

.top-bar .name h1 a {
  font-weight: normal;
  padding: 0 5px;
  font-size: 1.3em;
}

.top-bar-section ul li > a,
.top-bar .toggle-topbar.menu-icon a span {
  font-weight: normal !important;
}

.title-area h1 {
  color: white;
  padding: 0 10px 0 10px;
}

///////////////////////////////////////////////////////////////////////////////
// Foundation Overrides

.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
  
  a.close {
    position: relative;
    padding: 10px;
    color: white;
  }

  &.secondary {
  }
}

.button {
  font-weight: normal;
}

.clearing-assembled {
  padding-bottom: 10px !important;

  @media only screen and (min-width: 48em) {
    padding-bottom: 0px !important;
  }
  
  .clearing-caption {
    background-color: rgba(17, 17, 17, 0.6);
    padding-bottom: 30px !important;

    @media only screen and (min-width: 48em) {
      padding-bottom: 10px !important;
    }
  }
}

.custom.checkbox {
  border-color: black !important;

  &.checked::before {
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
    padding-left: 1px;
    padding-top: 1px
  }
}

blockquote {
  margin: 10px 10px 0px 10px;

  &.disabled {
    opacity: 0.6;
  }

  p:last-of-type {
    margin-bottom: 10px;
  }

  cite {
    padding-bottom: 10px;
  }
}

form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

ul.dropdown h5 a {
  color: white;
}

.carousel {
  margin: 0 6px;
}

.standard-bar {
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  background-color: green;
  // box-shadow: 0px 0px 10px #CCC, 0px 0px 10px #CCC;
  cursor: pointer;
}

.up-down {
  &:before {
    background-image: url('/images/right.svg');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 0px 3px;
    padding-left: 12px;
    height: 24px;
    content: "\00a0\00a0";
  }

  &.open:before {
    background-image: url("/images/down.svg");
  }
}

@mixin arrow($size: 10px) {
  margin: 5px;
  height: 0;
  width: 0;    
  display: inline-block;
  zoom: 1;

  &.right {
      border-left: $size solid white;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;    
  }

  &.left {
      border-right: $size solid white;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;    
  }

  &.down {
      border-top: $size solid white;
      border-left: $size solid transparent;
      border-right: $size solid transparent;    
  }

  &.up {
      border-bottom: $size solid white;
      border-left: $size solid transparent;
      border-right: $size solid transparent;    
  }
}