// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "components";
@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer($footer-height, ".main-content", ".push", ".footer");

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(229, 229, 229);
}

.row { max-width: 960px; }

hr {
  margin: 10px 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;

  .sub-header {
    // font-size: 0.75em;

    &:before {
      content: " - ";
      // line-spacing: 1px;
    }
  }
}

h2 {
  margin-bottom: 0.2em;
}

span.warning {
  color: $alert-color;
}

h2, a {
  span.warning {
    font-size: 0.7em;
  }
}

// .push {
//   height: 40px;
//   margin: 0px;
//   padding: 0px;
// }

.main-content {
  @include grid-row();

  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0px;
  background-color: rgb(229, 229, 229);
  overflow: visible;
  // box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5); 

  &.normal {
    background-color: transparent;
    margin-top: 0px;
  }

  &.dashboard {
    background: url("/images/sun3.jpg") 0 0 no-repeat;
    background-color: black;
  }

  & > .inner {
    @include grid-column(12);

    padding: 0em;
  }
}

@media only screen and (min-width: 48em) {
  .row.main-content {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);

    & > .columns {
      // padding: 10px;
    }
  }
}

.footer {
  .info {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 0.7em;
    color: rgb(185, 185, 185);
    font-family: 'helvetica';
    height: $footer-height;
    vertical-align: top;

    & > p {
      height: $footer-height;
      line-height: $footer-height;
      margin: 0em;
    }
  }
}

.no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bordered {
    border: 1px solid rgb(231, 228, 228);
    padding: 2px;
}

.normal {
    background: #fff; 
    background: rgba(255, 255, 255, 1); 
}

.input-subtext {
    margin-top: -10px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 0px;
    color: #9f9f9f;
    font-size: 0.8em;
    min-height: 1px;
}

.clearing-thumbs img {
  // height: 90px;
  // width: 90px;
}

.carousel {
  .th {
    border: none;
    padding: 2px;
  }
}

[data-clearing] li {
  margin-right: 0em;
}

.tooltip {
  font-size: 0.8em;
  font-weight: normal;
}

///////////////////////////////////////////////////////////////////////////////
// Foundation Overrides

.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
  
  a.close {
    position: relative;
    padding: 10px;
    color: white;
  }

  &.secondary {
  }
}

.button {
  @include border-radius($standard-border-size);
  box-shadow: none;
  font-weight: normal;
}

.clearing-assembled {
  padding-bottom: 10px !important;

  @media only screen and (min-width: 48em) {
    padding-bottom: 0px !important;
  }
  
  .clearing-caption {
    background-color: rgba(17, 17, 17, 0.6);
    padding-bottom: 30px !important;

    @media only screen and (min-width: 48em) {
      padding-bottom: 10px !important;
    }
  }
}

.custom.checkbox {
  border-color: black !important;

  &.checked::before {
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
    padding-left: 1px;
    padding-top: 1px
  }
}

form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

ul.dropdown h5 a {
  color: white;
}

.carousel {
  margin: 0 6px;
}

.section-container {
  border: none !important;

  .section, section {
    @include standard-bar();

    border-top: none;

    .title {
      padding-left: 5px;
      margin-bottom: 5px;
      background-color: lighten($topbar-bg, 45%);
      
      &:hover {
        background-color: lighten($topbar-bg, 25%);
      }

      a {
        @include up-down(24px);

        color: white;
        padding: 0px;
        display: inline;
        line-height: 33px;
      }
    }

    &.active {
      padding-top: 0px !important;

      .title {
        background-color: lighten($topbar-bg, 25%);
        margin-bottom: 0px;

        a {
          @include up-down(24px, $expanded: true);
        }
      }
    }

    a.button {
      padding-bottom: 8px;
    }

    .content {
      padding: 5px;
      padding-top: 15px;

      ul.disc {
        margin-left: 20px;
      }
    }

    .content:last-of-type {
      padding-bottom: 10px;
    }

  }
}