.galleria-errors {
  display: none;
}

.galleria-stage {
  top: 0px;
  left: 0px;
  right: 0px;
}

.galleria-thumbnails-container {
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
}

.galleria-container {
  height: inherit; 
  width: inherit; 
}

.galleria-counter {
  z-index: 2;
}

.galleria-info {
  position: absolute;
  bottom: 10px;
  left: 0px;
  top: auto;
  width: 100%;
  padding: 0px;
  z-index: 1;
  
  .galleria-info-text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em;
    text-align: center;
    display: block;
  }

  .galleria-info-link {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  .galleria-info-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 12px;
  }

  .galleria-info-title {
    margin-bottom: 0em;
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
  }
}
