@import "main";
@import "_settings";

.section-container {
  border: none !important;

  .section, section {
    @extend .standard-bar;

    border-top: none;

    .title {
      padding-left: 5px;
      margin-bottom: 5px;
      background-color: $primary-color;
      
      &:hover {
        background-color: $primary-color;
      }

      a {
        color: white;
        padding: 5px;
        display: inline;
        line-height: 33px;

        &:before {
          @extend .up-down:before;
        }
      }
    }

    &.active .title {
      background-color: $primary-color;
      margin-bottom: 0px;

      a {
        &:before {
          @extend .up-down.open:before;
        }
      }
    }

    a.button {
      padding-bottom: 8px !important;
    }

    .content {
      padding: 5px;
      padding-top: 15px;

      ul.disc {
        margin-left: 20px;
      }
    }

    .content:last-of-type {
      padding-bottom: 10px;
    }

  }
}