<template name="activityActions">
  {{#if userBelongsToGroup}}
    <li class="new-story"><a href="#">Tell a story</a></li>
  {{/if}}
</template>

<template name="activityFeed">
  <div class="row">
    <div class="three columns feed">
      <h4>Activities</h4>
      {{#if anyActivities}}
        <ul class="circle">
        {{#each recentActivities}}
          {{#with this}}
            <li>
              {{#if typeIs "story"}}
                {{title}}
              {{/if}}
            </li>
          {{/with}}
        {{/each}}
        </ul>
      {{else}}
        <p>No activities yet :-(</p>
      {{/if}}
    </div>
    <div class="nine columns">
      <div class="activities-map"></div>
    </div>
  </div>
  {{#if group.picasaUsername}}
    <div class="row">
      <div class="twelve columns">
        <h4>Photos</h4>
        <div class="recent-photos">Loading photos...</div>
      </div>
    </div>
  {{/if}}
</template>

<template name="activityComment">
  <div id="commentModal" class="reveal-modal" style="top: 100px; opacity: 1; visibility: hidden; display: none;">
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  {{#if activity}}
    <h3>Comment</h3>
    <input type="hidden" class="activity-id" value="{{activity._id}}">
    <textarea type="text" class="comment" rows="8"></textarea>
    <a href="#" class="small button success save">Save comment</a>
    <a class="close-reveal-modal">×</a>
  {{else}}
    <p>Huh?! No Activity selected!</p>
    <a class="close-reveal-modal">×</a>
  {{/if}}
  </div> 
</template>

<template name="currentActivity">
  {{#if activity}}
    {{#with activity}}
      <div class="row header">
        <div class="ten columns">
          <h2>{{title}}</h2>
        </div>
        <div class="actions two columns">
          {{#if canEdit}}
            <a href="#" class="small button edit">Edit</a>
          {{/if}}
        </div>
      </div>
      <div class="row">
        {{#if hasMap}}
        <div class="twelve columns show-for-small">
          <div class="activity-map" style="padding: 5px;"></div>
        </div>
        {{/if}}
        <div class="twelve columns">
          {{#if hasMap}}
          <div class="activity-map hide-for-small"></div>
          {{/if}}
          <div class="text">
            {{#markdown}}{{text}}{{/markdown}}
          </div>
          <cite><span>Posted</span> {{date created}} by {{creatorName}}</cite>
        </div>
      </div>
      {{#if hasPhotos}}
        <div class="row">
          <div class="twelve columns">
            <div class="activity-photos"></div>
          </div>
        </div>
      {{/if}}
    {{/with}}
    <hr>
    <div class="row sub-header">
      <div class="ten columns">
        <h3>Comments<h3>
      </div>
      <div class="actions two columns">
        {{#if currentUser}}
          <a href="#" data-reveal-id="commentModal" class="small button">Add Comment</a>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        {{#if anyComments}}
          {{#each comments}}
            <blockquote>
              <p>{{this.comment}}
              <cite>{{userName this.owner}} - {{date created}}</cite></p>
            </blockquote>
          {{/each}}
        {{else}}
        <p>No Comments</p>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="twelve columns">
        <div class="alert">What just happened!? Let's go <a href="/">home</a>.</div>
      </div>
    </div>
  {{/if}}
</template>

<template name="activityMap">
  <div class="map">
    {{#constant}}
      <svg width="500" height="500">
        <circle class="callout" cx=-100 cy=-100></circle>
        <g class="circles"></g>
        <g class="labels"></g>
      </svg>
    {{/constant}}
    <div>
      <small class="attribution muted">&copy;
        <a href="http://www.openstreetmap.org/?lat=37.78212&lon=-122.40146&zoom=15&layers=M"
           target="_blank">OpenStreetMap</a> contributors</small>
    </div>
  </div>
</template>

<template name="storyEditor">
  <h2>{{#if activity}}Edit{{else}}New{{/if}} Story</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <div class="form custom">
    {{#if activity}}
      {{#with activity}}
        <input type="hidden" class="id" value="{{_id}}">
        <label>Title</label>
        <input type="text" class="title" value="{{title}}">
        <label>Story</label>
        <textarea type="text" class="text" rows="20">{{text}}</textarea>
        <label>Location</label>
        <input type="text" class="location" value="{{location}}"><div class="location-coords input-subtext"></div>
        <input type="hidden" class="lat" value="{{lat}}">
        <input type="hidden" class="lng" value="{{lng}}">
        <label>Map Zoom</label>
        <input type="text" class="map-zoom" value="{{mapZoom}}">        
        <label>Link Slug</label>
        <input type="text" class="slug" value="{{slug}}">
        <label>Picasa Tag</label>
        <input type="text" class="picasa-tags" value="{{picasaTags}}">
        <label>Published Date</label>
        <input type="text" class="created" value="{{simpleDate created}}" readonly>
        <label class="checkbox">
          <input type="checkbox" class="published" {{#if published}}checked{{/if}}>
          Published
        </label>
        <hr >
        <a href="#" class="small button secondary back">Cancel</a>
        <a href="#" class="small button success update">Save story</a>
      {{/with}}
    {{else}}
      <label>Title</label>
      <input type="text" class="title">
      <label>Story</label>
      <textarea type="text" class="text" rows="20"></textarea>
      <label>Location</label>
      <input type="text" class="location"><div class="location-coords input-subtext"></div>
      <input type="hidden" class="lat" value="{{lat}}">
      <input type="hidden" class="lng" value="{{lng}}">
      <label>Map Zoom</label>
      <input type="text" class="map-zoom" value="{{defaultMapZoom}}">
      <label>Link Slug</label>
      <input type="text" class="slug">
      <label>Picasa Tag</label>
      <input type="text" class="picasa-tags" value="{{picasaTags}}">
      <label>Published Date</label>
      <input type="text" class="created" value="{{simpleDate created}}" readonly>
      <label class="checkbox">
        <input type="checkbox" class="published">
        Published
      </label>
      <hr >
      <a href="#" class="small button secondary cancel">Cancel</a>
      <a href="#" class="small button success save">Add story</a>
    {{/if}}
  </div>
</template>