<template name="groupActions">
  {{#if currentUser}}
    <li class="has-dropdown">
      <a href="#">Get started</a>
      <ul class="dropdown">
        <li class="new-group"><a href="#">Create a group</a></li>
      </ul>
    </li>
  {{/if}}
</template>

<template name="groupAdminActions">
  {{#if isGroupAdmin}}
    <li class="has-dropdown">
      <a href="#">Admin</a>
      <ul class="dropdown">
        <li class="membership"><a href="#">Membership</a></li>
      </ul>
    </li>
  {{/if}}
</template>

<template name="mainHome">
  <header id="homepage">
    <div class="groups">
      <div class="row">
        <div class="twelve columns">
          <h4>Everything is a work in progress</h4>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <a href="#" class="large round success button new-group">Create your Group</a>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="or">Or, explore:</div>

          <div class="groups panel radius">
            {{#if groups}}
              {{#each groups}}
                {{#with this}}
                  <a href="" class="foundicon-flag"> {{name}}</a>
                {{/with}}
              {{/each}}
            {{else}}
              <p>Loading groups...</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<template name="groupEditor">
  <h2>{{#if group}}Edit{{else}}New{{/if}} Group</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <div class="form">
      <label>Name</label>
      <input type="text" class="name">
      <hr >
      <a href="#" class="small button secondary cancel">Cancel</a>
      <a href="#" class="small button success save">Add group</a>
  </div>
</template>

<template name="groupInviteList">
  <div class="row">
    <div class="six columns">
      <h2>Invite people</h2>
        <ul class="disc">
        {{#each uninvited}}
          <li>
            <a href="#" class="btn invite">Invite</a>
            {{displayName}}
          </li>
        {{else}}
          <p>Everyone on the site has already been invited.</p>
        {{/each}}
        </ul>
    </div>
    <div class="six columns">
      <h2>Invited Users</h2>
      <ul class="disc">
        {{#each invited}}
          <li>{{displayName}}</li>
        {{else}}
          <p>No invites yet!</p>
        {{/each}}
      </ul>
    </div>
  </div>

</template>