<head>
  <title>Underplan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/general_foundicons.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body>
  {{> page}}
</body>

<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}

  <div class="top row">
    <div class="three columns">
      <ul class="nav-bar left">
        {{#if group}}
          <li><a href="#" class="main-home">U</a></li>
        {{/if}}
        <li>
          <a href="#" class="home">
            {{#if group}}
              {{group.name}}
            {{else}}
              <span style="text-decoration: underline; font-weight: bold;">U</span>nderplan
            {{/if}}
          </a>
        </li>
      </ul>
    </div>
    <div class="eight columns">
      <ul class="nav-bar right">
        {{#if group}}
          {{> groupAdminActions}}
          {{> activityActions}}
        {{/if}}
        <li class="login">
          {{newLoginButtons}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row main-content" role="content">
    {{#if group}}
      <div class="twelve columns normal">
        {{#if showInviteList}}
          {{> groupInviteList}}
        {{/if}}

        {{#if showGroupEditor}}
          {{> groupEditor}}
        {{/if}}

        {{#if showStoryEditor}}
          {{> storyEditor}}
        {{/if}}

        {{#if showActivity}}
          {{> currentActivity}}
        {{/if}}

        {{#if activityMapVisible}}
          {{> activityFeed}}
        {{/if}}
      </div>
    {{else}}
      <div class="twelve columns {{#if showGroupEditor}}normal{{else}}dashboard{{/if}}">
        {{#if showGroupEditor}}
          {{> groupEditor}}
        {{/if}}

        {{#if showGroupList}}
          {{> mainHome}}
        {{/if}}
      </div>
    {{/if}}
  </div>

<!--   <footer class="row">
    <div class="twelve columns">
      <hr>
      <div class="row">
        <div class="six columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->

  <!-- Modal boxes -->
  {{#if showActivity}}
    {{> activityComment}}
  {{/if}}

  <!-- Scripts -->
  {{loadScripts}}
</template>