<head>
  <title>Underplan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="/stylesheets/foundation.min.css"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/general_foundicons.css"> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Tinos:400,700' rel='stylesheet' type='text/css'> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body>
  {{> page}}
</body>

<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}

<div class="row">
  <div class="twelve columns no-side-padding">
    <nav class="top-bar ">
      <ul>
        <!-- Title Area -->
        <li class="name">
          {{#if group}}
            <a href="#" class="home branding">
              {{group.name}}
            </a>
          {{else}}
            <a href="#" class="main-home branding">
              Underplan <span>{{appVersion}}</span>
            </a>
          {{/if}}
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      
      <section>
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li> 
          <li>
            {{#if group}}
              <a href="#" class="main-home">
                Underplan <span>{{appVersion}}</span>
              </a>
            {{else}}
              <a href="#" class="home">
                {{group.name}}
              </a>
            {{/if}}
          </li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          {{#if group}}
            {{> activityActions}}
            {{> groupAdminActions}}
          {{/if}}
          {{> loginButtons}}
        </ul>
      </section>
    </nav>
  </div>
</div>

  <div class="row main-content" role="content">
    <div class="twelve columns {{#if showGroupList}}dashboard{{else}}normal{{/if}}">
      {{#if showInviteList}}
        {{> groupInviteList}}
      {{/if}}

      {{#if showGroupEditor}}
        {{> groupEditor}}
      {{/if}}

      {{#if showStoryEditor}}
        {{> storyEditor}}
      {{/if}}

      {{#if showActivity}}
        {{> currentActivity}}
      {{/if}}

      {{#if showActivityMap}}
        {{> activityFeed}}
      {{/if}}

      {{#if showUserSettings}}
        {{> userSettings}}
      {{/if}}

      {{#if showGroupSettings}}
        {{> activityFeed}}
      {{/if}}

      {{#if showGroupList}}
        {{> mainHome}}
      {{/if}}
    </div>
  </div>

<!--   <footer class="row">
    <div class="twelve columns">
      <hr>
      <div class="row">
        <div class="six columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->

  <!-- Modal boxes -->
  {{#if showActivity}}
    {{> activityComment}}
  {{/if}}

  <!-- Scripts -->
  {{loadScripts}}
</template>