<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}

  <div class="nav">
      <div class="logo"><a href="/" class="main-home"></a></div>
      {{> mainNav}}
  </div>

  <div class="secondary-nav">
    {{> subNav}}
  </div>

  {{#if showActivityFeed}}
    {{> activityFeedExtra}}
  {{/if}}

  <div class="main-content {{#if showGroupList}}dashboard{{else}}normal{{/if}}" role="content">
    <div class="inner">
      {{#if showInviteList}}
        {{> groupInviteList}}
      {{/if}}

      {{#if showGroupEditor}}
        {{> groupEditor}}
      {{/if}}

      {{#if showStoryEditor}}
        {{> storyEditor}}
      {{/if}}

      {{#if showActivity}}
        {{> currentActivity}}
      {{/if}}

      {{#if showPermaShorty}}
        {{> permaShorty}}
      {{/if}}

      {{#if showActivityFeed}}
        {{> activityFeed}}
      {{/if}}

      {{#if showMainSettings}}
        {{> mainSettings}}
      {{/if}}

      {{#if showUserSettings}}
        {{> userSettings}}
      {{/if}}

      {{#if showGroupSettings}}
        {{> activityFeed}}
      {{/if}}

      {{#if showGroupList}}
        {{> mainHome}}
      {{/if}}

      {{#if showLoginForm}}
        {{> loginForm}}
      {{/if}}
    </div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <div class="info">
      <p>Underplan {{appVersion}} © 2013</p>
    </div>
  </div>

  <!-- Scripts -->
  {{loadScripts}}
</template>