<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}

  <div class="nav row">
    <div class="small-12 large-12 columns no-side-padding">
      <div class="logo"><a href="/" class="main-home">U</a></div>
      <!-- <div class="fixed"> -->
        {{> mainNav}}
      <!-- </div> -->
    </div>
  </div>

  <div class="row main-content {{#if showGroupList}}dashboard{{else}}normal{{/if}}" role="content">
    <div class="small-12 large-12 columns">
      {{#if showInviteList}}
        {{> groupInviteList}}
      {{/if}}

      {{#if showGroupEditor}}
        {{> groupEditor}}
      {{/if}}

      {{#if showStoryEditor}}
        {{> storyEditor}}
      {{/if}}

      {{#if showActivity}}
        {{> currentActivity}}
      {{/if}}

      {{#if showActivityMap}}
        {{> activityFeed}}
      {{/if}}

      {{#if showMainSettings}}
        {{> mainSettings}}
      {{/if}}

      {{#if showUserSettings}}
        {{> userSettings}}
      {{/if}}

      {{#if showGroupSettings}}
        {{> activityFeed}}
      {{/if}}

      {{#if showGroupList}}
        {{> mainHome}}
      {{/if}}

      {{#if showLoginForm}}
        {{> loginForm}}
      {{/if}}
      <div class="push"></div>
    </div>
  </div>

  <footer>
    <div class="info">
      <div>Underplan {{appVersion}} © 2013</div>
    </div>
  </footer>

  <!-- Scripts -->
  {{loadScripts}}
</template>