<template name="page">
  <div class="nav {{#if pageOptions.highContent}}high-content{{else}}normal{{/if}}">
    <div class="logo {{#if pageOptions.isHome}}home{{/if}}"><a href="/" class="main-home"></a></div>
    {{> mainNav}}
  </div>

  {{#if pageOptions.isFeed}}
    {{> groupActions}}
  {{/if}}
  
  {{> mainMap pageOptions}}

  <div role="content" class="main-content {{#if pageOptions.isHome}}dashboard{{else}}normal{{/if}}">
    <div class="inner">{{{mainTemplate}}}</div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <div class="info">
      <p>Underplan {{appVersion}} © 2013</p>
    </div>
  </div>

  <!-- Scripts -->
  {{loadScripts}}
</template>