/* line 220, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 225, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 228, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

/* line 241, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 246, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 249, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 250, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 256, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 261, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 262, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 263, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 264, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 265, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 266, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 267, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 273, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 276, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 286, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 289, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 5, ../sass/general.scss */
.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 10, ../sass/general.scss */
.bordered {
  border: 1px solid #e7e4e4;
  padding: 2px;
}

/* line 15, ../sass/general.scss */
.normal {
  padding-bottom: 15px;
  background: #fff;
  background: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* line 22, ../sass/general.scss */
.input-subtext {
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0px;
  color: #9f9f9f;
  font-size: 0.8em;
  min-height: 1px;
}

/* line 32, ../sass/general.scss */
.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
}
/* line 37, ../sass/general.scss */
.actions a {
  float: right;
}
/* line 41, ../sass/general.scss */
.actions i:hover {
  color: green;
  cursor: pointer;
}

/* line 52, ../sass/general.scss */
.tooltip {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 60, ../sass/general.scss */
.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
}
/* line 65, ../sass/general.scss */
.alert-box a.close {
  position: relative;
  padding: 10px;
  color: white;
}

/* line 75, ../sass/general.scss */
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  font-weight: normal;
}

/* line 81, ../sass/general.scss */
.clearing-assembled {
  padding-bottom: 10px !important;
}
@media only screen and (min-width: 48em) {
  /* line 81, ../sass/general.scss */
  .clearing-assembled {
    padding-bottom: 0px !important;
  }
}
/* line 88, ../sass/general.scss */
.clearing-assembled .clearing-caption {
  background-color: rgba(17, 17, 17, 0.6);
  padding-bottom: 30px !important;
}
@media only screen and (min-width: 48em) {
  /* line 88, ../sass/general.scss */
  .clearing-assembled .clearing-caption {
    padding-bottom: 10px !important;
  }
}

/* line 98, ../sass/general.scss */
.custom.checkbox {
  border-color: black !important;
}
/* line 101, ../sass/general.scss */
.custom.checkbox.checked::before {
  color: black !important;
  font-weight: bold !important;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 109, ../sass/general.scss */
blockquote {
  margin: 10px 10px 0px 10px;
}
/* line 112, ../sass/general.scss */
blockquote.disabled {
  opacity: 0.6;
}
/* line 116, ../sass/general.scss */
blockquote p:last-of-type {
  margin-bottom: 10px;
}
/* line 120, ../sass/general.scss */
blockquote cite {
  padding-bottom: 10px;
}

/* line 125, ../sass/general.scss */
form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 130, ../sass/general.scss */
ul.dropdown h5 a {
  color: white;
}

/* line 134, ../sass/general.scss */
.carousel {
  margin: 0 6px;
}
