/* line 5, ../sass/general.scss */
.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 10, ../sass/general.scss */
.bordered {
  border: 1px solid #e7e4e4;
  padding: 2px;
}

/* line 15, ../sass/general.scss */
.normal {
  padding-bottom: 15px;
  background: #fff;
  background: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* line 22, ../sass/general.scss */
.input-subtext {
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0px;
  color: #9f9f9f;
  font-size: 0.8em;
  min-height: 1px;
}

/* line 32, ../sass/general.scss */
.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
}
/* line 37, ../sass/general.scss */
.actions a {
  float: right;
}
/* line 41, ../sass/general.scss */
.actions i:hover {
  color: green;
  cursor: pointer;
}

/* line 52, ../sass/general.scss */
.tooltip {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 60, ../sass/general.scss */
.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
}
/* line 65, ../sass/general.scss */
.alert-box a.close {
  position: relative;
  padding: 10px;
  color: white;
}

/* line 75, ../sass/general.scss */
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  font-weight: normal;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* line 83, ../sass/general.scss */
.clearing-assembled {
  padding-bottom: 10px !important;
}
@media only screen and (min-width: 48em) {
  /* line 83, ../sass/general.scss */
  .clearing-assembled {
    padding-bottom: 0px !important;
  }
}
/* line 90, ../sass/general.scss */
.clearing-assembled .clearing-caption {
  background-color: rgba(17, 17, 17, 0.6);
  padding-bottom: 30px !important;
}
@media only screen and (min-width: 48em) {
  /* line 90, ../sass/general.scss */
  .clearing-assembled .clearing-caption {
    padding-bottom: 10px !important;
  }
}

/* line 100, ../sass/general.scss */
.custom.checkbox {
  border-color: black !important;
}
/* line 103, ../sass/general.scss */
.custom.checkbox.checked::before {
  color: black !important;
  font-weight: bold !important;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 111, ../sass/general.scss */
blockquote {
  margin: 10px 10px 0px 10px;
}
/* line 114, ../sass/general.scss */
blockquote.disabled {
  opacity: 0.6;
}
/* line 118, ../sass/general.scss */
blockquote p:last-of-type {
  margin-bottom: 10px;
}
/* line 122, ../sass/general.scss */
blockquote cite {
  padding-bottom: 10px;
}

/* line 127, ../sass/general.scss */
form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 132, ../sass/general.scss */
ul.dropdown h5 a {
  color: white;
}

/* line 136, ../sass/general.scss */
.carousel {
  margin: 0 6px;
}
