/* line 3, ../sass/main.scss */
.row.main-content {
  border-bottom: 3px solid green;
  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 20px auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  margin-top: 0px;
  box-shadow: none;
}
/* line 13, ../sass/main.scss */
.row.main-content.normal {
  padding-top: 5px;
  margin-top: 0px;
}
/* line 26, ../sass/main.scss */
.row.main-content.dashboard {
  background: url("/images/sun3.jpg") 0 0 no-repeat;
  background-color: black;
}

@media only screen and (min-width: 48em) {
  /* line 33, ../sass/main.scss */
  .row.main-content {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  }
}
/* line 42, ../sass/main.scss */
.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 47, ../sass/main.scss */
.bordered {
  border: 1px solid #e7e4e4;
  padding: 2px;
}

/* line 52, ../sass/main.scss */
.normal {
  padding-bottom: 15px;
  background: #fff;
  background: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* line 59, ../sass/main.scss */
.input-subtext {
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0px;
  color: #9f9f9f;
  font-size: 0.8em;
  min-height: 1px;
}

/* line 69, ../sass/main.scss */
.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
}
/* line 74, ../sass/main.scss */
.actions a {
  float: right;
}
/* line 78, ../sass/main.scss */
.actions i:hover {
  color: green;
  cursor: pointer;
}

/* line 84, ../sass/main.scss */
.top-bar .name h1 a {
  font-weight: normal;
  padding: 0 5px;
  font-size: 1.3em;
}

/* line 91, ../sass/main.scss */
.top-bar-section ul li > a,
.top-bar .toggle-topbar.menu-icon a span {
  font-weight: normal !important;
}

/* line 95, ../sass/main.scss */
.title-area h1 {
  color: white;
  padding: 0 10px 0 10px;
}

/* line 100, ../sass/main.scss */
.clearing-thumbs img {
  height: 90px;
  width: 90px;
}

/* line 108, ../sass/main.scss */
.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
}
/* line 113, ../sass/main.scss */
.alert-box a.close {
  position: relative;
  padding: 10px;
  color: white;
}

/* line 123, ../sass/main.scss */
.button {
  font-weight: normal;
}

/* line 127, ../sass/main.scss */
.clearing-assembled {
  padding-bottom: 10px !important;
}
@media only screen and (min-width: 48em) {
  /* line 127, ../sass/main.scss */
  .clearing-assembled {
    padding-bottom: 0px !important;
  }
}
/* line 134, ../sass/main.scss */
.clearing-assembled .clearing-caption {
  background-color: rgba(17, 17, 17, 0.6);
  padding-bottom: 30px !important;
}
@media only screen and (min-width: 48em) {
  /* line 134, ../sass/main.scss */
  .clearing-assembled .clearing-caption {
    padding-bottom: 10px !important;
  }
}

/* line 144, ../sass/main.scss */
.custom.checkbox {
  border-color: black !important;
}
/* line 147, ../sass/main.scss */
.custom.checkbox.checked::before {
  color: black !important;
  font-weight: bold !important;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 155, ../sass/main.scss */
blockquote {
  margin: 10px 10px 0px 10px;
}
/* line 158, ../sass/main.scss */
blockquote.disabled {
  opacity: 0.6;
}
/* line 162, ../sass/main.scss */
blockquote p:last-of-type {
  margin-bottom: 10px;
}
/* line 166, ../sass/main.scss */
blockquote cite {
  padding-bottom: 10px;
}

/* line 171, ../sass/main.scss */
form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 176, ../sass/main.scss */
ul.dropdown h5 a {
  color: white;
}

/* line 180, ../sass/main.scss */
.carousel {
  margin: 0 6px;
}
