/* line 3, ../sass/page.scss */
* {
  margin: 0;
}

/* line 7, ../sass/page.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/page.scss */
body {
  background-color: #f0f0f0;
}

/* line 15, ../sass/page.scss */
hr {
  margin: 10px 0;
}

/* line 19, ../sass/page.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
/* line 22, ../sass/page.scss */
h1 .sub-header, h2 .sub-header, h3 .sub-header, h4 .sub-header, h5 .sub-header {
  font-size: 0.75em;
}
/* line 25, ../sass/page.scss */
h1 .sub-header:before, h2 .sub-header:before, h3 .sub-header:before, h4 .sub-header:before, h5 .sub-header:before {
  content: " - ";
}

/* line 31, ../sass/page.scss */
h2 {
  margin-bottom: 0.2em;
}

/* line 35, ../sass/page.scss */
span.warning, h2 span.warning, a span.warning {
  color: #c60f13;
}

/* line 40, ../sass/page.scss */
h2 span.warning, h2 span.warning, h2 a span.warning, a h2 span.warning, a span.warning, a h2 span.warning, h2 a span.warning, a span.warning {
  font-size: 0.7em;
}

/* line 47, ../sass/page.scss */
footer, .push {
  height: 80px;
  /* .push must be the same height as .footer */
  margin: 0px;
  padding: 0px;
}
/* line 52, ../sass/page.scss */
footer .info, .push .info {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 1.2em;
  font-size: 1em;
  color: #b9b9b9;
  font-family: 'helvetica';
}

/* line 65, ../sass/page.scss */
footer.dashboard {
  font-color: white;
}
/* line 68, ../sass/page.scss */
footer.dashboard .row:first-of-type {
  border-top: 2px solid #2b2b2b;
}
/* line 72, ../sass/page.scss */
footer.dashboard p {
  color: #fff;
}

/* line 78, ../sass/page.scss */
footer p,
footer a {
  margin-top: 10px;
}
