.section-container {
  border: none !important;
}

.section-container .section,
.section-container section {
  border-top: none;
  /*margin-bottom: 10px;*/
  /*border-bottom: 3px solid green;*/
}

.section-container .section .content,
.section-container section .content {
  padding: 5px;
  margin: 0;
}

.section-container .section .content:last-of-type,
.section-container section .content:last-of-type {
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 10px;
}

.section-container .section .title,
.section-container section .title {
  background-color: rgba(17, 17, 17, 0.05);
  padding-left: 17px;
}

.section-container .section .title a,
.section-container section .title a {
  color: #2ba6cb;
  padding: 5px;
}

.section-container .section .title:before,
.section-container section .title:before {
  color: #2ba6cb;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 0.7em;
  content: "\025B6";
}

.section-container .section.active .title:before,
.section-container section.active .title:before {
  content: "\025BC";
  left: 7px;
}

/* For larger displays */
@media only screen and (min-width: 48em) {
  .section-container .section .title,
  .section-container section .title {
    padding-left: 20px;
  }

  .section-container .section .title:before,
  .section-container section .title:before,
  .section-container .section.active .title:before,
  .section-container section.active .title:before {
    top: 7px;
  }

  .section-container .section .content,
  .section-container section .content {
    padding: 10px 5px 0 5px;
    margin: 0 10px;
/*    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
*/  }

  .section-container .section .content:last-of-type,
  .section-container section .content:last-of-type {
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 10px;
  }
}

.section-container .section.active .title,
.section-container section.active .title,
.section-container .section:not(.active) .title:hover,
.section-container section:not(.active) .title:hover {
  background-color: rgba(17, 17, 17, 0.1);
}

.section-container .section a.button {
  padding-bottom: 8px;
}