/* line 3, ../sass/main.scss */
* {
  margin: 0;
}

/* line 7, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/main.scss */
body {
  background-image: url("/images/bg.jpg");
}

/* line 15, ../sass/main.scss */
hr {
  margin: 10px 0;
}

/* line 19, ../sass/main.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
/* line 22, ../sass/main.scss */
h1 .sub-header, h2 .sub-header, h3 .sub-header, h4 .sub-header, h5 .sub-header {
  font-size: 0.75em;
}
/* line 25, ../sass/main.scss */
h1 .sub-header:before, h2 .sub-header:before, h3 .sub-header:before, h4 .sub-header:before, h5 .sub-header:before {
  content: " - ";
}

/* line 31, ../sass/main.scss */
h2 {
  margin-bottom: 0.2em;
}

/* line 36, ../sass/main.scss */
h2 span.warning, a span.warning {
  font-size: 0.7em;
  color: #c60f13;
}

/* line 42, ../sass/main.scss */
.row.main-content {
  border-bottom: 3px solid green;
  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 20px auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  margin-top: 0px;
  box-shadow: none;
}
/* line 52, ../sass/main.scss */
.row.main-content.normal {
  padding-top: 5px;
  margin-top: 0px;
}
/* line 65, ../sass/main.scss */
.row.main-content.dashboard {
  background: url("/images/sun3.jpg") 0 0 no-repeat;
  background-color: black;
}

@media only screen and (min-width: 48em) {
  /* line 72, ../sass/main.scss */
  .row.main-content {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  }
}
/* line 81, ../sass/main.scss */
footer, .push {
  height: 80px;
  /* .push must be the same height as .footer */
  margin: 0px;
  padding: 0px;
}
/* line 86, ../sass/main.scss */
footer .info, .push .info {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: #777;
  font-size: 0.8em;
}

/* line 96, ../sass/main.scss */
footer.dashboard {
  font-color: white;
}
/* line 99, ../sass/main.scss */
footer.dashboard .row:first-of-type {
  border-top: 2px solid #2b2b2b;
}
/* line 103, ../sass/main.scss */
footer.dashboard p {
  color: #fff;
}

/* line 109, ../sass/main.scss */
footer p,
footer a {
  margin-top: 10px;
}

/* line 113, ../sass/main.scss */
.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 118, ../sass/main.scss */
.bordered {
  border: 1px solid #e7e4e4;
  padding: 2px;
}

/* line 123, ../sass/main.scss */
.normal {
  padding-bottom: 15px;
  background: #fff;
  background: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* line 130, ../sass/main.scss */
.input-subtext {
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0px;
  color: #9f9f9f;
  font-size: 0.8em;
  min-height: 1px;
}

/* line 140, ../sass/main.scss */
.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
}
/* line 145, ../sass/main.scss */
.actions a {
  float: right;
}
/* line 149, ../sass/main.scss */
.actions i:hover {
  color: green;
  cursor: pointer;
}

/* line 155, ../sass/main.scss */
.top-bar .name h1 a {
  font-weight: normal;
  padding: 0 5px;
  font-size: 1.3em;
}

/* line 162, ../sass/main.scss */
.top-bar-section ul li > a,
.top-bar .toggle-topbar.menu-icon a span {
  font-weight: normal !important;
}

/* line 166, ../sass/main.scss */
.title-area h1 {
  color: white;
  padding: 0 10px 0 10px;
}

/* line 174, ../sass/main.scss */
.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
}
/* line 179, ../sass/main.scss */
.alert-box a.close {
  position: relative;
  padding: 10px;
  color: white;
}

/* line 189, ../sass/main.scss */
.button {
  font-weight: normal;
}

/* line 193, ../sass/main.scss */
.clearing-assembled {
  padding-bottom: 10px !important;
}
@media only screen and (min-width: 48em) {
  /* line 193, ../sass/main.scss */
  .clearing-assembled {
    padding-bottom: 0px !important;
  }
}
/* line 200, ../sass/main.scss */
.clearing-assembled .clearing-caption {
  background-color: rgba(17, 17, 17, 0.6);
  padding-bottom: 30px !important;
}
@media only screen and (min-width: 48em) {
  /* line 200, ../sass/main.scss */
  .clearing-assembled .clearing-caption {
    padding-bottom: 10px !important;
  }
}

/* line 210, ../sass/main.scss */
.custom.checkbox {
  border-color: black !important;
}
/* line 213, ../sass/main.scss */
.custom.checkbox.checked::before {
  color: black !important;
  font-weight: bold !important;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 221, ../sass/main.scss */
blockquote {
  margin: 10px 10px 0px 10px;
}
/* line 224, ../sass/main.scss */
blockquote.disabled {
  opacity: 0.6;
}
/* line 228, ../sass/main.scss */
blockquote p:last-of-type {
  margin-bottom: 10px;
}
/* line 232, ../sass/main.scss */
blockquote cite {
  padding-bottom: 10px;
}

/* line 237, ../sass/main.scss */
form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 242, ../sass/main.scss */
ul.dropdown h5 a {
  color: white;
}

/* line 246, ../sass/main.scss */
.carousel {
  margin: 0 6px;
}

/* line 250, ../sass/main.scss */
.standard-bar, .section-container .section, .section-container section {
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  background-color: green;
  cursor: pointer;
}

/* line 261, ../sass/main.scss */
.up-down:before, .section-container .section .title a:before, .section-container section .title a:before {
  background-image: url("/images/right.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 0px 3px;
  padding-left: 12px;
  height: 24px;
  content: "\00a0\00a0";
}
/* line 271, ../sass/main.scss */
.up-down.open:before, .section-container .section .title a.open:before, .section-container section .title a.open:before, .section-container .section.active .title a:before, .section-container section.active .title a:before {
  background-image: url("/images/down.svg");
}

/* line 4, ../sass/sections.scss */
.section-container {
  border: none !important;
}
/* line 7, ../sass/sections.scss */
.section-container .section, .section-container section {
  border-top: none;
}
/* line 12, ../sass/sections.scss */
.section-container .section .title, .section-container section .title {
  padding-left: 5px;
  margin-bottom: 5px;
  background-color: green;
}
/* line 17, ../sass/sections.scss */
.section-container .section .title:hover, .section-container section .title:hover {
  background-color: green;
}
/* line 21, ../sass/sections.scss */
.section-container .section .title a, .section-container section .title a {
  color: white;
  padding: 5px;
  display: inline;
  line-height: 33px;
}
/* line 33, ../sass/sections.scss */
.section-container .section.active, .section-container section.active {
  padding-top: 0px !important;
}
/* line 36, ../sass/sections.scss */
.section-container .section.active .title, .section-container section.active .title {
  background-color: green;
  margin-bottom: 0px;
}
/* line 48, ../sass/sections.scss */
.section-container .section a.button, .section-container section a.button {
  padding-bottom: 8px !important;
}
/* line 52, ../sass/sections.scss */
.section-container .section .content, .section-container section .content {
  padding: 5px;
  padding-top: 15px;
}
/* line 56, ../sass/sections.scss */
.section-container .section .content ul.disc, .section-container section .content ul.disc {
  margin-left: 20px;
}
/* line 61, ../sass/sections.scss */
.section-container .section .content:last-of-type, .section-container section .content:last-of-type {
  padding-bottom: 10px;
}
