<template name="activityFeed">
  {{#if showCountryFilter}}
    {{countryFilter countries}}
  {{/if}}
  <div class="row feed-header">
    <div class="small-7 large-7 columns">
      {{feedTitle}}
    </div>
    {{#if userBelongsToGroup}}
      <div class="action small-5 large-5 columns">
        <ul class="">
          <li><a href="#" class="new-short">Shorty</a></li>
          <li class="separator"></li>
          <li><a href="#" class="new-story">Story</a></li>
        </ul>
      </div>
    {{/if}}
  </div>
  <div class="row no-side-padding">
    <div class="show-for-small small-12 columns">
      {{#constant}}
        <div class="activities-map"></div>
      {{/constant}}
    </div>
    <div class="small-12 large-5 columns feed">
      {{#if userBelongsToGroup}}
        <div class="short-form row" style="display: none;">
          <div class="small-12 large-12 columns">
            {{> shortForm}}
          </div>
        </div>
      {{/if}}
      <div class="row feed-list">
        <div class="small-12 large-12 columns">
          {{#if anyActivities}}
            {{#each recentActivities}}
                {{#with this}}
                  {{#if typeIs "story"}}
                    <div class="story entry">
                      <div class="top-section">
                        <div class="picture">
                          <img src="{{profilePicture owner}}">
                        </div>
                        <div class="details">
                          <div class="owner">
                            {{userName owner}}
                          </div>
                          <div class="date">{{date created}}</div>
                          {{#if canDelete}}
                            <a href="#" class="remove" style="display: none;">remove</a>
                          {{/if}}
                        </div>
                      </div>
                      <div class="content">
                        <p>
                          Story: <a href="{{activityLink}}" class="title">{{title}} {{#unless published}}<span class="warning">(Unpublished)</span>{{/unless}}</a>
                        </p>
                      </div>
                    </div>
                  {{else}}
                    <div class="short-full entry" id="{{_id}}">
                      {{> short}}
                    </div>
                  {{/if}}
                {{/with}}
              </div>
            {{/each}}
            {{#unless feedLimitReached}}
              <div class="row feed-more">
                <div class="small-12 large-12 columns">
                  <a href="#" class="load-more small secondary button">Load More</a>
                </div>
              </div>
            {{/unless}}
          {{else}}
            <p>No activities yet :-(</p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="small-12 large-7 columns">
      <div class="row show-for-medium-up">
        <div class="small-12 large-12 columns">
          {{#constant}}
            <div class="activities-map"></div>
          {{/constant}}
        </div>
      </div>
      {{#if group.picasaUsername}}
        <div class="row">
          <div class="small-12 large-12 columns">
            {{#constant}}
              <h5>Recent Group Photos <span class="sub-header"><a target="blank" href="{{picasaGalleryUrl}}">Show All</a></span></h5>
              <div class="recent-photos"><p class="alert-box secondary">Loading photos...</p></div>
            {{/constant}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="currentActivity">
  {{#if activity}}
    {{#with activity}}
      <div class="activity" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="row header">
          <div class="small-10 large-10 columns">
            <h2 itemprop="name">{{title}}</h2>
            {{#unless published}}<span class="warning">(Unpublished)</span>{{/unless}}
          </div>
          <div class="actions small-2 large-2 columns">
            {{#if canEdit}}
              <a href="#" class="small button edit">Edit</a>
            {{/if}}
          </div>
        </div>
        <div class="row">
          {{#if hasMap}}
          <div class="small-12 large-12 columns show-for-small">
            <div class="activity-map" style="padding: 5px;"></div>
          </div>
          {{/if}}
          <div class="activity small-12 large-12 columns">
            {{#if hasMap}}
            <div class="activity-map hide-for-small"></div>
            {{/if}}
            <div class="text">
              {{#markdown}}{{text}}{{/markdown}}
            </div>
            <cite>{{creatorName}} - {{date created}}</cite>
            <div itemprop="description" style="display: none">{{textPreview}}</div>
          </div>
        </div>
        {{#if hasPhotos}}
          <div class="row">
            <div class="small-12 large-12 columns">
              <div class="activity-photos"></div>
            </div>
          </div>
        {{/if}}
        <div class="share-links">
          <div class="g-plus" data-action="share" data-annotation="none"></div>
          <div id="fb-root"></div><div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
        </div>
        
        <hr>

        <div class="row activity-controls">
          <div class="previous small-7 large-6 columns">
            {{#if previousActivity}}
              {{#with previousActivity}}
                <a href="/{{group.slug}}/{{slug}}">Previous Story</a>
              {{/with}}
            {{/if}}
          </div>
          <div class="next small-5 large-6 columns">
            {{#if nextActivity}}
              {{#with nextActivity}}
                <a href="/{{group.slug}}/{{slug}}">Next Story</a>
              {{/with}}
            {{/if}}
          </div>
        </div>
      </div>

    {{/with}}

    <div class="row sub-header">
      <div class="small-12 large-12 columns">
        <h4>Comments</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        {{#if anyComments}}
          {{> commentList activity}}
        {{/if}}
      </div>
    </div>
    {{#if currentUser}}
      <div class="row">
        <div class="small-12 large-12 columns">
          {{> commentForm activity}}
      </div>
    </div>
    {{/if}}
  {{/if}}
</template>

<template name="activityMap">
  <div class="map">
    {{#constant}}
      <svg width="500" height="500">
        <circle class="callout" cx=-100 cy=-100></circle>
        <g class="circles"></g>
        <g class="labels"></g>
      </svg>
    {{/constant}}
    <div>
      <small class="attribution muted">&copy;
        <a href="http://www.openstreetmap.org/?lat=37.78212&lon=-122.40146&zoom=15&layers=M"
           target="_blank">OpenStreetMap</a> contributors</small>
    </div>
  </div>
</template>

<template name="storyEditor">
  <h2>{{#if activity}}Edit{{else}}New{{/if}} Story</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <form class="custom">
    {{#if activity}}
      {{#with activity}}
        <input type="hidden" id="_id" value="{{_id}}">
        <label>Title</label>
        <input type="text" id="title" value="{{title}}" placeholder="Start with a title...">
        <label>Story</label>
        <textarea id="text" rows="20" style="height: 240px;" placeholder="Write something...">{{text}}</textarea><br />
        <label>Location</label>
        <input type="text" id="location" value="{{location}}" placeholder="Enter a location...">
        <div id="location-coords" class="input-subtext"></div>
        <input type="hidden" id="lat" value="{{lat}}">
        <input type="hidden" id="lng" value="{{lng}}">
        <input type="hidden" id="city" value="{{city}}">
        <input type="hidden" id="region" value="{{region}}">
        <input type="hidden" id="country" value="{{country}}">
        <label>Map Zoom</label>
        <input type="text" id="map-zoom" value="{{mapZoom}}" placeholder="0 (world) to 21+ (buildings)">        
        <label>Link Slug</label>
        <input type="text" id="slug" value="{{slug}}">
        <label>Picasa Tag</label>
        <input type="text" id="picasa-tags" value="{{picasaTags}}" placeholder="bangkok,food...">
        <label for="published">
          <input type="checkbox" class="published" id="published" style="display: none;" {{#if published}}checked{{/if}}>
          <span class="custom checkbox {{#if published}}checked{{/if}}"></span> Published
        </label><br />
        <label>Published Date</label>
        {{datePicker created}}
        <hr />
        <a href="#" class="small button secondary back">Cancel</a>
        <a href="#" class="small button success update">Save story</a>
      {{/with}}
    {{else}}
      <label>Title</label>
      <input type="text" id="title" placeholder="Start with a title...">
      <label>Story</label>
      <textarea id="text" rows="20" style="height: 240px;" placeholder="Write something..."></textarea><br />
      <label>Location</label>
      <input type="text" id="location" placeholder="Enter a location...">
      <div id="location-coords" class="input-subtext"></div>
      <input type="hidden" id="lat" value="{{lat}}">
      <input type="hidden" id="lng" value="{{lng}}">
      <input type="hidden" id="city" value="{{city}}">
      <input type="hidden" id="region" value="{{region}}">
      <input type="hidden" id="country" value="{{country}}">
      <label>Map Zoom</label>
      <input type="text" id="map-zoom" value="{{defaultMapZoom}}" placeholder="0 (world) to 21+ (buildings)">
      <label>Link Slug</label>
      <input type="text" id="slug">
      <label>Picasa Tags</label>
      <input type="text" id="picasa-tags" value="{{picasaTags}}" placeholder="bangkok,food...">
      <label for="published">
        <input type="checkbox" class="published" id="published" style="display: none;" {{#if published}}checked{{/if}}>
        <span class="custom checkbox {{#if published}}checked{{/if}}"></span> Published
      </label><br />
      <label>Published Date</label>
      {{datePicker}}
      <hr />
      <a href="#" class="small button secondary cancel">Cancel</a>
      <a href="#" class="small button success save">Add story</a>
    {{/if}}
  </form>
</template>