<template name="activityActions">
  {{#if userBelongsToGroup}}
    <li class="new-story"><a href="#">Tell a story</a></li>
  {{/if}}
</template>

<template name="activityFeed">
  <div class="row">
    <div class="show-for-small small-12 columns">
      <div class="activities-map"></div>
    </div>
    <div class="small-12 large-5 columns feed">
      <div class="row">
        <div class="small-4 large-4 columns">
          <h4>Activities</h4>
        </div>
        {{#if userBelongsToGroup}}
          <div class="action new-short small-8 large-8 columns">
            <a href="#"><span>New Post</span></a>
          </div>
        {{/if}}
      </div>
      {{#if userBelongsToGroup}}
        <div class="short row" style="display: none;">
          <div class="small-12 large-12 columns">
            {{> shortForm}}
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="small-12 large-12 columns">
          {{#if anyActivities}}
            {{#each recentActivities}}
              {{#with this}}
                {{#if typeIs "story"}}
                  <blockquote class="story">
                    Story: <a href="#">{{title}}</a>
                    <cite>{{date created}} by {{ownerName}}</cite>
                  </blockquote>
                {{else}}
                  <blockquote>
                    {{text}}
                    <cite>{{date created}} by {{ownerName}}</cite>
                  </blockquote>
                {{/if}}
              {{/with}}
            {{/each}}
          {{else}}
            <p>No activities yet :-(</p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="small-12 large-7 columns">
      <div class="row show-for-medium-up">
        <div class="small-12 large-12 columns">
          <div class="activities-map"></div>
        </div>
      </div>
      {{#if group.picasaUsername}}
        <div class="row">
          <div class="small-12 large-12 columns">
            <div class="recent-photos">Loading photos...</div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="activityComment">
  <div class="comment-form row" style="display: none;">
    <div class="small-12 large-12 columns">
      {{#if error}}
        <div class="alert-box alert">{{error}}</div>
      {{/if}}
      {{#if activity}}
        <form class="custom">
          <input type="hidden" class="activity-id" value="{{activity._id}}">
          <textarea type="text" class="comment" rows="8"></textarea><br />
          <a href="#" class="small button success save">Save comment</a>
        </form>
      {{else}}
        <p>Huh?! No Activity selected!</p>
      {{/if}}
    </div>
    <hr />
  </div>
</template>

<template name="currentActivity">
  {{#if activity}}
    {{#with activity}}
      <div class="row header">
        <div class="small-10 large-10 columns">
          <h2>{{title}}</h2>
        </div>
        <div class="actions small-2 large-2 columns">
          {{#if canEdit}}
            <a href="#" class="small button edit">Edit</a>
          {{/if}}
        </div>
      </div>
      <div class="row">
        {{#if hasMap}}
        <div class="small-12 large-12 columns show-for-small">
          <div class="activity-map" style="padding: 5px;"></div>
        </div>
        {{/if}}
        <div class="activity small-12 large-12 columns">
          {{#if hasMap}}
          <div class="activity-map hide-for-small"></div>
          {{/if}}
          <div class="text">
            {{#markdown}}{{text}}{{/markdown}}
          </div>
          <cite>{{creatorName}} - {{date created}}</cite>
        </div>
      </div>
      {{#if hasPhotos}}
        <div class="row">
          <div class="small-12 large-12 columns">
            <div class="activity-photos"></div>
          </div>
        </div>
      {{/if}}
    {{/with}}
    <hr>
    <div class="row sub-header">
      <div class="small-4 large-4 columns">
        <h4>Comments</h4>
      </div>
      {{#if currentUser}}
        <div class="action new-comment small-8 large-8 columns">
          <a href="#"><span>New Comment</span></a>
        </div>
      {{/if}}
    </div>
    {{> activityComment}}
    <div class="row">
      <div class="small-12 large-12 columns">
        {{#if anyComments}}
          {{#each comments}}
            <blockquote>
              <p>{{this.comment}}
              <cite>{{userName this.owner}} - {{date created}}</cite></p>
            </blockquote>
          {{/each}}
        {{else}}
        <p>No Comments</p>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="small-12 large-12 columns">
        <div class="alert">What just happened!? Let's go <a href="/">home</a>.</div>
      </div>
    </div>
  {{/if}}
</template>

<template name="activityMap">
  <div class="map">
    {{#constant}}
      <svg width="500" height="500">
        <circle class="callout" cx=-100 cy=-100></circle>
        <g class="circles"></g>
        <g class="labels"></g>
      </svg>
    {{/constant}}
    <div>
      <small class="attribution muted">&copy;
        <a href="http://www.openstreetmap.org/?lat=37.78212&lon=-122.40146&zoom=15&layers=M"
           target="_blank">OpenStreetMap</a> contributors</small>
    </div>
  </div>
</template>

<template name="storyEditor">
  <h2>{{#if activity}}Edit{{else}}New{{/if}} Story</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <form class="custom">
    {{#if activity}}
      {{#with activity}}
        <input type="hidden" class="id" value="{{_id}}">
        <label>Title</label>
        <input type="text" class="title" value="{{title}}">
        <label>Story</label>
        <textarea class="text" rows="20" style="height: 240px;">{{text}}</textarea><br />
        <label>Location</label>
        <input type="text" class="location" value="{{location}}">
        <div class="location-coords input-subtext"></div>
        <input type="hidden" class="lat" value="{{lat}}">
        <input type="hidden" class="lng" value="{{lng}}">
        <label>Map Zoom</label>
        <input type="text" class="map-zoom" value="{{mapZoom}}">        
        <label>Link Slug</label>
        <input type="text" class="slug" value="{{slug}}">
        <label>Picasa Tag</label>
        <input type="text" class="picasa-tags" value="{{picasaTags}}">
        <label for="published">
          <input type="checkbox" class="published" id="published" style="display: none;" {{#if published}}checked{{/if}}>
          <span class="custom checkbox {{#if published}}checked{{/if}}"></span> Published
        </label><br />
        <label>Published Date</label>
        {{datePicker created}}
        <hr />
        <a href="#" class="small button secondary back">Cancel</a>
        <a href="#" class="small button success update">Save story</a>
      {{/with}}
    {{else}}
      <label>Title</label>
      <input type="text" class="title">
      <label>Story</label>
      <textarea class="text" rows="20" style="height: 240px;"></textarea><br />
      <label>Location</label>
      <input type="text" class="location"><div class="location-coords input-subtext"></div>
      <input type="hidden" class="lat" value="{{lat}}">
      <input type="hidden" class="lng" value="{{lng}}">
      <label>Map Zoom</label>
      <input type="text" class="map-zoom" value="{{defaultMapZoom}}">
      <label>Link Slug</label>
      <input type="text" class="slug">
      <label>Picasa Tag</label>
      <input type="text" class="picasa-tags" value="{{picasaTags}}">
      <label for="published">
        <input type="checkbox" class="published" id="published" style="display: none;" {{#if published}}checked{{/if}}>
        <span class="custom checkbox {{#if published}}checked{{/if}}"></span> Published
      </label><br />
      <label>Published Date</label>
      {{datePicker}}
      <hr />
      <a href="#" class="small button secondary cancel">Cancel</a>
      <a href="#" class="small button success save">Add story</a>
    {{/if}}
  </form>
</template>