<template name="itemComments">
  <div class="short-comments">
    <div class="inner">
      {{> commentList this}}
    </div>
  </div>
  <div class="comments-notice">
    <div class="inner"></div>
  </div>
</template>

<template name="commentList">
  {{#if anyComments}}
    {{#each comments}}
      {{> comment this}}
    {{/each}}
  {{/if}}
</template>

<template name="comment">
  {{#if loaded}}
    <div class="comment" data-underplan-comment-id="{{_id}}">
      <div class="info-section">
        <div class="container">
          <div class="picture">
            <img src="{{profilePicture owner}}">
          </div>
          <div class="details">
            <div class="owner">{{userName owner}}</div>
            <div class="date">{{date created}}</div>
          </div>
        </div>
      </div>
      {{#if canRemove}}
        <div class="fixed actions">
          <a href="#" class="remove action"></a>
        </div>
      {{/if}}
      <div class="content">
        {{#markdown}}{{{comment}}}{{/markdown}}
      </div>
    </div>
  {{else}}
    <div class="alert-box loading clear">Loading...</div>
  {{/if}}
</template>

<template name="commentForm">
  {{#if currentUser}}
    <div class="comment-form">
      <div class="inner">
        {{#if error}}
          <div class="alert-box alert">{{error}}</div>
        {{/if}}
        {{#if _id}}
          <form class="custom">
            <input type="hidden" id="activity-id" value="{{_id}}">
            <div class="user-comment">
              <div class="info-section">
                <div class="container">
                  <div class="picture">
                    <img src="{{profilePicture currentUser}}">
                  </div>
                  <div class="details">
                    <textarea type="text" id="comment" placeholder="Write your comment..."></textarea>
                    <a href="#" class="tiny button success save disabled">Create</a>
                    <a href="#" class="tiny secondary cancel">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        {{else}}
          <p>Huh?! No Activity selected!</p>
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>