<template name="groupItem">
  <div class="group">
    {{#with this}}
      <div class="panel radius">
        {{#if userCanFollow}}
          <div class="follow-group"> 
            <a href="#" class="{{followedCls}} fi-star"></a>
            <div class="text"></div>
          </div>
        {{/if}}
        <h5>
          <a href="/{{slug}}" class="fi-flag"> {{name}}</a>
        </h5>
        <span class="started">
          <i class="fi-clock"></i>
          <p>{{date created}}</p>
        </span>
        {{#if description}}<p>{{description}}</p>{{/if}}
      </div>
    {{/with}}
  </div>
</template>

<template name="groupActions">
  <div class="{{groupCls}} group-controls">
    <div class="inner">
      {{#if showMapActions}}
        <ul class="map-actions">
          <li>
            {{> mapFeedListToggle}}
          </li>
          {{#if showCountryFilter}}
            <li>
              {{> countryFilter}}
            </li>
          {{/if}}
          {{#if showActivityCountControl}}
            {{> activityCountControl}}
          {{/if}}
        </ul> 
      {{/if}}
      {{#if showActivityActions}}
        {{> groupActivityActions}}
      {{/if}}
    </div>
  </div>
</template>

<template name="mapFeedListToggle">
  <a href="{{toggleUrl}}" id="map-feed-toggle" class="button action {{toggleCls}}">
    {{type}}
  </a>
</template>

<template name="activityCountControl">
  {{loadMore}}
</template>

<template name="groupActivityActions">
  <ul class="activity-actions">
    <li>
      <span>
        <a href="#" class="main action button" data-dropdown="share" data-bypass>Share</a>
      </span>
      <div id="share" class="f-dropdown content right" data-dropdown-content>
        <div class="short-form">
          <div class="form-content">
            {{> shortForm activity}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>

<template name="countryFilter">
  <span><a href="#" class="country-container action button" data-dropdown="country-filter" data-bypass>  {{currentCountry}}
  </a></span><br>
  <ul id="country-filter" class="f-dropdown" data-dropdown-content>
    <li class="{{isCurrentCountry "all"}}">
      <a href="#" class="all">All Countries</a>
    </li>
    {{#each countries}}
      <li class="{{isCurrentCountry this}}">
        <a href="#">{{this}}</a>
      </li>
    {{/each}}
  </ul>
</template>