<template name="groupItem">
  <div class="group">
    {{#with this}}
      <div class="panel radius">
        {{#if userCanFollow}}
          <div class="follow-group"> 
            <a href="#" class="{{followedCls}} foundicon-general-star"></a>
            <div class="text"></div>
          </div>
        {{/if}}
        <h5>
          <a href="/{{slug}}" class="foundicon-flag"> {{name}}</a>
        </h5>
        <span class="started">
          <i class="foundicon-general-clock"></i>
          <p>{{date created}}</p>
        </span>
        {{#if description}}<p>{{description}}</p>{{/if}}
      </div>
    {{/with}}
  </div>
</template>

<template name="groupActions">
  <div class="group-controls">
    {{#if showMapActions}}
      <div class="left">
        {{> countryFilter}}
        {{> activityCountControl}}
      </div>
    {{/if}}
    {{#if showActivityActions}}
      <div class="right">
        <div class="map-secondary-actions">
          <div class="new-shorty action">
            <a href="/{{groupSlug}}/new/shorty">Share</a>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>

<template name="activityCountControl">
  {{#if showCountControl}}
    <div class="map-secondary-actions">
      {{loadMore}}
    </div>
  {{/if}}
</template>

<template name="countryFilter">
  {{#if showCountryFilter}}
    <div class="section-container country-container" data-section="horizontal-nav" data-section-resized="true">
      <section class="section">
        <p class="title"><a href="#">{{currentCountry}}</a></p>
        <div class="content">
          <ul class="side-nav country-filter">
            <li class="{{isCurrentCountry "all"}}"><a href="{{groupUrl}}" class="all">All Countries</a></li>
            {{#each countries}}
              <li class="{{isCurrentCountry this}}"><a href="{{groupUrl}}/c/{{this}}">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </section>
    </div>
  {{/if}}
</template>