<template name="groupAdminActions">
  {{#if isGroupAdmin}}
    <li class="divider"></li> 
    <li class="group-settings"><a href="#">Group Settings</a></li>
    <li class="membership"><a href="#">Membership</a></li>
  {{/if}}
</template>

<template name="mainHome">
  <header id="homepage">
    {{#if message}}
      <div class="alert-box secondary">{{message}}<a href="#" class="close">x</a></div>
    {{/if}}
    <div class="groups">
      <div class="main-quote">
        <div class="inner">
          <h1>Underplan</h1>
          <blockquote>
            <p>Everybody has a plan until they get punched in the face.
            <cite>Mike Tyson</cite></p>
          </blockquote>
        </div>
      </div>
      <div class="actions">
        <div class="inner">
          <a href="/new" class="large button new-group">Create your journey</a>
        </div>
      </div>
      <div class="more">
        <div class="inner">
          <div class="or">Or, explore:</div>
        </div>
      </div>
      {{#if groups}}
        <div class="list">
          {{#each groups}}
            {{> groupItem this}}
          {{/each}}
        </div>
      {{else}}
        <div class="row">
          <div class="small-12 large-12 columns">
            <p>Loading Journies...</p>
          </div>
        </div>
      {{/if}}
    </div>
  </header>
</template>