<template name="groupAdminActions">
  {{#if isGroupAdmin}}
    <li class="divider"></li> 
    <li class="group-settings"><a href="#">Group Settings</a></li>
    <li class="membership"><a href="#">Membership</a></li>
  {{/if}}
</template>

<template name="mainHome">
  <header id="homepage">
    {{#if message}}
      <div class="alert-box secondary">{{message}}<a href="#" class="close">x</a></div>
    {{/if}}
    <div class="groups">
      <div class="main-quote">
        <div class="inner">
          <h1>Underplan</h1>
          <blockquote>
            <p>Everybody has a plan until they get punched in the face.
            <cite>Mike Tyson</cite></p>
          </blockquote>
        </div>
      </div>
      <div class="actions">
        <div class="inner">
          <a href="/new" class="large round button new-group">Create your journey</a>
        </div>
      </div>
      <div class="more">
        <div class="inner">
          <div class="or">Or, explore:</div>
        </div>
      </div>
      {{#if groups}}
        <div class="list">
          {{#each groups}}
            {{> groupItem this}}
          {{/each}}
        </div>
      {{else}}
        <div class="row">
          <div class="small-12 large-12 columns">
            <p>Loading Journies...</p>
          </div>
        </div>
      {{/if}}
    </div>
  </header>
</template>

<template name="groupEditor">
  <div class="group-editor">
    {{#unless group}}<h2>New journey</h2>{{/unless}}
    {{#if error}}
      <div class="alert-box alert">{{error}}</div>
    {{/if}}
    <form class="group-form">
      {{#if group}}
        {{#with group}}
          <input type="hidden" class="id" value="{{_id}}">
          <label>Name</label>
          <input type="text" class="name" value="{{name}}">
          <label>Description</label>
          <textarea type="text" class="description" rows="2">
            {{description}}
          </textarea>
          <fieldset>
            <legend>Trovebox Settings</legend>
            <label>Domain</label>
            <input type="text" class="trovebox-domain" value="{{trovebox.domain}}" placeholder="e.g. demo.trovebox.com">
            <label>Album Name</label>
            <input type="text" class="trovebox-album" value="{{trovebox.album}}" placeholder="e.g. album-1">
            <label>Album Auth Key</label>
            <input type="text" class="trovebox-albumKey" value="{{trovebox.albumKey}}" placeholder="e.g. 1234a56cde">
          </fieldset>
          <fieldset>
            <legend>Picasa Photo Settings</legend>
            <label>Username</label>
            <input type="text" class="picasa-username" value="{{picasaUsername}}" placeholder="e.g. 106541547848938827222">
            <label>Album Name</label>
            <input type="text" class="picasa-album" value="{{picasaAlbum}}" placeholder="e.g. SouthEastAsia2013">
            <label>Album Auth Key</label>
            <input type="text" class="picasa-key" value="{{picasaKey}}" placeholder="e.g. Gv1sRgclOVrNKD38z_cA">
          </fieldset>
          <a href="#" class="tiny button success update">Update</a>
          <a href="#" class="tiny secondary cancel-edit">Cancel</a>
        {{/with}}
      {{else}}
        <label>Name</label>
        <input type="text" class="name">
        <label>Description</label>
        <textarea type="text" class="description" rows="2"></textarea>
        <fieldset>
          <legend>Trovebox Settings (<a href="http://trovebox.com" target="_blank">?</a>)</legend>
          <label>Domain</label>
          <input type="text" class="trovebox-domain" placeholder="e.g. demo.trovebox.com">
          <label>Album Name</label>
          <input type="text" class="trovebox-album" placeholder="e.g. album-1">
          <label>Album Auth Key</label>
          <input type="text" class="trovebox-albumKey" placeholder="e.g. 1234a56cde">
        </fieldset>
        <a href="#" class="tiny button success save">Create</a>
        <a href="#" class="tiny secondary cancel-new">Cancel</a>
      {{/if}}
    </form>
  </div>
</template>

<template name="groupInviteList">
  <div class="row">
    <div class="small-12 large-4 columns">
      <h5>Uninvited</h5>
        <ul class="disc">
        {{#each uninvited}}
          <li>
            <a href="#" class="btn invite">Invite</a>
            {{displayName}}
          </li>
        {{else}}
          <p>Everyone on the site has already been invited.</p>
        {{/each}}
        </ul>
    </div>
    <div class="small-12 large-6 columns">
      <h5>Invited</h5>
      <ul class="disc">
        {{#each invited}}
          <li>{{displayName}}</li>
        {{else}}
          <p>No invites yet!</p>
        {{/each}}
      </ul>
    </div>
  </div>
</template>