<template name="loginForm">
  <h2>Login</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <div class="form custom">
    <label>Username</label>
    <input type="text" class="username">
    <label>Password</label>
    <input type="password" class="password">
    <hr />
    <a href="#" class="small button success login">Login</a>
  </div>
</template>

<template name="loginButtons">
  {{#if currentUser}}
    {{> loggedin}}
  {{else}}
    {{> loggedout}}
  {{/if}}
</template>

<template name="loggedin">
  {{#unless loggingIn}}
    <li class="hide-for-small divider"></li>
    <li class="has-dropdown settings">
      <a href="#" class="{{#if isSettingsRoute}}active{{/if}}">
        {{#if profilePicture}}<img src="{{profilePicture}}">{{/if}}
        <span>{{displayName currentUser}}</span>
      </a>
      <ul class="dropdown">
        <li><a href="#" class="{{#if group}}main{{else}}user{{/if}}-settings {{#if isSettingsRoute}}active{{/if}}">Settings</a></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </li>
    <!-- <li><a href="#" id="logout"><span>Logout</span></a></li> -->
  {{/unless}}
</template>

<template name="loggedout">
  <li class="text">Log in with:</li>
  {{#if hasTwitter}}
    <li class="login-services">
      <a href="#" class="login twitter">
        <i class="foundicon-social-twitter"><p>Twitter</p></i>
      </a>
    </li>
  {{/if}}
  {{#if hasGoogle}}
    <li class="login-services">
      <a href="#" class="login google">
        <i class="foundicon-social-google-plus"><p>Google</p></i>
      </a>
    </li>
  {{/if}}
  {{#if hasFacebook}}
    <li class="login-services">
      <a href="#" class="login facebook">
        <i class="foundicon-social-facebook"><p>Facebook</p></i>
      </a>
    </li>
  {{/if}}
  {{#if hasGitHub}}
    <li class="login-services">
      <a href="#" class="login github">
        <i class="foundicon-social-github"><p>GitHub</p></i>
      </a>
    </li>
  {{/if}}
</template>