<template name="loginForm">
  <h2>Login</h2>
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <div class="form custom">
    <label>Username</label>
    <input type="text" class="username">
    <label>Password</label>
    <input type="password" class="password">
    <a href="#" class="tiny button success login">Login</a>
  </div>
</template>

<template name="loginButtons">
  {{#if currentUser}}
    {{> loggedin}}
  {{else}}
    {{> loggedout}}
  {{/if}}
</template>

<template name="loggedin">
  {{#unless loggingIn}}
    <li class="hide-for-small has-dropdown settings not-click">
      <a href="#" class="{{settingsActiveCls}}" data-bypass>
        <img src="{{profilePicture currentUser}}">
        <span>{{userName currentUser}}</span>
      </a>
      <ul class="dropdown">
        <li><a href="#" class="{{mainCls}} {{settingsActiveCls}}">Settings</a></li>
        <li><a href="#" class="logout">Logout</a></li>
      </ul>
    </li>
    <li class="show-for-small settings">
      <a href="#" class="{{mainCls}} {{settingsActiveCls}}">
        <img src="{{profilePicture currentUser}}">
        <span>{{userName currentUser}}</span>
      </a>
    </li>
    <li class="show-for-small"><a href="#" class="logout">Logout</a></li>
  {{/unless}}
</template>

<template name="loggedout">
  <li class="text">
    <a href="#" data-reveal-id="login-modal" class="reveal-login-modal" data-bypass>Log in</a>
  </li>
  {{> loginPanel}}
</template>

<template name="loginPanel">
  <div id="login-modal" class="medium reveal-modal" data-reveal>
    <h3>Log in to Underplan</h3>
    <hr />
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
      {{#if hasTwitter}}
        <li class="login-services twitter">
          <a href="#" class="login">
            <i class="fi-social-twitter"></i>Twitter
          </a>
        </li>
      {{/if}}
      {{#if hasGoogle}}
        <li class="login-services google">
          <a href="#" class="login">
            <i class="fi-social-google-plus"></i>Google
          </a>
        </li>
      {{/if}}
      {{#if hasFacebook}}
        <li class="login-services facebook">
          <a href="#" class="login">
            <i class="fi-social-facebook"></i>Facebook
          </a>
        </li>
      {{/if}}
      {{#if hasGitHub}}
        <li class="login-services github">
          <a href="#" class="login">
            <i class="fi-social-github"></i>GitHub
          </a>
        </li>
      {{/if}}
    </ul>
    <a class="close-reveal-modal">X</a>
  </div>
</template>