<template name="activityActions">
  {{#if userCanFollow}}
    <li class="follow-group">
      <a href="#" class="{{#if followingGroup}}followed{{/if}} foundicon-general-star">
        <span>Follow</span>
      </a>
    </li>
  {{/if}}
</template>

<template name="mainNav">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        {{#if group}}
        <h1>
          <a href="/{{group.slug}}" class="home branding">
            {{group.name}}
          </a>
        </h1>
        {{/if}}
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <!-- Right Nav Section -->
      <ul class="right">
        {{#if group}}
          {{> activityActions}}
        {{/if}}
        {{> loginButtons}}
      </ul>
    </section>
  </nav>
</template>