<template name="activityActions">
  {{#if userCanFollow}}
    <li class="follow-group">
      <a href="#" class="{{followedCls}} foundicon-general-star">
        <span>Follow</span>
      </a>
    </li>
  {{/if}}
</template>

<template name="mainNav">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        {{#if groupNavTitle}}
          <h1>
            <a href="/{{groupNavTitle.slug}}" class="home branding">
              {{groupNavTitle.name}}
            </a>
          </h1>
        {{/if}}
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <!-- Right Nav Section -->
      <ul class="right">
        {{#if group}}
          {{> activityActions}}
        {{/if}}
        {{> loginButtons}}
      </ul>
    </section>
  </nav>
</template>

<template name="navTitle">
  {{#if name}}
    <h1>
      <a href="/{{slug}}" class="home branding">
        {{name}}
      </a>
    </h1>
  {{/if}}
</template>