<template name="activityActions">
  {{#if userCanFollow}}
    <li class="divider show-for-medium-and-up"></li>
    <li class="follow-group">
      <a href="#" class="{{#if followingGroup}}followed{{/if}} foundicon-general-star">
        <span>Follow</span>
      </a>
    </li>
  {{/if}}
</template>

<template name="mainNav">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        {{#if group}}
        <h1>
          <a href="/{{group.slug}}" class="home branding">
            {{group.name}}
          </a>
        </h1>
        {{/if}}
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <!-- Right Nav Section -->
      <ul class="right">
        {{#if group}}
          {{> activityActions}}
        {{/if}}
        {{> loginButtons}}
      </ul>
    </section>
  </nav>
</template>

<template name="groupActions">
  {{> countryFilter}}
</template>

<template name="countryFilter">
  {{#if showCountryFilter}}
    <div class="group-controls">
      <div class="small-12 large-12 columns">
        <div class="section-container country-container" data-section="horizontal-nav" data-section-resized="true">
          <section class="section">
            <p class="title"><a href="#">{{currentCountry}}</a></p>
            <div class="content">
              <ul class="side-nav country-filter">
                <li><a href="#" class="all">All Countries</a></li>
                {{#each countries}}
                  <li class="{{isCurrentCountry this}}"><a href="#">{{this}}</a></dt>
                {{/each}}
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  {{/if}}
</template>