<template name="picasaGallery">
  {{#if photos}}
    <ul class="clearing-thumbs small-block-grid-{{gridSmall}} large-block-grid-{{gridLarge}}" data-clearing>
      {{#each photos}}
        <li>
          <a href="{{url}}">
            <img class="th" itemprop="image" data-caption="{{caption}}" src="{{thumbUrl}}" />
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="alert-box secondary">No Photos</p>
  {{/if}}
</template>

<template name="picasaSlideshow">
  {{#if photos}}
    <ul data-orbit class="picasa-slideshow" style="height: 300px;">
      {{#each photos}}
        <li>
          <img src="{{url}}" height="300" />
          <div class="orbit-caption">{{caption}}</div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="alert-box secondary">No Photos</p>
  {{/if}}
</template>
