<template name="mainSettings">
  <div class="settings-editor">
    <h2>Settings</h2>
    {{#if isGroupAdmin}}
      {{> groupSettings}}
    {{else}}
      {{> userSettings}}
    {{/if}}
  </div>
</template>

<template name="groupSettings">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#user" data-bypass>User Preferences</a>
      <div id="user" class="content active" data-slug="user">
        {{> userSettings}}
      </div>
    </dd>
    <dd>
      <a href="#group" data-bypass>Group Settings</a>
      <div id="group" class="content" data-slug="group">
        {{> groupEditor}}
      </div>          
    </dd>
    <dd>
      <a href="#membership" data-bypass>Group Membership</a>
      <div id="membership" class="content" data-slug="membership">
        {{> groupInviteList}}
      </div>
    </dd>
  </dl>
</template>

<template name="userSettings">
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <form class="custom">
    {{#with user}}
      <label>Nickname</label>
      <input type="text" id="name" value="{{profile.name}}">
      <label>Email</label>
      <input type="text" id="email" value="{{profile.email}}" disabled>
      <a href="#" class="tiny button success save">Update</a>
      <a href="#" class="tiny secondary cancel">Cancel</a>
    {{/with}}
  </form>
</template>
