<template name="userSettings">
  {{#if error}}
    <div class="alert-box alert">{{error}}</div>
  {{/if}}
  <form class="custom">
    {{#with user}}
      <label>Nickname</label>
      <input type="text" id="name" value="{{profile.name}}">
      <label>Email</label>
      <input type="text" id="email" value="{{profile.email}}" disabled>
      <a href="#" class="small button success save">Update</a>
      <a href="#" class="small secondary cancel">Cancel</a>
    {{/with}}
  </form>
</template>

<template name="mainSettings">
  <div class="settings-editor">
    <h2>Settings</h2>
    {{#if isGroupAdmin}}
      <div class="section-container accordion" data-section="accordion">
        <section class="active">
          <p class="title"><a href="#user">User Preferences</a></p>
          <div class="content" data-slug="user" data-section-content>
            {{> userSettings}}
          </div>
        </section>
        <section>
          <p class="title"><a href="#group">Group Settings</a></p>
          <div class="content" data-slug="group" data-section-content>
            {{> groupEditor}}
          </div>
        </section>
        <section>
          <p class="title"><a href="#membership">Group Membership</a></p>
          <div class="content" data-slug="membership" data-section-content>
            {{> groupInviteList}}
          </div>
        </section>
      </div>
    {{else}}
      {{> userSettings}}
    {{/if}}
  </div>
</template>