<template name="shortContent">
  <div class="short" id="{{_id}}">
    <div class="top-section">
      <div class="picture">
        <img src="{{profilePicture owner}}">
      </div>
      <div class="details">
        <div class="owner">
          {{userName owner}}
        </div>
        <div class="date">{{date created}}</div>
        {{#if canDelete}}
          <a href="#" class="remove" style="display: none;">remove</a>
        {{/if}}
      </div>
    </div>
    <div class="content">
      {{#markdown}}{{text}}{{/markdown}}
    </div>
  </div>
</template>

<template name="short">
  {{#with activity}}
    {{> shortContent}}
    <div class="row short-actions">
      <div class="small-6 large-6 columns">
        {{#if hasComments}}
          <a class="comments" href="#">{{countText}}</a>
        {{else}}
          <span class="comments">{{countText}}</span>
        {{/if}}
      </div>
      {{#if currentUser}}
        <div class="small-5 large-5 columns">
          <div class="action new-comment">
            <a href="#"  data-tooltip class="tip-bottom" title="Log in to comment."><span>Comment</span></a>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="row short-comments">
      <div class="small-12 large-12 columns">
        {{> commentList this}}
        {{> commentForm this}}
      </div>
    </div>
  {{/with}}
</template>

<template name="shortForm">
  <form class="custom">
    <div class="row">
      <div class="small-12 large-12 columns">
        <textarea type="text" id="text" value="" style="height: 100px;" placeholder="Write something..." /><br />
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <label>Location</label>
        <input type="text" id="location" value="" placeholder="Enter a location...">
        <div class="location-coords input-subtext"></div>
        <input type="hidden" id="lat" value="">
        <input type="hidden" id="lng" value="">
        <input type="hidden" id="city" value="">
        <input type="hidden" id="country" value="">
        <input type="hidden" id="region" value="">
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <a href="#" class="small button secondary cancel">Cancel</a>
        <a href="#" class="small button success post">Post</a>
        <span class="text-length">250</span>
      </div>
    </div>
    <hr />
  </form>
</template>