<template name="short">
  {{#with activity}}
    <blockquote>
      {{text}}
      <cite>{{date created}} by {{ownerName}}</cite>
    </blockquote>
    <div class="row short-actions">
      <div class="small-6 large-6 columns">
        {{commentsLink}}
      </div>
      <div class="small-5 large-5 columns">
        <div class="action new-comment">
          <a href="#"><span>Comment</span></a>
        </div>
      </div>
    </div>
    {{> commentForm this}}
    <div class="commentList" style="display: {{#if lastUpdated}}inherit{{else}}none{{/if}};">
      {{> commentList this}}
    </div>
  {{/with}}
</template>

<template name="shortForm">
  <form class="custom">
    <div class="row">
      <div class="small-12 large-12 columns">
        <textarea type="text" class="text" value="" style="height: 100px;"></textarea><br />
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <label>Location</label>
        <input type="text" class="location" value="">
        <div class="location-coords input-subtext"></div>
        <input type="hidden" class="lat" value="">
        <input type="hidden" class="lng" value="">
      </div>
    </div>
    <div class="row">
      <div class="small-2 large-2 columns">
        <a href="#" class="small button success post">Post</a>
      </div>
      <div class="text-length small-10 large-10 columns">
        <span>250</span>
      </div>
    </div>
    <hr />
  </form>
</template>