<template name="shortForm">
  <form class="custom">
    <div class="row">
      <div class="small-12 large-12 columns">
        <textarea type="text" class="text" value="" style="height: 100px;"></textarea><br />
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <label>Location</label>
        <input type="text" class="location" value="">
        <div class="location-coords input-subtext"></div>
        <input type="hidden" class="lat" value="">
        <input type="hidden" class="lng" value="">
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-3 columns">
        <a href="#" class="small button success post">Post</a>
      </div>
      <div class="text-length small-12 large-3 columns">
        <span>250</span>
      </div>
    </div>
    <hr />
  </form>
</template>