/*
Syntax error: Incompatible units: '%' and 'px'.
        on line 36 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss
        from line 4 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/_typography.scss
        from line 2 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/_compass.scss
        from line 4 of /Users/mgallop/Dev/underplan/client/sass/app/activities.scss

Backtrace:
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss:36
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/_typography.scss:4
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/_compass.scss:2
/Users/mgallop/Dev/underplan/client/sass/app/activities.scss:4
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/number.rb:394:in `coercion_factor'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/number.rb:325:in `coerce'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/number.rb:375:in `operate'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/number.rb:119:in `minus'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/operation.rb:90:in `_perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/operation.rb:74:in `_perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/operation.rb:74:in `_perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `load'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `<main>'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/mgallop/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Incompatible units: '%' and 'px'.\A         on line 36 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss\A         from line 4 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/_typography.scss\A         from line 2 of /Users/mgallop/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/_compass.scss\A         from line 4 of /Users/mgallop/Dev/underplan/client/sass/app/activities.scss"; }
