/* line 3, ../../sass/main.scss */
* {
  margin: 0;
}

/* line 7, ../../sass/main.scss */
html, body {
  height: 100%;
}

/* line 11, ../../sass/main.scss */
body {
  background-image: url("/images/4.jpg");
}

/* line 15, ../../sass/main.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* line 19, ../../sass/main.scss */
h2 {
  margin-bottom: 0.2em;
}

/* line 24, ../../sass/main.scss */
h2 span.warning, a span.warning {
  font-size: 0.7em;
  color: #c60f13;
}

/* line 30, ../../sass/main.scss */
.row.main-content {
  border-bottom: 3px solid green;
  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 20px auto -80px;
  /* the bottom margin is the negative value of the footer's height */
  margin-top: 0px;
  box-shadow: none;
}
/* line 40, ../../sass/main.scss */
.row.main-content.normal {
  padding-top: 5px;
  margin-top: 0px;
}
/* line 53, ../../sass/main.scss */
.row.main-content.dashboard {
  background: url("/images/sun3.jpg") 0 0 no-repeat;
  background-color: black;
}

@media only screen and (min-width: 48em) {
  /* line 60, ../../sass/main.scss */
  .row.main-content {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  }
}
/* line 69, ../../sass/main.scss */
footer, .push {
  height: 80px;
  /* .push must be the same height as .footer */
  margin: 0px;
  padding: 0px;
}

/* line 75, ../../sass/main.scss */
footer.dashboard {
  font-color: white;
}
/* line 78, ../../sass/main.scss */
footer.dashboard .row:first-of-type {
  border-top: 2px solid #2b2b2b;
}
/* line 82, ../../sass/main.scss */
footer.dashboard p {
  color: #fff;
}

/* line 88, ../../sass/main.scss */
footer p,
footer a {
  margin-top: 10px;
}

/* line 92, ../../sass/main.scss */
.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 97, ../../sass/main.scss */
.bordered {
  border: 1px solid #e7e4e4;
  padding: 2px;
}

/* line 102, ../../sass/main.scss */
.normal {
  padding-bottom: 15px;
  background: #fff;
  background: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* line 109, ../../sass/main.scss */
.input-subtext {
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0px;
  color: #9f9f9f;
  font-size: 0.8em;
  min-height: 1px;
}

/* line 119, ../../sass/main.scss */
.actions {
  display: block;
  line-height: 32px;
  padding-top: 18px;
}
/* line 124, ../../sass/main.scss */
.actions a {
  float: right;
}
/* line 128, ../../sass/main.scss */
.actions i:hover {
  color: green;
  cursor: pointer;
}

/* line 134, ../../sass/main.scss */
.top-bar .name h1 a {
  font-weight: normal;
  padding: 0 5px;
  font-size: 1.3em;
}

/* line 141, ../../sass/main.scss */
.top-bar-section ul li > a,
.top-bar .toggle-topbar.menu-icon a span {
  font-weight: normal !important;
}

/* line 145, ../../sass/main.scss */
.title-area h1 {
  color: white;
  padding: 0 10px 0 10px;
}

/* line 150, ../../sass/main.scss */
.alert-box {
  margin-top: 8px;
  text-align: center;
  font-weight: normal !important;
}
/* line 155, ../../sass/main.scss */
.alert-box a.close {
  position: relative;
  padding: 10px;
  color: white;
}

/* line 165, ../../sass/main.scss */
.button {
  font-weight: normal;
}

/* line 169, ../../sass/main.scss */
.custom.checkbox {
  border-color: black !important;
}
/* line 172, ../../sass/main.scss */
.custom.checkbox.checked::before {
  color: black !important;
  font-weight: bold !important;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 180, ../../sass/main.scss */
blockquote {
  margin: 10px 10px 0px 10px;
}
/* line 183, ../../sass/main.scss */
blockquote p:last-of-type {
  margin-bottom: 10px;
}
/* line 187, ../../sass/main.scss */
blockquote cite {
  padding-bottom: 10px;
}

/* line 192, ../../sass/main.scss */
form fieldset legend {
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 197, ../../sass/main.scss */
.section-container .section.active {
  padding-top: 0px !important;
}

/* line 201, ../../sass/main.scss */
ul.dropdown h5 a {
  color: white;
}

/* line 205, ../../sass/main.scss */
.carousel {
  margin: 0 6px;
}

/* line 209, ../../sass/main.scss */
.standard-bar, .feed .row.feed-list .short .row.short-actions {
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  background-color: green;
  cursor: pointer;
}

/* line 220, ../../sass/main.scss */
.up-down:before, .feed .row.feed-list .short .row.short-actions a.comments:before {
  background-image: url("/images/right.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 0px 3px;
  padding-left: 12px;
  height: 24px;
  content: "\00a0\00a0";
}
/* line 230, ../../sass/main.scss */
.up-down.open:before, .feed .row.feed-list .short .row.short-actions a.open.comments:before, .feed .row.feed-list .short.expanded .short-actions a.comments:before {
  background-image: url("/images/down.svg");
}

/* line 6, ../../sass/app/activities.scss */
.activity cite:before {
  content: "\2014 \0020";
  color: gray;
}
/* line 11, ../../sass/app/activities.scss */
.activity .activity-map {
  padding: 5px 0 5px 0px;
  float: right;
}
@media only screen and (min-width: 48em) {
  /* line 17, ../../sass/app/activities.scss */
  .activity .activity-map {
    padding: 10px;
  }
}

/* line 23, ../../sass/app/activities.scss */
.activity-controls {
  padding-top: 10px;
}
/* line 26, ../../sass/app/activities.scss */
.activity-controls a {
  height: 24px;
  font-size: 0.9em;
}
/* line 30, ../../sass/app/activities.scss */
.activity-controls a:before, .activity-controls a:after {
  background-size: 14px 14px;
  background-repeat: no-repeat;
  content: "\00a0\00a0\00a0\00a0";
}
/* line 39, ../../sass/app/activities.scss */
.activity-controls .previous a:before {
  padding-right: 4px;
  background-position: 0px 3px;
  background-image: url("/images/left_green.svg");
}
/* line 47, ../../sass/app/activities.scss */
.activity-controls .next {
  text-align: right;
}
/* line 51, ../../sass/app/activities.scss */
.activity-controls .next a:after {
  padding-left: 5px;
  background-position: 5px;
  background-image: url("/images/right_green.svg");
}

/* line 60, ../../sass/app/activities.scss */
.activities-map {
  margin: 10px 0px 10px 0px !important;
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  height: 240px;
}
/* line 67, ../../sass/app/activities.scss */
.activities-map img {
  max-width: inherit;
}

/* line 72, ../../sass/app/activities.scss */
.map-info {
  width: 300px;
}
/* line 76, ../../sass/app/activities.scss */
.map-info blockquote {
  border-left: none !important;
  margin: 0px !important;
  padding: 8px;
  font-size: 0.9em;
}
/* line 82, ../../sass/app/activities.scss */
.map-info blockquote p:last-of-type {
  margin-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  /* line 72, ../../sass/app/activities.scss */
  .map-info {
    width: 400px;
  }
  /* line 90, ../../sass/app/activities.scss */
  .map-info blockquote {
    font-size: 1em;
  }
}

@media only screen and (min-width: 48em) {
  /* line 97, ../../sass/app/activities.scss */
  .activities-map {
    padding: 5px;
    padding-left: 10px;
    height: 400px;
  }
}
/* line 106, ../../sass/app/activities.scss */
.feed li p {
  display: inline;
  position: relative;
  top: -4px;
  margin-left: 8px;
}
/* line 113, ../../sass/app/activities.scss */
.feed li i {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  font-size: 18px;
  overflow: hidden;
  line-height: 1.5;
}
/* line 125, ../../sass/app/activities.scss */
.feed .row.feed-list:first-child {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 132, ../../sass/app/activities.scss */
.feed .row.feed-list .columns .entry:first-child blockquote {
  margin-top: 0px !important;
}
/* line 138, ../../sass/app/activities.scss */
.feed .row.feed-list .short {
  margin-bottom: 10px;
}
/* line 141, ../../sass/app/activities.scss */
.feed .row.feed-list .short .short-comments {
  display: none;
  margin-bottom: 18px !important;
}
/* line 145, ../../sass/app/activities.scss */
.feed .row.feed-list .short .short-comments blockquote {
  margin: 0px 10px 10px 20px;
}
/* line 148, ../../sass/app/activities.scss */
.feed .row.feed-list .short .short-comments blockquote p:last-of-type {
  margin-bottom: 10px !important;
}
/* line 155, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row .columns {
  /*padding-left: 32px;*/
  line-height: 33px;
}
/* line 160, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row.short-actions {
  cursor: default;
  color: white;
  font-size: 0.8em;
}
/* line 166, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row.short-actions a.comments {
  font-size: 1em;
  color: white !important;
}
/* line 176, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row.short-actions .action.new-comment {
  height: 30px;
  margin-top: -3px !important;
}
/* line 180, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row.short-actions .action.new-comment a {
  text-indent: -50px;
}
/* line 183, ../../sass/app/activities.scss */
.feed .row.feed-list .short .row.short-actions .action.new-comment a span {
  color: white;
}
@media only screen and (min-width: 48em) {
  /* line 160, ../../sass/app/activities.scss */
  .feed .row.feed-list .short .row.short-actions {
    font-size: 0.9em;
  }
  /* line 195, ../../sass/app/activities.scss */
  .feed .row.feed-list .short .row.short-actions .action.new-comment a {
    text-indent: -60px;
  }
}
/* line 210, ../../sass/app/activities.scss */
.feed .row.feed-list .short.expanded .short-comments {
  display: inherit;
}

/* line 219, ../../sass/app/activities.scss */
.feed li,
.groups li {
  cursor: pointer;
}
/* line 222, ../../sass/app/activities.scss */
.feed li:hover,
.groups li:hover {
  color: green;
}

/* line 225, ../../sass/app/activities.scss */
.comment-form .comment {
  /*height: 100px;*/
}

/* line 229, ../../sass/app/activities.scss */
span.text-length {
  margin-left: 5px;
  line-height: 28px;
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}
