/* Side Nav */
/* line 65, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.2/scss/foundation/components/_sub-nav.scss */
.sub-nav, .country-filter dl {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -0.25em 0 1.125em;
  padding-top: 0.25em;
  margin-right: 0;
  margin-left: -0.5625em;
}
/* line 37, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.2/scss/foundation/components/_sub-nav.scss */
.sub-nav dt, .country-filter dl dt,
.sub-nav dd,
.country-filter dl dd {
  float: left;
  display: inline;
  margin-left: 0.5625em;
  margin-bottom: 0.625em;
  font-weight: normal;
  font-size: 0.875em;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.2/scss/foundation/components/_sub-nav.scss */
.sub-nav dt a, .country-filter dl dt a,
.sub-nav dd a,
.country-filter dl dd a {
  color: #999999;
  text-decoration: none;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-4.1.2/scss/foundation/components/_sub-nav.scss */
.sub-nav dt.active a, .country-filter dl dt.active a,
.sub-nav dd.active a,
.country-filter dl dd.active a {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-weight: bold;
  background: green;
  padding: 0.1875em 0.5625em;
  cursor: default;
  color: white;
}

/* line 6, ../../sass/app/activities.scss */
.activity cite:before {
  content: "\2014 \0020";
  color: gray;
}
/* line 11, ../../sass/app/activities.scss */
.activity .activity-map {
  padding: 0 0 5px 0px;
  float: right;
}
@media only screen and (min-width: 48em) {
  /* line 17, ../../sass/app/activities.scss */
  .activity .activity-map {
    padding: 10px;
    padding-top: 0px;
  }
}

/* line 25, ../../sass/app/activities.scss */
.pac-container:after {
  content: "";
}
/* line 29, ../../sass/app/activities.scss */
.pac-container .pac-item {
  font-size: 0.8em;
  padding: 4px;
}

/* line 35, ../../sass/app/activities.scss */
.share-links {
  float: right;
  width: 125px;
  height: 20px;
  margin-bottom: 10px;
}
/* line 41, ../../sass/app/activities.scss */
.share-links > div {
  float: right;
}
/* line 45, ../../sass/app/activities.scss */
.share-links .fb-share {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  border: 1px solid #bababa;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #acacac;
  width: 58px;
  height: 20px;
  padding: 2px 5px 2px 2px;
  background-image: linear-gradient(#f4f4f4, #e4e4e4);
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);
}
/* line 58, ../../sass/app/activities.scss */
.share-links .fb-share:hover {
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);
}
/* line 63, ../../sass/app/activities.scss */
.share-links .fb-share i {
  color: #3B5998;
  font-size: 0.9em;
}
/* line 68, ../../sass/app/activities.scss */
.share-links .fb-share i p {
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);
  font-size: 0.75em;
  font-family: arial;
  font-weight: bold;
  font-style: normal;
  color: #3B5998;
  height: 18px;
  padding-left: 19px;
  margin-top: -17px;
}

/* line 83, ../../sass/app/activities.scss */
.activity-controls {
  margin-bottom: 10px;
}
/* line 86, ../../sass/app/activities.scss */
.activity-controls a {
  height: 24px;
  font-size: 0.9em;
}
/* line 90, ../../sass/app/activities.scss */
.activity-controls a:before, .activity-controls a:after {
  background-size: 14px 14px;
  background-repeat: no-repeat;
  content: "\00a0\00a0\00a0\00a0";
}
/* line 99, ../../sass/app/activities.scss */
.activity-controls .previous a:before {
  padding-right: 4px;
  background-position: 0px 3px;
  background-image: url("/images/left_green.svg");
}
/* line 107, ../../sass/app/activities.scss */
.activity-controls .next {
  text-align: right;
}
/* line 111, ../../sass/app/activities.scss */
.activity-controls .next a:after {
  padding-left: 5px;
  background-position: 5px;
  background-image: url("/images/right_green.svg");
}

/* line 120, ../../sass/app/activities.scss */
.activities-map {
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 48em) {
  /* line 120, ../../sass/app/activities.scss */
  .activities-map {
    padding: 5px;
    padding-left: 10px;
    height: 400px;
  }
}
/* line 133, ../../sass/app/activities.scss */
.activities-map img {
  max-width: inherit;
}

/* line 139, ../../sass/app/activities.scss */
.map-info {
  width: 300px;
}
/* line 143, ../../sass/app/activities.scss */
.map-info blockquote {
  border-left: none !important;
  margin: 0px !important;
  padding: 8px;
  font-size: 0.9em;
}
/* line 149, ../../sass/app/activities.scss */
.map-info blockquote p:last-of-type {
  margin-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  /* line 139, ../../sass/app/activities.scss */
  .map-info {
    width: 400px;
  }
  /* line 157, ../../sass/app/activities.scss */
  .map-info blockquote {
    font-size: 1em;
  }
}

/* line 166, ../../sass/app/activities.scss */
.country-filter > .columns {
  min-height: 20px;
  margin: 5px 0px 0px 0px !important;
}
/* line 171, ../../sass/app/activities.scss */
.country-filter dl {
  margin-bottom: 5px !important;
}
/* line 175, ../../sass/app/activities.scss */
.country-filter dl dt {
  margin-bottom: 3px;
  margin-left: 0px;
}
/* line 179, ../../sass/app/activities.scss */
.country-filter dl dt.active a {
  font-weight: normal;
}
/* line 183, ../../sass/app/activities.scss */
.country-filter dl dt a {
  padding: 2px 8px !important;
  vertical-align: bottom;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 193, ../../sass/app/activities.scss */
.feed-header {
  height: 50px;
}
/* line 196, ../../sass/app/activities.scss */
.feed-header h4 {
  margin-bottom: 0px;
}

/* line 203, ../../sass/app/activities.scss */
.feed li p {
  display: inline;
  position: relative;
  top: -4px;
  margin-left: 8px;
}
/* line 210, ../../sass/app/activities.scss */
.feed li i {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  font-size: 18px;
  overflow: hidden;
  line-height: 1.5;
}
/* line 221, ../../sass/app/activities.scss */
.feed .feed-more > .columns {
  margin-top: 10px;
  text-align: center;
}
/* line 227, ../../sass/app/activities.scss */
.feed .row.feed-list:first-child {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 234, ../../sass/app/activities.scss */
.feed .row.feed-list .columns .entry:first-child blockquote {
  margin-top: 0px !important;
}

/* line 243, ../../sass/app/activities.scss */
.feed li,
.groups li {
  cursor: pointer;
}
/* line 246, ../../sass/app/activities.scss */
.feed li:hover,
.groups li:hover {
  color: green;
}

/* line 249, ../../sass/app/activities.scss */
.comment-form .comment {
  /*height: 100px;*/
}

/* line 253, ../../sass/app/activities.scss */
span.text-length {
  margin-left: 5px;
  line-height: 28px;
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}
