/* line 4, ../../sass/app/comment.scss */
blockquote a.remove {
  color: #c60f13;
  opacity: 0.75;
  float: right;
  font-size: 0.9em;
  margin-right: -20px;
  margin-top: -4px;
}

/* line 14, ../../sass/app/comment.scss */
.row.short-comments blockquote {
  font-size: 0.9em;
}

/* line 19, ../../sass/app/comment.scss */
textarea.comment {
  font-size: 0.9em;
  border: 1px solid #dddddd;
}
