/* line 3, ../../sass/app/common.scss */
.action {
  margin-top: -5px !important;
}
/* line 6, ../../sass/app/common.scss */
.action ul {
  list-style: none;
  display: inline;
  width: auto;
  float: right;
}
/* line 12, ../../sass/app/common.scss */
.action ul li {
  float: left;
  padding-left: 5px;
}
/* line 17, ../../sass/app/common.scss */
.action ul > .separator {
  width: 2px;
  height: 24px;
  margin: 8px 1px 0 1px;
  border-right: 1px solid green;
}
/* line 29, ../../sass/app/common.scss */
.action a {
  font-size: 0.95em;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: green;
}
/* line 36, ../../sass/app/common.scss */
.action a.disabled {
  opacity: 0.3;
}
/* line 50, ../../sass/app/common.scss */
.action a.new-short {
  text-indent: -35px;
}
/* line 54, ../../sass/app/common.scss */
.action.new-comment {
  float: right;
}
/* line 57, ../../sass/app/common.scss */
.action.new-comment a {
  text-indent: -73px;
}
/* line 63, ../../sass/app/common.scss */
.action.new-comment span:before,
.action a.new-short:before,
.action a.new-story:before {
  content: "+";
  font-size: 1.6em;
  font-weight: bold;
  padding-right: 1px;
  top: 3px;
  position: relative;
}
/* line 72, ../../sass/app/common.scss */
.action a.new-story:before {
  content: "+";
}

@media only screen and (min-width: 48em) {
  /* line 80, ../../sass/app/common.scss */
  .action a {
    font-size: 0.9em;
  }

  /* line 84, ../../sass/app/common.scss */
  .action {
    margin-top: 4px !important;
  }

  /* line 88, ../../sass/app/common.scss */
  .action.new-short a {
    text-indent: -28px;
  }

  /* line 92, ../../sass/app/common.scss */
  .action.new-comment a {
    text-indent: -65px;
  }
}
/* line 97, ../../sass/app/common.scss */
.activity {
  margin-bottom: 10px;
}
/* line 100, ../../sass/app/common.scss */
.activity .action {
  margin-top: -25px !important;
  height: 30px;
}
/* line 104, ../../sass/app/common.scss */
.activity blockquote {
  margin-bottom: 0px;
}
