/* line 2, ../../sass/app/home.scss */
#homepage .columns {
  text-align: center;
}
/* line 6, ../../sass/app/home.scss */
#homepage .or {
  padding: 10px 0px 40px 0px;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 13, ../../sass/app/home.scss */
.dashboard {
  margin: 15px;
  margin-top: 0;
}
/* line 17, ../../sass/app/home.scss */
.dashboard h4, .dashboard .or {
  color: white;
}
/* line 20, ../../sass/app/home.scss */
.dashboard h4 {
  margin-bottom: 40px;
}
/* line 23, ../../sass/app/home.scss */
.dashboard .normal {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 28, ../../sass/app/home.scss */
.dashboard .groups {
  margin-top: 30px;
}
/* line 31, ../../sass/app/home.scss */
.dashboard .groups .panel {
  border: 1px solid #333232;
  background-color: rgba(48, 48, 48, 0.53) !important;
  cursor: pointer;
}
/* line 36, ../../sass/app/home.scss */
.dashboard .groups .panel a {
  font-size: 1.1em;
}
/* line 40, ../../sass/app/home.scss */
.dashboard .groups .panel p {
  font-size: 0.9em;
  color: white;
}
/* line 47, ../../sass/app/home.scss */
.dashboard blockquote {
  border-left: none;
  margin-bottom: 25px;
}
/* line 51, ../../sass/app/home.scss */
.dashboard blockquote p {
  font-size: 1.5em;
  color: gray;
}
/* line 56, ../../sass/app/home.scss */
.dashboard blockquote cite {
  font-size: 0.8em;
  color: #cccccc;
}
