/* line 1, ../../sass/app/nav.scss */
.logo {
  float: left;
  width: 45px;
  height: 45px;
  background-color: green;
}
/* line 7, ../../sass/app/nav.scss */
.logo a {
  font-size: 1.8em;
  color: white !important;
  display: block;
  padding: 7px 12px;
}

/* line 15, ../../sass/app/nav.scss */
.top-bar {
  margin-left: 45px;
}
/* line 19, ../../sass/app/nav.scss */
.top-bar li.main-settings a span {
  padding-left: 40px;
}
/* line 23, ../../sass/app/nav.scss */
.top-bar li.main-settings a img {
  width: 34px;
  padding: 2px;
  border: 1px solid gray;
  position: absolute;
  margin-top: -6px;
}
@media only screen and (min-width: 58.75em) {
  /* line 23, ../../sass/app/nav.scss */
  .top-bar li.main-settings a img {
    margin-top: 5px;
  }
}

/* line 37, ../../sass/app/nav.scss */
.columns.no-side-padding {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  background-color: #009700;
}

/* line 42, ../../sass/app/nav.scss */
li.login-services {
  height: 40px;
}
/* line 45, ../../sass/app/nav.scss */
li.login-services a {
  padding-top: 5px !important;
  line-height: 35px !important;
}
/* line 50, ../../sass/app/nav.scss */
li.login-services p {
  display: inline;
  position: relative;
  top: -5px;
  margin-left: 8px;
  font-size: 0.7em;
}
/* line 58, ../../sass/app/nav.scss */
li.login-services i {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  font-size: 18px;
  overflow: hidden;
  font-style: normal;
}
