<template name="searchableLocation">
  {{#with activity}}
    <label>Location Search <a href="#" class="show-advanced-location">advanced</a></label>
    <input type="text" class="location-search" id="location-{{_id}}" value="{{location}}" placeholder="Enter a location...">
    <div class="location-coords input-subtext"></div>
    <div class="location-fields">
      <input type="hidden" id="lat" value="{{lat}}">
      <input type="hidden" id="lng" value="{{lng}}">
      <label>City</label>
      <input type="text" id="city" value="{{city}}">
      <label>Region</label>
      <input type="text" id="region" value="{{region}}">
      <label>Country</label>
      <input type="text" id="country" value="{{country}}">
    </div>
  {{/with}}
</template>
