<template name="imageSlider">
  <div id="slider-{{_id}}" class="sequence">
    <div class="sequence-prev"></div>
    <div class="sequence-next"></div>
    <ul class="sequence-canvas">
    </ul>
  </div>
</template>

<template name="sliderImage">
  <li>
    <div class="photo" data-slider-image="{{image}}">
      <img class="main" />
      {{> sliderDetails this}}
    </div>
  </li>
</template>

<template name="sliderDetails">
  {{#if hasDetails}}
    <div class="details">
      <h2 class="title">{{title}}</h2>
      <h3 class="description">{{description}}</h3>
    </div>
  {{/if}}
</template>