@import "../settings";
@import "../components";
@import "compass";
@import "foundation/components/sub-nav";

.activity {
  cite:before { 
    content: "\2014 \0020";
    color: gray; 
  }

  .activity-map {
    float: right;
    padding: 0;
    padding-bottom: 5px;      
    
    &.hide-for-small {
      padding: 10px;
    }
  }
}

.pac-container {
  &:after {
    content: "";
  }

  .pac-item {
    font-size: 0.8em;
    padding: 4px;
  }
}

.share-links {
  float: right;
  width: 125px;
  height: 20px;
  margin-bottom: 10px;

  & > div {
    float: right;
  }

  .fb-share {
    @include border-radius(4px);
  
    display: block;
    border: 1px solid #bababa;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #acacac;
    width: 58px;
    height: 20px;
    padding: 2px 5px 2px 2px;
    background-image: linear-gradient(color-stops(#f4f4f4, #e4e4e4));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);

    &:hover {
      background-image: linear-gradient(color-stops(#fff, #f2f2f2));
      background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);
    }

    i {
      color: #3B5998;
      font-size: 0.9em;
      // @include border-radius(4px);

      p {
        text-shadow: 0 1px 3px rgba(255, 255, 255, .7);
        font-size: 0.75em;
        font-family: arial;
        font-weight: bold;
        font-style: normal;
        color: #3B5998;
        height: 18px;
        padding-left: 19px;
        margin-top: -17px;
      }
    }
  }
}

.activity-controls {
  margin-bottom: 10px;

  a {
    height: 24px;
    font-size: 0.9em;

    &:before, &:after {
      background-size: 14px 14px;
      background-repeat: no-repeat;
      content: "\00a0\00a0\00a0\00a0";
    }
  }

  .previous {
    a {
      &:before {
        padding-right: 4px;
        background-position: 0px 3px;
        background-image: url("/images/left_green.svg");
      }
    }
  }

  .next {
    text-align: right;

    a {
      &:after {
        padding-left: 5px;
        background-position: 5px;
        background-image: url('/images/right_green.svg');
      }
    }
  }
}

.activities-map {
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;

  @media only screen and (min-width: 48em) {
    padding: 5px;
    padding-left: 10px;
    height: 400px;
  }

  img {
    max-width: inherit;
  }
}


.map-info {
  width: 300px;
  // height: 200px;

  blockquote {
    border-left: none !important;
    margin: 0px !important;
    padding: 8px;
    font-size: 0.9em;

    p:last-of-type {
      margin-bottom: 10px;
    }
  }

  @media only screen and (min-width: 48em) {
    width: 400px;

    blockquote {
      font-size: 1em;
    }
  }
}

.country-filter {
  // margin-top: 5px !important;

  & > .columns {
    min-height: 20px; 
    margin: 5px 0px 0px 0px !important;
  }

  dl {
    @include sub-nav();
    
    margin-bottom: 5px !important;

    dt {
      margin-bottom: 3px;
      margin-left: 0px;

      &.active a {
        @include standard-bar-background();
 
        font-weight: normal;
      }

      a {
        padding: 2px 8px !important;
        vertical-align: bottom;
        -webkit-border-radius: 12px;
        border-radius: 12px;
      }      
    }
  }
}

.feed-header {
  height: 50px;

  ul {
    margin-bottom: 0em;

    @media only screen {
      // margin-top: 1.8em;
    }

    @media only screen and (min-width: 48em) {
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }

  h4, h5 {
    width: 100%;
  }

  h4 {
    margin-bottom: 0px;

    &.show-for-small {
      font-size: 1.5em;
      text-transform: uppercase;
      display: inline-block;
      zoom: 1;
      letter-spacing: 1px;

      &.wide {
        letter-spacing: 2px;
      }

      &.wider {
        letter-spacing: 1px;
      }
    }
  }

  h5 {
    &.show-for-small {
      color: #888;
      display: inline-block;
      font-size: 1em;
      zoom: 1;

      &.wide {
        letter-spacing: 2px;
      }

      &.wider {
        letter-spacing: 3px;
      }

      .sub-header {
        letter-spacing: 1px;
      }
    }
  }
}

.feed {
  li { 
    p {
      display: inline;
      position: relative;
      top: -4px;
      margin-left: 8px;
    }

    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      font-size: 18px;
      overflow: hidden;
      line-height: 1.5;
    }
  }

  .feed-more > .columns {
    margin-top: 10px;
    text-align: center;
  }

  .row.feed-list {
    &:first-child {
      padding-left: 0px;
      padding-right: 0px;
    }

    .columns {
      .entry:first-child {
        blockquote {
          margin-top: 0px !important;
        }
      }
    }
  }
}

.feed li,
.groups li {
  cursor: pointer;

  &:hover { color: green; }
}

span.text-length {
  margin-left: 5px;
  line-height: 28px;
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}