@import "../settings";
@import "compass";

.activity cite:before { 
    content: "\2014 \0020";
    color: gray; 
}

.feed {
  li { 
    p {
      display: inline;
      position: relative;
      top: -4px;
      margin-left: 8px;
    }

    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      font-size: 18px;
      overflow: hidden;
      line-height: 1.5;
    }
  }
  .row.feed-list {
    &:first-child {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.short {
  margin-bottom: 10px;
  
  a.short-comments {
    font-size: 1em;
    color: white !important;

    &:before {
      background-image: url('/images/right.svg');
      background-repeat: no-repeat;
      background-size: 14px 18px;
      content: "\00a0\00a0";
      display: block;
      padding-left: 14px;
    }

    &.open:before {
      background-image: url("/images/down.svg");
    }
  }

  .commentList {
    blockquote {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }

  .row {
    .columns {
      /*padding-left: 32px;*/
      line-height: 33px;
    }

    &.short-actions {
      font-size: 0.9em;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0;
      background-color: green;
      color: white;
      
      box-shadow: 0px 0px 20px #CCC, 0px 0px 20px #CCC;

      .action {
        &.new-comment {
          height: 30px;
          margin-top: -3px !important;

          span {
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 48em) {
  .short a.short-comments,
  .short span.short-comments {
    font-size: 0.9em;
  }
}

.activities-map {
  text-align: right;
  float: right;
  min-width: 120px;
  min-height: 120px;
  
  img {
    margin: 20px 0 10px 0;
  }
}

.feed li,
.groups li {
  cursor: pointer;

  &:hover { color: green; }
}

.comment-form .comment {
    /*height: 100px;*/
}

span.text-length {
  margin-left: 5px;
  line-height: 28px;
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0.6;
}