@import "../settings";

.action {
  margin-top: -5px !important;

  ul {
    list-style: none;
    display: inline;
    width: auto;
    float: right;

    li {
      float: left;
      padding-left: 5px;
    }

    & > .separator {
      width: 2px;
      // border: solid red 1px;
      height: 24px;
      margin: 8px 1px 0 1px;
      border-right: 1px solid $primary-color;

      &:before {
      }
    }
  }

  a {
    font-size: 0.95em;
    height: 34px;
    line-height: 33px;
    padding: 0;
    color: $primary-color;

    &.disabled {
      opacity: 0.3;
    }

    span {
      position: absolute;
      right: 0;
      display: block;
      width: 14px;
      height: 0;
      margin-right: 15px;
    }
  }

  a.new-short {
    text-indent: -35px;
  }

  &.new-comment a {
    text-indent: -73px;
  }
  
  &.new-comment span:before,
  a.new-short:before {
    content: "+";
    font-size: 1.6em;
    font-weight: bold;
    padding-right: 3px;
    top: 3px;
    position: relative;
  }

  a.new-story:before {
    @extend a.new-short:before;

    content: "+";
  }
}

@media only screen and (min-width: 48em) {
  .action a {
    font-size: 0.9em;
  }
  
  .action {
    margin-top: 4px !important;
  }

  .action.new-short a {
    text-indent: -28px;
  }

  .action.new-comment a {
    text-indent: -65px;
  }
}

.activity {
  margin-bottom: 10px;
  
  .action {
    margin-top: -25px !important;
    height: 30px;
  }
  blockquote {
    margin-bottom: 0px;
  }
}