@import "../components";
@import "compass/css3/transform";

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: -1px;

  .ribbon {
    @include rotate(45deg);
    @include standard-bar-background($notice-color);

    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif;
    color: #f3f3f3;
    text-align: center;    
    position: relative;
    padding: 7px 0;
    left: 6px;
    top: 14px;
    width: 104px;
    // background-color: #A00000;
    // background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
    // @include box-shadow(rgba(0,0,0,.3) 0 0 3px);

    &:before, &:after {
      content: "";
      // border-top: 3px solid #6e8900;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}




.alert-box {
  &.large {
    font-size: 1.2em;
  }
  &.clear {
    background-color: #fff;
    border-color: #f9f9f9;
    color: inherit;
  }
}

.action {
  margin-top: -5px !important;

  ul {
    list-style: none;
    display: inline;
    width: auto;
    float: right;

    li {
      float: left;
      padding-left: 5px;
    }

    & > .separator {
      width: 2px;
      // border: solid red 1px;
      height: 24px;
      margin: 8px 1px 0 1px;
      border-right: 1px solid $primary-color;

      &:before {
      }
    }
  }

  a {
    font-size: 0.95em;
    height: 34px;
    line-height: 33px;
    padding: 0;
    color: $primary-color;

    &.disabled {
      opacity: 0.3;
    }

    // span {
    //   position: absolute;
    //   right: 0;
    //   display: block;
    //   width: 14px;
    //   height: 0;
    //   margin-right: 15px;
    // }
  }

  a.new-short {
    text-indent: -35px;
  }

  &.new-comment {
    float: right;

    a {
      text-indent: -73px;
    }
  }
  
  &.new-comment span:before,
  a.new-short:before,
  a.new-story:before {
    content: "+";
    font-size: 1.6em;
    font-weight: bold;
    padding-right: 1px;
    top: 3px;
    position: relative;
  }
}

@media only screen and (min-width: 48em) {
  .action a {
    font-size: 0.9em;
  }
  
  .action {
    margin-top: 4px !important;
  }

  .action.new-short a {
    text-indent: -28px;
  }

  .action.new-comment a {
    text-indent: -65px;
  }
}

.activity {
  margin-bottom: 10px;
  
  .action {
    margin-top: -25px !important;
    height: 30px;
  }
  blockquote {
    margin-bottom: 0px;
  }
}