@import "../settings";

blockquote { 
  a.remove {
    color: $alert-color;
    float: right;
    font-size: 0.9em;
    margin-right: -20px;
    margin-top: -3px;
  }
}

.row.short-comments {
  blockquote {
    font-size: 0.9em;
  }
}

textarea.comment {
  font-size: 0.9em;
  border: 1px solid #dddddd;
  // border-top: none;
}