@import "../components";

.comment {
  @include entry-with-profile(3.7em);

  font-size: 0.9em;
}

.comment-form {
  @include grid-row(nest);

  &.expanded {
    .user-comment {
      .top-section {
        .picture {
          display: inherit;
        }

        .details {
          padding-left: 3.3em;

          #comment {
            height: 5em;
          }

          .button {
            display: inline-block;
          }
        }
      }
    }
  }

  .user-comment {
    @include entry-with-profile(3.3em, false);

    .top-section {
      margin-bottom: 0em;

      .picture {
        display: none;
      }
  
      .details {
        padding-left: 0em;
        
        .button {
          display: none;
          margin-bottom: 0em;
        }

        #comment {
          font-size: 0.9em;
          border: 1px solid #dddddd;
          height: 2.5em;
          margin-bottom: 0.3em;
          min-height: 0em;
        }        
      }
    }
  }
}