@import "../components";
@import "compass/css3/transform";

.ribbon-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: -1px;

  .ribbon {
    @include standard-bar-background($notice-color);

    background-color: #1f4100;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
    color: #f3f3f3;
    text-align: center;
    position: relative;
    padding: 11px;
    height: 40px;
    width: 40px;

    &:before, &:after {
      content: "";
      // border-top: 3px solid #6e8900;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}




.alert-box {
  &.large {
    font-size: 1.2em;
  }
  &.clear {
    background-color: #fff;
    border-color: #f9f9f9;
    color: inherit;
  }
}

.activity {
  margin-bottom: 10px;
  
  .action {
    margin-top: -25px !important;
    height: 30px;
  }
  blockquote {
    margin-bottom: 0px;
  }
}