@import "../components";
@import "foundation/components/alert-boxes";

@include keyframe(mapInserted);
@include keyframe(galleryInserted);

$handle-bg-color: lighten($topbar-bg, 20%);
$handle-trim-color: lighten($handle-bg-color, 80%);
$handle-height: 14px;
$handle-offset: 1px;
$handle-hover-offset: 5px;

.feed-handle {
  border-top: 2px solid $handle-bg-color;
  position: relative;
  clear: left;

  & > div {
    height: $handle-height;
    width: 30px;
    margin: 0 auto;
    background-color: $handle-bg-color;

    &:before {
      content: "";
      position: absolute;
      top: $handle-offset;
      width: 24px;
      height: 0.15em;
      background: $handle-trim-color;
      box-shadow: 0 0.25em 0 0 $handle-trim-color, 0 0.5em 0 0 $handle-trim-color;
      margin-left: 3px;
    }
  }

  &.ui-draggable-dragging > div {
    display: none;
  }
}

.feed-extra {
  @include grid-column(12, $collapse: true);

  position: relative;
  z-index: 3;
  padding: 0em;
  // padding-bottom: 5em;
  margin-top: -45px;
  height: $map-height-small;

  @media only screen and (min-width: 48em) {
    @include grid-column($feed-extra-columns-large, $collapse: true);

    height: $map-height-large;
  }

  &.home {
    border-bottom: 1px solid darken($handle-bg-color, 10%);
    height: $home-map-height-small;

    @media only screen and (min-width: 48em) {
      @include grid-column($feed-extra-columns-large, $collapse: true);

      height:$home-map-height-large;
    }
  }

  &.no-photos {
    padding-bottom: 0em;

    .gallery {
      display: none;
    }
  }

  .alert-box {
    @include alert-style($secondary-color);

    border-left: none;
    border-right: none;
  }

  .map {
    @include grid-row(nest);
    @include radius();

    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;

    & > .inner {
      @include grid-column(12, $collapse: true);

      padding: 0;
      height: 100%;

      #map-canvas {
        @include animation(mapInserted);
        
        img { 
          max-width: none;
        }
        
        label { 
          width: auto; 
          display: inline; 
        }
      }

      .alert-box {
        margin-top: 0em;
        line-height: $map-height-small - 20px;

        @media only screen and (min-width: 48em) {
          line-height: $map-height-large - 20px;
        }
      }

      .infoBox {
        & > img {
          z-index: 2
        }

        .map-info .inner {
          margin-top: emCalc(-15px);
        }
      }
    }
  }

  .gallery {
    @include grid-row(nest);
    @include animation(galleryInserted);

    // margin: 0 !important;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: -1;
    width: 100%;

    &.visible {
      z-index: 1;
    }

    & > .inner {
      @include grid-column(12, $collapse: true);

      // padding: 0;

      .recent-photos {
        // padding == nav + thumbnails
        padding-top: 80px + 80px;
        background-color: $common-dark-color;
        height: 100%;
        // height: $photo-feed-height-small - 80px;

        // @media only screen and (min-width: 48em) {
        //   height: $photo-feed-height-large - 80px;
        // }
      }

      .galleria-map {
        width: 50%;
        top: 15px;
        right: 15px;
        z-index: 2;
        position: absolute;
        text-align: right;
        color: gray;
        font-style: italic;

        &:before {
          content: "Back to Map";
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .gallery-more {
    @include more-button();

    display: none;
  }
}