@import "../components";
@import "foundation/components/sub-nav";

.country-filter {
  margin-top: 0.2em !important;
  background-color: #f5f5f5;

  & > .columns {
    min-height: 20px; 
    margin: 5px 0px 0px 0px !important;
  }

  dl {
    @include sub-nav();
    
    margin-bottom: 5px !important;

    dt {
      margin-bottom: 3px;
      margin-left: 0px;
      margin-right: 16px;
      padding: 0 0 3px 0;

      &.active { 
        border-bottom: 2px solid green;

        a {
          @include border-radius(0em);

          background: inherit;
          font-weight: normal;
          color: #999;
        }

      }

      a {
        @include border-radius(0em);

        padding: 6px 0px !important;
        vertical-align: bottom;
      }      
    }
  }
}

.feed-header {
  @include grid-row(nest);

  margin-top: 0.2em;
  margin-bottom: 0.2em;

  .inner {
    @include grid-column(12);

    ul {
      margin-bottom: 0em;

      @media only screen {
        // margin-top: 1.8em;
      }

      @media only screen and (min-width: 48em) {
        margin-top: 0em;
        margin-bottom: 0em;
      }
    }

    h4, h5 {
      width: 100%;
    }

    h4 {
      margin-bottom: 0px;

      &.show-for-small {
        font-size: 1.5em;
        text-transform: uppercase;
        display: inline-block;
        zoom: 1;
        letter-spacing: 1px;

        &.wide {
          letter-spacing: 2px;
        }

        &.wider {
          letter-spacing: 1px;
        }
      }
    }

    h5 {
      &.show-for-small {
        color: #888;
        display: inline-block;
        font-size: 1em;
        zoom: 1;

        &.wide {
          letter-spacing: 2px;
        }

        &.wider {
          letter-spacing: 3px;
        }

        .sub-header {
          letter-spacing: 1px;
        }
      }
    }
  }
}

.feed {
  @include grid-column(12);

  @media only screen and (min-width: 48em) {
    @include grid-column(9);
  }

  li { 
    p {
      display: inline;
      position: relative;
      top: -4px;
      margin-left: 8px;
    }

    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      font-size: 18px;
      overflow: hidden;
      line-height: 1.5;
    }
  }

  .feed-list {
    @include grid-row(nest);

    &:first-child {
      padding-left: 0px;
      padding-right: 0px;
    }

    & > .content {
      @include grid-column(12);
      // @include multi-column();

      display: block;
      height: 100%;
      min-height: 100%;
      border: 1px solid red;
      padding-left: 0.4em;
      padding-right: 0.4em;

      @media only screen and (min-width: 48em) {
        padding-left: 0.9em;
        padding-right: 0.9em;
      }
    }
  }

  .feed-more {
    @include more-button();
  }
}

.feed-item {
  $story-radius: 4px;

  margin-top: 0em;
  position: absolute;

  &:first-of-type {
  }

  .ribbon-wrapper {
    .ribbon {
      border-top-right-radius: $story-radius;
    }
  }

  .activity {
    @include entry-with-profile(3.3em);
    @include border-top-left-radius($story-radius);
    @include border-top-right-radius($story-radius);
    @include standard-panel-color();

    border-bottom: none;
    position: relative;
    z-index: 90;
    padding-bottom: 0px;

    .actions {
      margin-top: 0.1em;
    }

    &.story {
      .actions {
        // margin-top: 0.1em;
        right: 3.3em;
      }
    }

    .content {
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      a.more {
        line-height: 2.2em;

        &:after {
          content: "\00a0→";
        }
      }
    }
  }

  .item-actions {
    @include grid-row(nest);
    @include standard-bar();
    @include standard-corners();

    margin: 0 !important;
    cursor: default;
    color: white;
    font-size: 0.8em;

    .columns {
      /*padding-left: 32px;*/
      line-height: 33px;
    }

    a.comments {
      font-size: 1em;
      color: white !important;

      &:before {
        @extend .up-down:before;

        background-position: 0em 0.2em;
        
        @media only screen and (min-width: 48em) {
          background-position: 0em 0.3em;
        }
      }
    }

    .action {
      margin-top: -5px !important;

      ul {
        list-style: none;
        display: inline;
        width: auto;
        float: right;

        li {
          float: left;
          padding-left: 5px;
        }

        & > .separator {
          width: 2px;
          // border: solid red 1px;
          height: 24px;
          margin: 8px 1px 0 1px;
          border-right: 1px solid $primary-color;

          &:before {
          }
        }
      }

      a {
        font-size: 0.95em;
        height: 34px;
        line-height: 33px;
        padding: 0;
        color: $primary-color;

        &.disabled {
          opacity: 0.3;
        }

        // span {
        //   position: absolute;
        //   right: 0;
        //   display: block;
        //   width: 14px;
        //   height: 0;
        //   margin-right: 15px;
        // }
      }

      a.new-short {
        text-indent: -35px;
      }

      &.new-comment {
        float: right;

        a {
          text-indent: -73px;
        }
      }
      
      &.new-comment span:before,
      a.new-short:before,
      a.new-story:before {
        content: "+";
        font-size: 1.6em;
        font-weight: bold;
        padding-right: 1px;
        top: 3px;
        position: relative;
      }
    }

    @media only screen and (min-width: 48em) {
      .action a {
        font-size: 0.9em;
      }
      
      .action {
        margin-top: 4px !important;
      }

      .action.new-short a {
        text-indent: -28px;
      }

      .action.new-comment a {
        text-indent: -65px;
      }
    }

    .action {
      &.new-comment {
        height: 30px;
        margin-top: -3px !important;

        a {
          text-indent: -50px;

          span {
            color: white;
          }
        }
        
      }
    }

    @media only screen and (min-width: 48em) {
      font-size: 0.9em;

      .action {

        &.new-comment a {
          text-indent: -60px;
        }
      }
    }
  }

  .short-comments {
    @include grid-row(nest);

    height: 0px;
    margin: 0em;
    overflow: hidden;

    .comment {

    }

    .inner {
      @include grid-column(12);

      background-color: #FFF;
      border: 1px solid #f3f3f3;
      border-top: none;
      padding: 0em;
    }
  }

  .feed-comment-form {
    @include grid-row(nest);
    
    overflow: hidden;
    height: 0px;
    margin: 0em;
    background-color: #FFF;

    .inner {
      @include grid-column(12);
      @include border-bottom-left-radius($story-radius);
      @include border-bottom-right-radius($story-radius);

      padding-bottom: 0.5em;
    }
  }

  &.expanded {
    .item-actions {
      a.comments {
        &:before {
          @extend .up-down.open:before;
        }
      }
    }

    .short-comments {
      height: 100%;
      max-height: 450px;
      overflow-y: scroll;
    }

    .feed-comment-form {
      height: 100%;
    }
  }
}

@include keyframe(nodeInserted);

.feed-extra {
  @include grid-column(12);

  padding: 0.3em;
  padding-top: 0em;

  @media only screen and (min-width: 48em) {
    @include grid-column(3);
  }

  .map {
    @include grid-row(nest);
    @include animation(nodeInserted);

    margin-bottom: 1em;

    & > .inner {
      @include grid-column(12);

      height: $map-height-small;

      @media only screen and (min-width: 48em) {
        height: $map-height-large;
      }
    }
  }

  .gallery {
    .recent-photos {
      height: $photo-feed-height-small;

      @media only screen and (min-width: 48em) {
        height: $photo-feed-height-large;
      }
    }
  }

  .gallery-more {
    @include more-button();
  }
}

.feed li,
.groups li {
  cursor: pointer;

  &:hover { color: $primary-color; }
}