@import "../components";
@import "foundation/components/panels";

.feed-header {
  @include grid-row($behavior: nest);

  display: none;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

  & > .inner {
    @include grid-column(12);

    ul {
      margin-bottom: 0em;

      @media only screen {
        // margin-top: 1.8em;
      }

      @media only screen and (min-width: 48em) {
        margin-top: 0em;
        margin-bottom: 0em;
      }
    }

    h4, h5 {
      width: 100%;
    }

    h4 {
      margin-bottom: 0px;

      &.show-for-small {
        font-size: 1.5em;
        text-transform: uppercase;
        display: inline-block;
        zoom: 1;
        letter-spacing: 1px;

        &.wide {
          letter-spacing: 2px;
        }

        &.wider {
          letter-spacing: 1px;
        }
      }
    }

    h5 {
      font-size: 1.5em;

      &.show-for-small {
        color: #888;
        display: inline-block;
        font-size: 1em;
        zoom: 1;

        &.wide {
          letter-spacing: 2px;
        }

        &.wider {
          letter-spacing: 3px;
        }

        .sub-header {
          letter-spacing: 1px;
        }
      }
    }
  }
}

@include keyframe(feedInserted);

.feed-item {
  @include standard-item();

  // Hide slider content on left / right
  overflow: hidden;
}

.feed {
  @include grid-column(12, $collapse: true);

  z-index: 4;
  padding-top: $topbar-height;

  .feed-item:first-of-type {
    margin-top: $standard-margin * 2;
  }

  li { 
    p {
      display: inline;
      position: relative;
      top: -4px;
      margin-left: 8px;
    }

    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      font-size: 18px;
      overflow: hidden;
      line-height: 1.5;
    }
  }

  .feed-list {
    @include grid-row($behavior: nest);

    margin: 0em;
    margin-bottom: $standard-margin;
    margin-top: $standard-margin*2;

    @media only screen and (min-width: 48em) {
      // margin: $standard-margin;

      &.faded {
        opacity: 0.5;
      }
    }

    & > .content {
      @include grid-column(12, $collapse: true);

    }
  }

  .feed-more {
    @include more-button();

    padding: 0em;
    margin-bottom: 0em;
  }
}

.feed li,
.groups li {
  cursor: pointer;

  &:hover { color: $primary-color; }
}