@import "../components";

.group-editor,
.story-editor,
.settings-editor {
  @include standard-form-panel();

  padding-top: 5px;

  .section, section {
    &:first-of-type {
      border-top: 1px solid #CCC;
    }

    &.active:first-of-type {
      border-top: inherit;
    }
  }

  .show-advanced-location {
    &:before {
      content: "- ";
    }
  }

  .location-fields {
    display: none;
  }

  #text {
    height: 240px;
  }

  .description {
    height: 80px;
  }

  .button {
    margin-bottom: 0em;
  }
}

.section-container {
  .group-editor,
  .story-editor,
  .settings-editor {
    background-color: transparent;
  }
}