@import "../components";

.group-editor,
.story-editor,
.settings-editor {
  @include standard-form-panel();

  .show-advanced-location {
    &:before {
      content: "- ";
    }
  }

  .location-fields {
    display: none;
  }

  #text {
    height: 240px;
  }

  .description {
    height: 80px;
  }

  .button {
    margin-bottom: 0em;
  }
}

.group-editor {
  margin-top: 45px;
}