@import "../components";

#homepage {
  .columns {
    text-align: center;
  }
}

.dashboard {
  margin: 15px;
  margin-top: 0;

  h4, .or {
    color: white;
  }

  h4 {
    margin-bottom: 40px;
  }

  .normal {
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-quote {
    @include grid-row($behavior: nest);

    margin-left: 0em;
    margin-right: 0em;

    & > .inner {
      @include grid-column(12, $collapse: true);

      h1 {
        display: none;
        margin-top: 0.5em;
        margin-bottom: 0em;
        font-weight: normal;
        font-family: annie-use-your-telescope, sans-serif;
        color: $notice-color;
        text-align: center;
        font-size: 3.8em;

        @media only screen and (min-width: 48em) {
          margin-top: 0em;
          font-size: 4.8em;
        }
      }

      blockquote {
        border-left: none;
        text-align: center;
        padding-top: 0em;
        margin: 1.25em 0;
        
        p {
          font-size: 1.3em;

          @media only screen and (min-width: 48em) {
            font-size: 1.5em;
          }
          color: gray;
          margin-bottom: $standard-margin;
        }

        cite {
          font-size: 0.8em;
          color: lighten(gray, 30%);
        }
      }
    }
  }


  .groups { 
    margin-top: 5px;
    pointer-events: all;

    @media only screen and (min-width: 48em) {
      margin-top: 20px;
    }

    .more {
      @include grid-row($behavior: nest);

      margin-left: 0em;
      margin-right: 0em;

      .inner {
        @include grid-column(12);

        .or {
          margin-bottom: 1em;
          text-align: center;
          padding: 10px 0px 20px 0px;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }

    .list {
      @include grid-row($behavior: nest);
      
      margin-left: 0em;
      margin-right: 0em;

      .group {
        @include grid-column(12);

        @media only screen and (min-width: 48em) {
          @include grid-column(4);
        }

        .panel {
          border: 1px solid rgb(51, 50, 50);
          background-color: rgba(48, 48, 48, 0.53) !important;
          cursor: pointer;
          text-align: center;
          padding: emCalc(10px);
          padding-bottom: emCalc(20px);
          height: 125px;

          @media only screen and (min-width: 48em) {
            height: 165px;
          }
          
          a {
            font-size: 1.1em;
            line-height: 1.4em;
          }

          p {
            font-size: 0.9em;
            color: white;
          }

          .started {
            position: absolute;
            bottom: 4px;
            left: 22px;
            color: gray;
            z-index: 9;
            width: 150px;

            i, p {
              line-height: 16px;
              color: gray;
            }

            p {
              font-size: 0.8em;
              padding-left: 5px;
              float: left;
            }

            i {
              font-size: 0.9em;
              float: left;
            }
          }

          .follow-group {
            $followed-color: rgba(255, 255, 0, 0.7);

            text-align: right;
            bottom: 22px;
            right: 20px;
            position: absolute;
            z-index: 10;

            .text {
              line-height: 20px;
              font-size: 0.9em;
              color: rgba(255, 255, 255, 0.3);
              float: right;
              display: none;
              overflow: hidden;
              padding-right: 5px;

              &:before{
                content: 'Bye, bye';
                white-space: nowrap;
              }

              &.follow:before {
                content: 'Follow';
                color: $followed-color;
              }
            }

            a {
              font-size: 0.9em;
              float: right;

              &:before {
                color: rgba(255, 255, 255, 0.3);
                line-height: 18px;
                background-position: 4px 4px;
                background-size: 28px;
              }

              &.followed:before {
                color: $followed-color;
              }
            }
          }
        }
      }
    }

    .actions {
      @include grid-row($behavior: nest);

      margin-left: 0em;
      margin-right: 0em;
      text-align: center;
      pointer-events: all;

      & > .inner {
        @include grid-column(12);

        .button.large {
          font-size: 1em;

          @media only screen and (min-width: 48em) {
            font-size: 1.25em;
          }         
        }
      }
    }
  }
}