@import "../components";

#homepage {
  .columns {
    text-align: center;
  }
    
  .or {
    padding: 10px 0px 40px 0px;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.dashboard {
  margin: 15px;
  margin-top: 0;
  
  h4, .or {
    color: white;
  }

  h4 {
    margin-bottom: 40px;
  }

  .normal {
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-quote {
    @include grid-row(nest);

    & > .inner {
      @include grid-column(12, $collapse: true);

      blockquote {
        border-left: none;
        // margin-bottom: 25px;
        text-align: center;
        padding: 1em;
        padding-top: 0em;
        
        p {
          font-size: 1.5em;
          color: gray;
          margin-bottom: $standard-margin;
        }

        cite {
          font-size: 0.8em;
          color: lighten(gray, 30%);
        }
      }
    }
  }


  .groups { 
    margin-top: 5px;

    @media only screen and (min-width: 48em) {
      margin-top: 20px;
    }

    .group {
      @include grid-column(12);

      @media only screen and (min-width: 48em) {
        @include grid-column(4);
      }

      .panel {
        border: 1px solid rgb(51, 50, 50);
        background-color: rgba(48, 48, 48, 0.53) !important;
        cursor: pointer;
        height: 175px;
        text-align: center;
        
        a {
          font-size: 1.1em;
        }

        p {
          font-size: 0.9em;
          color: white;
        }
      }
    }

    .actions {
      @include grid-row(nest);

      margin-top: 45px;
      text-align: center;

      @media only screen and (min-width: 48em) {
        margin-top: 110px;
      }

      & > .inner {
        @include grid-column(12);
      }
    }
  }
}