@import "../components";
@import "foundation/components/sub-nav";
@import "foundation/components/section";

.nav, .secondary-nav {
  position: relative;
  z-index: 6;
}

.nav {
  &.normal {
    background: #333333;
  }

  .home-title {
    position: absolute;
    margin: auto 0;
  }

  .logo {
    float: left;
    z-index: 5;
    position: relative;
    height: 45px;
    width: 45px;
    background-color: $primary-color;

    a {
      color: white !important;
      display: block;
      padding: 0px 12px;
      font-size: 2.4em;
      font-family: 'Lily Script One', cursive;

      &:before {
        content: "u";
      }
    }

    &.home {
      @media only screen and (min-width: 48em) {
        width: 170px;

        a {
          padding: 4px 10px;
          font-size: 2em;

          &:before {
            content: "Underplan";
          }
        }
      }
    }
  }
}

.group-controls {
  $group-controls-width: 180px;

  @include grid-row(nest);

  margin-left: 0em;
  margin-right: 0em;
  z-index: 5; 
  position: relative;
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  width: auto;

  & > .inner {
    @include grid-column(12);

    margin-left: 0em;
    margin-right: 0em;
    padding: $standard-padding;

    & > div {
      margin-right: $standard-padding; 
    }

    .country-container {
      @include section-container($section-type:horizontal-nav);

      background: none;
      height: $standard-control-height;
      pointer-events: all;
      float: left;
      width: $group-controls-width;
      margin-bottom: 0em;
      box-shadow: 0px 1px 3px rgba(0,0,0,0.3);

      &.horizontal-nav {
        background: transparent;
      }

      section, .section {
        width: $group-controls-width;

        .title {
          @include border-radius($standard-corner-radius);

          padding-right: 0.5em;
          text-align: center;
          background: $standard-map-control-bg;
          padding: 0 $standard-padding;
          margin-left: 0px;
        }

        &.active .title {
          @include border-bottom-radius(0em);

          background: $standard-panel-bg;
          opacity: 1.0;
        }

        .content {
          @include border-bottom-radius($standard-corner-radius);

          width: $group-controls-width;
          right: 0 !important;
          left: 0px !important;
          background: $standard-panel-bg;
          border-top: none;
          opacity: 0.8;
          padding: $standard-padding;

          ul.country-filter {
            width: 100%;
            padding: 0em;
          }
        }
      }

      .side-nav li {
        text-align: center;

        &.active a {
          font-weight: normal;
          cursor: default;
        }
      }
    }
  }

}

.group-nav {
  padding-top: 0em;
  max-height: emCalc(36px);
  height: 30px;
  position: relative;
  z-index: 5;
  margin: auto 0;
  width: 100%;
  border: 1px solid red;

  .country-filter-section {
    margin: 0 auto;
    width: 120px;
    height: 100%;
    text-align: center;
  }
}

.top-bar-section {
  font-family: $header-font-family;

  ul li > a,
  .top-bar .toggle-topbar.menu-icon a span {
    font-weight: normal !important;
  }
}

.top-bar .toggle-topbar.menu-icon a {
  text-indent: -44px !important;

  span {
    font-weight: 100;
  }
}

.title-area h1 {
  color: white;
  padding: 0 10px 0 10px;
}

.top-bar {
  margin: 0px 0px 0px 45px !important;
  overflow: inherit;

  &.expanded {
    background: rgba(17, 17, 17, 0.8) !important;
  }

  .name h1 {
    a {
      font-weight: normal !important;
      padding: 0 5px;
      font-size: 1.3em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  li.follow-group {
    a {
      height: 45px;
      line-height: 20px;

      @media only screen and (min-width: 48em) {
        padding: 0 15px;
      }

      &:before {
        line-height: 18px;
        padding-right: 4px;
        color: rgba(255, 255, 255, 0.3);

        @media only screen and (min-width: 48em) {
          line-height: 42px;
        }
      }

      &.followed:before {
        color: yellow;
      }
    }
  }

  li.settings {
    @media only screen and (min-width: 58.75em) {
      ul.dropdown li a { 
        padding: 15px !important;
      }
    }

    a {
      span {
        padding-left: 34px;
      }

      img {
        width: 28px;
        padding: 2px;
        border: 1px solid #2b2b2b;
        position: absolute;
        margin-top: -4px;
        @include border-radius(3em);
      }

      @media only screen and (min-width: 58.75em) {
        span {
          padding-left: 40px;
        }

        img {
          width: 34px;
          margin-top: 5px;
        }
      }
    }
  }
}

.columns.no-side-padding {
  // box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 151, 0);
}

.top-bar-section {
  li.text {
    color: lighten($topbar-bg, 70%);
    opacity: 1;
    padding: 10px;
    height: 45px;
    cursor: default;

    @media only screen and (min-width: 48em) {
      color: lighten($topbar-bg, 90%);
      background-color: $topbar-bg;
    }
  }  
}

li.login-services {
  height: 45px;

  a {
    padding-top: 5px !important;
    line-height: 35px !important;
  }

  p {
    display: inline;
    position: relative;
    top: -5px;
    margin-left: 8px;
    font-size: 0.7em;
  }

  i {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    font-size: 18px;
    overflow: hidden;
    font-style: normal;
  }
}


