@import "../components";

$entry-bottom-margin: 0.9em;

.story {
  @include entry-with-profile(3.3em);

  margin-bottom: $entry-bottom-margin;

  .content {
    padding-bottom: 0.5em;
  }
}

.short-form {
  @include grid-row(nest);

  margin-bottom: 10px;

  .form-content {
    @include grid-column(12);

    form {
      @include border-radius(4px);
      @include standard-panel-color();

      padding: 10px;

      .text-section, 
      .location-section, 
      .action-section {
        @include grid-row(nest);
      }

      .text-section {
        
        .input-field {
          @include grid-column(8);

          textarea {
            height: 40px;
            min-height: 0px !important;
          }
        }

        .add-story {
          @include grid-column(4);

          text-align: center;
          padding-left: 0px !important;
          margin-top: 0.8em;
        }
      }

      .location-section, 
      .action-section {
        display: none;

        .button {
          margin-bottom: 0em;
        }
      }

      &.expanded {
        .location-section, 
        .action-section {
          display: inherit;
        }

        .text-section {
          .input-field {
            @include grid-column(12);
    
            textarea {
              margin-bottom: 0.8em;
              height: 80px;
            }
          }

          .add-story {
            display: none;
          }
        }
      }
    }
  }
}

.feed-item {
  margin-bottom: 2em;

  .short,
  .feed-story {
    @include entry-with-profile(3.3em);
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);
    @include standard-panel-color();

    border-bottom: none;

    // -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    // -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    // box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;

    padding-bottom: 0px;
    margin: 0.5em 0.5em 0 0.5em;

    .content {
      padding-bottom: 0.5em;
    }
  }

  .feed-story {
    .content {
      a.more {
        line-height: 2.2em;

        &:after {
          content: "\00a0→";
        }
      }
    }
  }

  .short-actions {
    @include grid-row(nest);
    @include standard-bar();
    @include standard-corners();

    margin: 0 !important;
    cursor: default;
    color: white;
    font-size: 0.8em;

    .columns {
      /*padding-left: 32px;*/
      line-height: 33px;
    }

    a.comments {
      font-size: 1em;
      color: white !important;

      &:before {
        @extend .up-down:before;

        background-position: 0em 0.2em;
        
        @media only screen and (min-width: 48em) {
          background-position: 0em 0.2em;
        }
      }
    }

    .action {
      &.new-comment {
        height: 30px;
        margin-top: -3px !important;

        a {
          text-indent: -50px;

          span {
            color: white;
          }
        }
        
      }
    }

    @media only screen and (min-width: 48em) {
      font-size: 0.9em;

      .action {

        &.new-comment a {
          text-indent: -60px;
        }
      }
    }
  }

  .short-comments {
    @include grid-row(nest);

    height: 0px;
    overflow: hidden;
    margin: 0 0.5em 0.5em 0.5em;

    .comment {

    }

    .inner {
      @include grid-column(12);

      @include border-bottom-left-radius(4px);
      @include border-bottom-right-radius(4px);

      background-color: #f7f7f7;
      border: 1px solid #f3f3f3;
      border-top: none;
      padding-bottom: 0.5em;
    }
  }

  &.expanded {
    .short-actions {
      a.comments {
        &:before {
          @extend .up-down.open:before;
        }
      }
    }
    .short-comments {
      height: 100%;
    }
  }
}